<div class="clear"></div>
<div [hidden]="tablehide">
  <div class="col-6">
    <h5 class="main-heading">Branches</h5>
  </div>
  <div class="row px-3">
    <div class="col-sm-6 col-xs-12">
      <div class="position mb-3">
        <input (keyup)="filter($event)" placeholder="Search" #input class="form-control">
        <div class="search-icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 pr-4">
      <button mat-raised-button color="primary" style="float:right;" (click)="funaddBranch()">Add Branch</button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="table-width">
      <table mat-table matSort [dataSource]="dataSource"
        class="mat-elevation-z8 filter-header remove-header-color tblwidth">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="comname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
        </ng-container>
        <ng-container matColumnDef="subcomname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Company Name </th>
          <td mat-cell *matCellDef="let element"> {{element.subcomname}} </td>
        </ng-container>
        <ng-container matColumnDef="telnumber">
          <th style="padding-right: 10px;" mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-nameconcat" matTooltip="{{ element.phone_number }}"> {{element.phone_number}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="branchhead">
          <th style="padding-right: 10px;" mat-header-cell *matHeaderCellDef mat-sort-header> Branch Head </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-nameconcat" matTooltip="{{ element.branch_head }}"> {{element.branch_head}} </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th style="padding-right: 25px;" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.active == true ? 'Active' : 'InActive'}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'" matTooltip="Edit" class=""
              (click)="funEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


<div [hidden]="addBranch">
  <div class="other-fields">
    <h4>Branch Details</h4>
    <div class="row">
      <div class="col-md-3">
        <mat-label>Branch Departments</mat-label>
        <ng-multiselect-dropdown-angular7 [placeholder]="'Select Departments'" [data]="dropdownList"
          [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"  (onDeSelectAll)="onDeSelectAll($event)">
        </ng-multiselect-dropdown-angular7>
      </div>
      <div class="col-md-3">
        <mat-label>Parent Departments</mat-label>
        <ng-multiselect-dropdown-angular7 [placeholder]="'Select Departments'" [data]="pdropdownList"
          [(ngModel)]="pselectedItems" [settings]="pdropdownSettings" (onSelect)="ponItemSelect($event)"
          (onSelectAll)="ponSelectAll($event)"  (onDeSelectAll)="ponDeSelectAll($event)">
        </ng-multiselect-dropdown-angular7>
      </div>
    </div>
    <span>Company Type :</span>
    <div class="row">
      <div class="col-md-3" style="margin-top: 11px;">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button color="primary" value="c" [checked]="pcompany" (change)="selectcomp()">Company</mat-radio-button>
        <mat-radio-button color="primary" value="s" [checked]="scompany" (change)="selectsubcomp()">Sub-Company</mat-radio-button>
    </mat-radio-group>
      </div>
      <div class="col-md-3" >
        <mat-form-field class="example-full-width full-width">
          <mat-label>Select Sub-Company</mat-label>
          <mat-select (selectionChange)="selectsubcompany($event)" [(ngModel)]="subcompid" [disabled]="subcomp">
            <mat-option *ngFor="let value of subcompanyvalues" [value]="value.id">
              {{ value.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput id="fname" #focusitem matInput [(ngModel)]="branchname" maxlength="100" autocomplete="off"
            (keydown.space)="funpreventSpace($event)" placeholder="Name" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput id="number" matInput [(ngModel)]="branchphnnumber" maxlength="100" autocomplete="off"
              (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <textarea matInput id="add" matInput [(ngModel)]="branchaddress" rows="2" maxlength="500" autocomplete="off"
              placeholder="Address"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <textarea matInput id="head" matInput [(ngModel)]="branchhead" rows="2" maxlength="500" autocomplete="off"
              placeholder="Branch Head"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-md-12 fieldset mt-3">
      <legend>Branch Contacts:</legend>
      <!-- <div class="col-md-12 p-3"> -->
        <div class="row">
          <div class="col-md-3">
            <div class="bdetails">
              Business Details :
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <mat-form-field class="example-full-width">
                <input matInput id="bdname" matInput [(ngModel)]="businessname" maxlength="100" autocomplete="off"
                  placeholder="Name" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <mat-form-field class="example-full-width">
                <input matInput id="bdemail" matInput [(ngModel)]="businessmail" maxlength="100" autocomplete="off"
                  placeholder="Email" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="">
              <mat-form-field class="example-full-width">
                <input matInput id="bpno" matInput [(ngModel)]="businessphnno" maxlength="100" autocomplete="off"
                  (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
              </mat-form-field>
            </div>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput id="bdname" matInput [(ngModel)]="businessname" maxlength="100" autocomplete="off"
              placeholder="Name" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput id="bdemail" matInput [(ngModel)]="businessmail" maxlength="100" autocomplete="off"
              placeholder="Email" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <mat-form-field class="example-full-width">
            <input matInput id="bpno" matInput [(ngModel)]="businessphnno" maxlength="100" autocomplete="off"
              (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
          </mat-form-field>
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-3">
          <div class="bdetails">
            Legal Details :
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="ldname" matInput [(ngModel)]="legalname" maxlength="100" autocomplete="off"
                placeholder="Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="ldemail" matInput [(ngModel)]="legalemail" maxlength="100" autocomplete="off"
                placeholder="Email" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="ldpno" matInput [(ngModel)]="legalphnno" maxlength="100" autocomplete="off"
                (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="bdetails">
            Corporate Details :
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="cdname" matInput [(ngModel)]="corporatename" maxlength="100" autocomplete="off"
                placeholder="Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="cdemail" matInput [(ngModel)]="corporateemail" maxlength="100" autocomplete="off"
                placeholder="Email" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="cdpno" matInput [(ngModel)]="corporarephnno" maxlength="100" autocomplete="off"
                (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="bdetails">
            Career Details :
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="crname" matInput [(ngModel)]="careername" maxlength="100" autocomplete="off"
                placeholder="Name" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="cremail" matInput [(ngModel)]="careeremail" maxlength="100" autocomplete="off"
                placeholder="Email" />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="">
            <mat-form-field class="example-full-width">
              <input matInput id="crpno" matInput [(ngModel)]="careerphnno" maxlength="100" autocomplete="off"
                (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="check-box">
      <mat-checkbox [(ngModel)]="ip_active" color="primary" (change)="selectcheck($event)">Active
      </mat-checkbox>
    </div>
    <div class="btn-right">
      <button mat-raised-button style="margin-right: 16px;" (click)="fungetBranches()">Cancel</button>
      <button [hidden]="savebtn" mat-raised-button color="primary" class="mgrt-15"
        (click)="funSaveBranch()">Save</button>
      <button [hidden]="updbtn" mat-raised-button color="primary" class="mgrt-15"
        (click)="funUpdBranch()">Update</button>
    </div>
  </div>
</div>