<section id="lower-conference-main">
        <div class="container">

            <div id="top-paragraph-text">
                <div class="center-icon"><svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="13.462" viewBox="0 0 19.231 13.462">
                        <path id="Path_215" data-name="Path 215" d="M8.731,11.731A3.365,3.365,0,1,0,5.365,8.365,3.369,3.369,0,0,0,8.731,11.731Zm0-4.808A1.442,1.442,0,1,1,7.288,8.365,1.44,1.44,0,0,1,8.731,6.923Zm.048,9.615H4.663a9.975,9.975,0,0,1,4.067-.962c.106,0,.221.01.327.01a4.4,4.4,0,0,1,1.577-1.74,11.275,11.275,0,0,0-1.9-.192C6.481,13.654,2,14.779,2,17.019v1.442H8.731V17.019A2.629,2.629,0,0,1,8.779,16.538Zm7.163-2.4c-1.769,0-5.288.971-5.288,2.885v1.442H21.231V17.019C21.231,15.106,17.712,14.135,15.942,14.135Zm1.163-1.75a2.4,2.4,0,1,0-2.327,0,2.354,2.354,0,0,0,2.327,0Z" transform="translate(-2 -5)" fill="#707070" />
                    </svg></div>

                <h2>Welcome to Creativeland Asia</h2>
                <!-- <p>Lorem ipsum dolor sit amet,
                  consetetur sadipscing elitr, sed<br>
                  diam nonumy eirmod tempor invidunt ut</p>

                <div class="read-more-contain">
                    <a href="javascript:void(0)">Know More</a>
                </div> -->

            </div>
            <div class="lower-conference-grid">
                <div class="row" *ngIf="conferences">

                    <div class="conference-box-col" *ngFor="let conference of conferences | keyvalue; index as i">
                        <div class="conference-member-box">
                            <div class="conference-member-header">
                                <!-- <img src="assets/images/member-1.png"> -->
                                <img [src]="smallImageAddress + conference.value.creator">
                                   <h5>
                                      {{userService.getUser(conference.value.creator)?.firstname}}
                                      {{userService.getUser(conference.value.creator)?.lastname}}
                                   </h5>
                                   <button class="btn_all" (click)="updateConf(conference, i)">

                                                                <svg xmlns="http://www.w3.org/2000/svg" width="81" height="18" viewBox="0 0 81 18">
  <g id="Group_5327" data-name="Group 5327" transform="translate(-1498 -554)">
    <g id="edit-24px-2" transform="translate(1498 554)">
      <path id="Path_94" data-name="Path 94" d="M0,0H18V18H0Z" fill="none"/>
      <path id="Path_95" data-name="Path 95" d="M11.3,7.515l.69.69L5.19,15H4.5v-.69l6.8-6.8M13.995,3a.751.751,0,0,0-.525.217L12.1,4.59,14.91,7.4,16.282,6.03a.747.747,0,0,0,0-1.057L14.527,3.218A.736.736,0,0,0,13.995,3ZM11.3,5.392,3,13.688V16.5H5.813l8.3-8.3Z" transform="translate(-0.75 -0.75)" fill="#544ef6"/>
    </g>
  </g>
</svg>

                                   </button>
                                   <button class="btn_all"  (click)="deleteConf(conference.value.id ,'conference')">
   

          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="18" viewBox="0 0 80 18">
  <g id="Group_5330" data-name="Group 5330" transform="translate(-1498 -650)">
    <g id="delete-24px" transform="translate(1498 650)">
      <path id="Path_100" data-name="Path 100" d="M0,0H18V18H0Z" fill="rgba(0,0,0,0)"/>
      <path id="Path_101" data-name="Path 101" d="M13.25,7.5V15h-6V7.5h6M12.125,3H8.375l-.75.75H5v1.5H15.5V3.75H12.875ZM14.75,6h-9v9a1.5,1.5,0,0,0,1.5,1.5h6a1.5,1.5,0,0,0,1.5-1.5Z" transform="translate(-1.25 -0.75)" fill="#544ef6"/>
    </g>
  </g>
</svg>
                                   </button>
                            </div>

                            <div class="conference-member-box-text">
                                <dd>
                                    <p>{{ conference.value.title }}</p>
                                    <p class="blue-c">
                                      {{conference.value.assignedUsers.length}}
                                      Participants</p>
                                </dd>

                                <dd>
                                    <p class="gray-c">Venue</p>
                                    <p>{{ meetingRooms[conference.value.meeting_room]?.name }}</p>
                                </dd>

                                <dd>
                                    <p class="gray-c">Time</p>
                                    <p class="red-c" *ngIf="conference.value.time < 0">
                                      Live
                                    </p>
                                    <p class="gray-c" *ngIf="conference.value.time > 0">
                                      {{ conference.value.startDate | date:'short' }}
                                    </p>
                                </dd>

                                <button type="button" [ngClass]="{'red-button':conference.value.time < 0}"
                                  (click)="join(conference.value.id)" [disabled]="conference.value.time > 0">
                                     <span *ngIf="conference.value.time > 0">
                                      Starts in: {{ conference.value.time | date:'H:mm:ss':'UTC'}}
                                    </span>
                                    
                                      <span *ngIf="conference.value.time < 0">
		                                    <svg xmlns="http://www.w3.org/2000/svg"
		                                         width="18" height="18" viewBox="0 0 18 18">
		                                        <path id="Path_1192" data-name="Path 1192"
		                                            d="M19,19V4H15V3H5V19H3v2H15V6h2V21h4V19Zm-6,
		                                            0H7V5h6Zm-3-8h2v2H10Z"
		                                              transform="translate(-3 -3)" fill="#fff" />
		                                    </svg>
		                                   
		                                    Join Now
                                      </span>
                                    </button>

                            </div>


                        </div>
                    </div>

<!--                    <div class="conference-box-col">-->
<!--                        <div class="conference-member-box">-->
<!--                            <div class="conference-member-header">-->
<!--                                <img src="assets/images/member-2.png">-->
<!--                                <h5>Anisha Agarwal</h5>-->
<!--                            </div>-->

<!--                            <div class="conference-member-box-text">-->
<!--                                <dd>-->
<!--                                    <p>Plan for Phase 2</p>-->
<!--                                    <p class="blue-c">12 Participants</p>-->
<!--                                </dd>-->

<!--                                <dd>-->
<!--                                    <p class="gray-c">Venue</p>-->
<!--                                    <p>Meeting Room - 4</p>-->
<!--                                </dd>-->

<!--                                <dd>-->
<!--                                    <p class="gray-c">Time</p>-->
<!--                                    <p>Tomorrow, 4:15 PM</p>-->
<!--                                </dd>-->


<!--                                <button type="button">-->
<!--                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">-->
<!--                                        <path id="Path_1192" data-name="Path 1192" d="M19,19V4H15V3H5V19H3v2H15V6h2V21h4V19Zm-6,0H7V5h6Zm-3-8h2v2H10Z" transform="translate(-3 -3)" fill="#fff" />-->
<!--                                    </svg>-->
<!--                                    Join Now</button>-->

<!--                            </div>-->


<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>

            <div id="create-conference-button">
                <a [routerLink]="['/conferences/create']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                            <g id="Group_2408" data-name="Group 2408">
                                <path id="Path_1171" data-name="Path 1171" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" fill="#fff" />
                                <path id="Path_1172" data-name="Path 1172" d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                                <path id="Path_1173" data-name="Path 1173" d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z" fill="#fff" />
                                <path id="Path_1174" data-name="Path 1174" d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z" fill="#fff" />
                            </g>
                        </g>
                    </svg>
                    Create Conference
                </a>
            </div>

        </div>
    </section>
