#top-paragraph-text {
    max-width: 780px;
}


#top-paragraph-text .center-icon svg, #top-paragraph-text .center-icon path, #top-paragraph-text .center-icon circle, #top-paragraph-text .center-icon g {
    fill: #707070;
}

#top-paragraph-text .center-icon {

background: #F8F2F2;
}
.conference-member-header{
    display: flex;
}
.btn_all{
    width: 10px;
    border: none;
    background: none;
    color: #544EF6;
    cursor: pointer;
    padding-right: 20px;

}
#confirm {
text-align: center;
 }