<!-- Create group -->
<form [formGroup]="groupForm" (submit)="saveGroup()">
    <div id="create-group-box-main">
        <div class="create-group-box-header">
            <div id="create-groupbox-close" (click)="toggleGroup();">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
                    <path id="Path_35" data-name="Path 35"
                        d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                        transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
                </svg>
            </div>
            <h3 *ngIf="!isEditGroup">Create Group</h3>
            <h3 *ngIf="isEditGroup">Edit Group</h3>

        </div>

        <div id="create-group-surface-bg">

            <div class="group-name-main">
                <div class="group-name-field">
                    <div class="group-name-title">Name of the Group</div>
                    <input *ngIf="!isEditGroup" type="text" value="" formControlName="title">
                    <input *ngIf="isEditGroup" type="text" [(ngModel)]="editGroupTopic"  [ngModelOptions]="{standalone: true}" >
                    <span class="errornote" *ngIf="errors">{{errors.title}}</span>
                </div>

                <div class="group-name-field" *ngIf="!isEditGroup && currentConversations == null">
                    <div class="group-name-title">People Added</div>
                    <span class="errornote" *ngIf="errors">{{errors.assigned_users}}<br></span>
                    <ng-container *ngIf="groupUsers.length > 0">
                        <label class="people-add-label" *ngFor="let userID of groupUsers">
                            <span class="blue-l">
                                <h4>{{chatUtil.abbreviate(users[userID].firstname+' '+ users[userID].lastname)}}</h4>
                            </span>{{ users[userID].firstname }} {{users[userID].lastname}}
                        </label>
                    </ng-container>
                </div>

                <div class="group-name-field" *ngIf="isEditGroup">
                    <div class="group-name-title">People Added</div>
                    <span class="errornote" *ngIf="errors">{{errors.assigned_users}}<br></span>                    
                    <ng-container *ngFor="let userID of editGroupUsers"> 
                        <label class="people-add-label" *ngIf="userID != userService.currentUser?.id">                                                   
                            <span class="blue-l">
                                <h4>{{chatUtil.abbreviate(users[userID].firstname+' '+ users[userID].lastname)}}</h4>
                            </span>{{ users[userID].firstname }} {{users[userID].lastname}}                                
                        </label>
                    </ng-container>                    
                </div>

            </div>

            <div class="create-conference-group">
                <div class="create-conference-inner">

                    <div class="create-conference-search">
                        <input type="text" value="" (keyup)="search($event)" placeholder="Type Contact or Group Name">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49"
                                viewBox="0 0 17.49 17.49">
                                <path id="Path_6" data-name="Path 6"
                                    d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z"
                                    transform="translate(-3 -3)" fill="#544ef6" />
                            </svg>
                        </button>
                    </div>

                    <div class="participant-qty-main">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                            <path id="Path_1184" data-name="Path 1184"
                                d="M16.5,12A2.5,2.5,0,1,0,14,9.5,2.492,2.492,0,0,0,16.5,12ZM9,11A3,3,0,1,0,6,8,2.987,2.987,0,0,0,9,11Zm7.5,3c-1.83,0-5.5.92-5.5,2.75V19H22V16.75C22,14.92,18.33,14,16.5,14ZM9,13c-2.33,0-7,1.17-7,3.5V19H9V16.75a3.941,3.941,0,0,1,2.37-3.47A12.283,12.283,0,0,0,9,13Z"
                                transform="translate(-2 -5)" fill="#544ef6" />
                        </svg> 
                        <span *ngIf="!isEditGroup">
                            {{groupUsers.length}} participants
                        </span>
                        <span *ngIf="isEditGroup">
                            {{editGroupUsers.length-1}} participants
                        </span>
                        
                    </div>
                    <!--Contact List-->
                    <div class="create-conference-contactlist users-list">
                        <ul>
                            <ng-container *ngFor="let user of users | keyvalue">
                                <li *ngIf="!filtered(user.value.id)">
                                    <a href="javascript:void(0);">
                                        <div class="c-conference-avatar">
                                            <span class="chat-avatar-label blue-l">
                                                <!-- <h2>
                                              {{abbreviate(fullname(user, true))}}
                                            </h2> -->
                                                <img [src]="smallProfileImage + user.value.id">
                                            </span>
                                        </div>

                                        <div class="c-conference-text-detail">
                                            <h5>{{chatUtil.fullname(user, true)}}</h5>
                                            <div class="c-conference-jobprofile">
                                                {{userService.getDesignationName(user.value)}}
                                            </div>
                                        </div>

                                        <div *ngIf="!isEditGroup" class="c-conference-right-icon" (click)="toggleUser(user.value.id)"
                                            [ngClass]="{'blue-icon':(!groupHasUser(user.value.id))}">
                                            <svg id="Group_2429" data-name="Group 2429"
                                                xmlns="http://www.w3.org/2000/svg" width="19" height="16.5"
                                                viewBox="0 0 19 16.5" *ngIf="groupHasUser(user.value.id)">
                                                <path id="Path_1186" data-name="Path 1186" d="M9,17l3-2.94A9.341,9.341,0,0,0,11,
                                              14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,
                                              1,0,7,8a4,4,0,0,0,4,4" transform="translate(-3 -4)" fill="#07d755"
                                                    fill-rule="evenodd" />
                                                <path id="Path_1187" data-name="Path 1187" d="M15.47,20.5,12,17l1.4-1.41,2.07,
                                                  2.08L20.6,12.5,22,13.91Z" transform="translate(-3 -4)" fill="#07d755"
                                                    fill-rule="evenodd" />
                                            </svg>

                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" *ngIf="!groupHasUser(user.value.id)">
                                                <path id="Path_1178" data-name="Path 1178" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,
                                                  2Zm5,
                                                  11H13v4H11V13H7V11h4V7h2v4h4Z" transform="translate(-2 -2)"
                                                    fill="#544ef6" />
                                            </svg>
                                        </div>

                                        <!-- Edit group -->
                                        <div *ngIf="isEditGroup" class="c-conference-right-icon shani" (click)="toggleEditUser(user.value.id)"
                                            [ngClass]="{'blue-icon':(!editGroupHasUser(user.value.id))}">
                                            <svg id="Group_2429" data-name="Group 2429"
                                                xmlns="http://www.w3.org/2000/svg" width="19" height="16.5"
                                                viewBox="0 0 19 16.5" *ngIf="editGroupHasUser(user.value.id)">
                                                <path id="Path_1186" data-name="Path 1186" d="M9,17l3-2.94A9.341,9.341,0,0,0,11,
                                              14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,
                                              1,0,7,8a4,4,0,0,0,4,4" transform="translate(-3 -4)" fill="#07d755"
                                                    fill-rule="evenodd" />
                                                <path id="Path_1187" data-name="Path 1187" d="M15.47,20.5,12,17l1.4-1.41,2.07,
                                                  2.08L20.6,12.5,22,13.91Z" transform="translate(-3 -4)" fill="#07d755"
                                                    fill-rule="evenodd" />
                                            </svg>

                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" *ngIf="!editGroupHasUser(user.value.id)">
                                                <path id="Path_1178" data-name="Path 1178" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,
                                                  2Zm5,
                                                  11H13v4H11V13H7V11h4V7h2v4h4Z" transform="translate(-2 -2)"
                                                    fill="#544ef6" />
                                            </svg>
                                        </div>
                                        <!-- Ends here -->
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <div id="create-group-bottom-button" *ngIf="!isEditGroup">
            <button id="create-group-button-2" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                        <g id="Group_2408" data-name="Group 2408">
                            <path id="Path_1171" data-name="Path 1171"
                                d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                                fill="#fff" />
                            <path id="Path_1172" data-name="Path 1172"
                                d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                            <path id="Path_1173" data-name="Path 1173"
                                d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z"
                                fill="#fff" />
                            <path id="Path_1174" data-name="Path 1174"
                                d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z"
                                fill="#fff" />
                        </g>
                    </g>
                </svg>
                Create Group</button>
        </div>

        <div id="create-group-bottom-button" *ngIf="isEditGroup">
            <button id="create-group-button-2" type="button" (click)="updateGroup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                        <g id="Group_2408" data-name="Group 2408">
                            <path id="Path_1171" data-name="Path 1171"
                                d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                                fill="#fff" />
                            <path id="Path_1172" data-name="Path 1172"
                                d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                            <path id="Path_1173" data-name="Path 1173"
                                d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z"
                                fill="#fff" />
                            <path id="Path_1174" data-name="Path 1174"
                                d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z"
                                fill="#fff" />
                        </g>
                    </g>
                </svg>
                Update Group</button>
        </div>

    </div>
</form>