<div id="chat-msgbox-main" class="chat-msgbox-popup slim-popup">
    <div class="chat-msgbox-inner" [ngClass]="{'chatbox-show': showDeclinedWindow()}">
        <div class="chat-msgbox-header chat-msg-header">
            <div class="chat-persons-title-main">
                <div class="chat-person-avatar">
                    <span class="chat-img-label">
                        <img
                            [src]="smallProfileImage + users[conversationService.getOtherUser(currentConversations!)]?.id">
                    </span>
                </div>
                <ng-container>
                    <h4>{{users[conversationService.getOtherUser(currentConversations!)]?.firstname
                        + ' ' + users[conversationService.getOtherUser(currentConversations!)]?.lastname}}</h4>
                </ng-container>
            </div>

            <div class="chat-msg-right">
                <ul>
                    <li>
                        <button id="personal-chatbox-open" type="button" class="green-round-button"
                        (click)="callUser(conversationService.getOtherUser(currentConversations!))" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.284" height="18.284"
                                viewBox="0 0 18.284 18.284">
                                <path id="Path_11" data-name="Path 11"
                                    d="M6.6,5.032a12.507,12.507,0,0,0,.457,2.631L5.834,8.881a15.059,15.059,0,0,1-.772-3.85H6.6m10.015,12.21a12.954,12.954,0,0,0,2.641.457v1.513a15.67,15.67,0,0,1-3.86-.762l1.219-1.209M7.571,3H4.016A1.019,1.019,0,0,0,3,4.016,17.267,17.267,0,0,0,20.268,21.284a1.019,1.019,0,0,0,1.016-1.016V16.723a1.019,1.019,0,0,0-1.016-1.016,11.587,11.587,0,0,1-3.626-.579.853.853,0,0,0-.315-.051,1.04,1.04,0,0,0-.721.295l-2.235,2.235a15.388,15.388,0,0,1-6.694-6.694L8.912,8.678a1.019,1.019,0,0,0,.254-1.036,11.539,11.539,0,0,1-.579-3.626A1.019,1.019,0,0,0,7.571,3Z"
                                    transform="translate(-3 -3)" fill="#fff" />
                            </svg>
                        </button>
                    </li>

                    <!-- 
                    <li>
                        <button type="button" class="green-round-button"
                            (click)="callUser(conversationService.getOtherUser(currentConversations!))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
                                <path id="Path_57" data-name="Path 57"
                                    d="M12,2v8H2V2H12m1-2H1A1,1,0,0,0,0,1V11a1,1,0,0,0,1,1H13a1,1,0,0,0,1-1V7.5l4,4V.5l-4,4V1A1,1,0,0,0,13,0Z"
                                    fill="#f7f7f7" />
                            </svg>
                        </button>
                    </li>
                     -->

                    <li>
                        <button id="chat-message-box-close" type="button" class="white-round-button"
                            (click)="closechatWindow(hasConvoConversation)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778"
                                viewBox="0 0 6.656 10.778">
                                <path id="Path_35" data-name="Path 35"
                                    d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                                    transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Chat Box Starts -->
        <div id="chat-msgbox-surface-bg" class="scrollDownContainer">
            <!--   missed call -->
            <!--            <div class="calll-alert-chat missed-call">-->
            <!--                <label>-->
            <!--                    <svg xmlns="http://www.w3.org/2000/svg" width="24.01" height="17.98" viewBox="0 0 24.01 17.98">-->
            <!--                        <path id="Path_1168" data-name="Path 1168" d="M23.71,16.67a17.016,17.016,0,0,0-23.42,0,1.014,1.014,0,0,0,0,1.42l2.48,2.48a1,1,0,0,0,.71.29,1.026,1.026,0,0,0,.7-.28,11.419,11.419,0,0,1,2.66-1.85,1,1,0,0,0,.56-.9v-3.1A14.624,14.624,0,0,1,12,14a14.911,14.911,0,0,1,4.6.72v3.1a1.008,1.008,0,0,0,.56.9,11.788,11.788,0,0,1,2.67,1.85.982.982,0,0,0,.7.28,1,1,0,0,0,.71-.29l2.48-2.48a1,1,0,0,0,.29-.71.982.982,0,0,0-.3-.7ZM5.4,17.23A13.365,13.365,0,0,0,3.53,18.5L2.46,17.43a14.838,14.838,0,0,1,2.95-1.9v1.7Zm15.08,1.26a13.778,13.778,0,0,0-1.88-1.27v-1.7a15.131,15.131,0,0,1,2.95,1.9l-1.07,1.07ZM7,6.43l4.94,4.94L19.01,4.3,17.6,2.88,11.94,8.54,8.4,5H11V3H5V9H7Z" transform="translate(0 -2.88)" fill="#fff" />-->
            <!--                    </svg> <span>Miss call</span> Thu 2:39 AM-->
            <!--                </label>-->
            <!--            </div>-->
            <ng-container *ngFor="let msg of currentConversations!.messages,let i = index;">
                <div [ngClass]="chatUtil.chatClass(msg.sender)">
                    <div class="msg-label">
                        <div class="msg-label-title">
                            <div class="msg-label-name">
                                <span>
                                    {{ !chatUtil.isCurrentUser(msg.sender) ? chatUtil.fullname(users[msg.sender], false) : '' }}
                                </span>

                            </div>
                            <!--                        <div class="chat-time">{{msg.date | date: 'h:MM:ss a'}}</div>-->
                            <div class="chat-time">{{msg.date | date: 'h:mm a'}}</div>
                        </div>

                        <span *ngIf="msg.type=='t'">
                            {{ msg.text }}
                        </span>
                        <span *ngIf="msg.type=='c'">
                          <span *ngIf="msg.call.established">
                            Call {{ callDuration(msg)  | date:'H:mm:ss':'UTC' }}
                          </span>                          
                          <span *ngIf="!msg.call.established">
                          
                            {{ isSelf(msg.sender) ? "Call declined" : "Missed call" }}
                          </span>                          
                        </span>
                        <span *ngIf="msg.type=='f'">
                            <a [href]="fileRoot +  msg.data_id" target="_blank">{{ msg.text }}</a>
                        </span>
                        <app-audio-player *ngIf="msg.type=='a'" [audioSrc]="audioUrl + msg.data_id"></app-audio-player>
                        <!--                    <strong>File Uploaded</strong>-->
                    </div>
                </div>


                <div class="date-label" *ngIf="dateSection(i)">
                    <span>
                        {{chatUtil.smartDate(msg.date) }}
                    </span>
                </div>

            </ng-container>

        </div>
        <!-- Chat Box Ends -->

        <div class="chat-msgbox-input-main">
            <div class="chat-msgbox-input-inner">
                <input type="text" #messageText placeholder="Type your message here...."
                    (keyup.enter)="sendMessage(messageText.value);messageText.value=''">
                <div class="chat-msgbox-send">

                    <!--  Audio Message-->
                    <button class="voice-msg-button onfocus-button" [ngClass]="stopRecording ? '' : 'red-button'" (click)="onToggleRecording()">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0c-49.456,0-89.693,40.237-89.693,89.693v176.279c0,49.45,40.237,89.687,89.693,89.687
			c49.456,0,89.693-39.957,89.693-89.071V89.693C345.693,40.237,305.456,0,256,0z M308.315,266.583
			c0,28.503-23.47,51.698-52.315,51.698s-52.321-23.464-52.321-52.315V89.693c0-28.851,23.47-52.321,52.321-52.321
			s52.321,23.47,52.315,52.321V266.583z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="237.314" y="409.226" width="37.372" height="84.088" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M305.207,474.628h-98.414c-10.321,0-18.686,8.365-18.686,18.686c0,10.321,8.365,18.686,18.686,18.686h98.414
			c10.321,0,18.686-8.365,18.686-18.686C323.893,482.993,315.528,474.628,305.207,474.628z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M397.392,234.822c-10.321,0-18.686,8.365-18.686,18.686v14.949c0,67.656-55.049,122.706-122.706,122.706
			c-67.662,0-122.706-55.049-122.706-122.706v-14.949c0-10.321-8.365-18.686-18.686-18.686s-18.686,8.365-18.686,18.686v14.949
			c0,88.267,71.811,160.078,160.078,160.078s160.078-71.811,160.078-160.078v-14.949
			C416.078,243.188,407.713,234.822,397.392,234.822z" />
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg></button>

                    <!--  Attachment -->
                    <input type="file" id="file" #file (change)="onUploadFile($event)" hidden>
                    <button class="attach-doc-button" type="button" (click)="file.click()">
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512"
                            width="512" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m226 512c-49.626 0-90-40.374-90-90v-302c0-66.168 53.832-120 120-120s120 53.832 120 120v302h-30v-302c0-49.626-40.374-90-90-90s-90 40.374-90 90v302c0 33.084 26.916 60 60 60s60-26.916 60-60v-242c0-16.542-13.458-30-30-30s-30 13.458-30 30v242h-30v-242c0-33.084 26.916-60 60-60s60 26.916 60 60v242c0 49.626-40.374 90-90 90z" />
                        </svg>
                    </button>
                    <!--Send-->
                    <button class="send-msg-button" (click)="sendMessage(messageText.value);messageText.value='';">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.892" height="20.892"
                            viewBox="0 0 20.892 20.892">
                            <path id="Path_29" data-name="Path 29"
                                d="M1.523,2.3,7.212,4.735l-5.7-.758L1.523,2.3M7.2,8.9,1.515,11.341V9.659L7.2,8.9M.008,0,0,5.3,11.364,6.818,0,8.333l.008,5.3,15.9-6.818Z"
                                transform="translate(0 11.25) rotate(-45)" fill="#fff" />
                        </svg>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="personal-call-msgbox-inner "
    [ngClass]="{'p-call-show': showDeclinedWindow() }"><!-- callNotPicked && personalCallMessageBox -->
        <div class="chat-msgbox-header chat-msg-header">

            <div class="chat-persons-title-main">
                <div class="chat-person-avatar">
                    <span class="chat-img-label green-l">
                        <h2 style="display: none;">S</h2>
                        <img [src]="smallProfileImage +userService.currentUser?.id">
                    </span>

                </div>
                <h4>{{userService.currentUser?.firstname
                    + ' ' + userService.currentUser?.lastname}}</h4>
                <!-- <h5>COO</h5> -->

            </div>

            <div class="chat-msg-right">
                <ul>
                    <!-- <li>
                        <button type="button" class="dark-green-round-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.284" height="18.284" viewBox="0 0 18.284 18.284">
                                <path id="Path_11" data-name="Path 11" d="M6.6,5.032a12.507,12.507,0,0,0,.457,2.631L5.834,8.881a15.059,15.059,0,0,1-.772-3.85H6.6m10.015,12.21a12.954,12.954,0,0,0,2.641.457v1.513a15.67,15.67,0,0,1-3.86-.762l1.219-1.209M7.571,3H4.016A1.019,1.019,0,0,0,3,4.016,17.267,17.267,0,0,0,20.268,21.284a1.019,1.019,0,0,0,1.016-1.016V16.723a1.019,1.019,0,0,0-1.016-1.016,11.587,11.587,0,0,1-3.626-.579.853.853,0,0,0-.315-.051,1.04,1.04,0,0,0-.721.295l-2.235,2.235a15.388,15.388,0,0,1-6.694-6.694L8.912,8.678a1.019,1.019,0,0,0,.254-1.036,11.539,11.539,0,0,1-.579-3.626A1.019,1.019,0,0,0,7.571,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                            </svg>

                            10:20
                        </button>
                    </li> -->

                    <li>
                        <button id="p-chat-message-box-close" type="button" class="red-round-button" (click)="closeWindow()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.552" height="11.552" viewBox="0 0 11.552 11.552">
                                <path id="Path_179" data-name="Path 179" d="M7.55,11.08l.9.9,3.209-3.209L8.455,5.567l-.9.9L9.206,8.134H3V9.418H9.206ZM13.269,3H4.284A1.283,1.283,0,0,0,3,4.284V6.851H4.284V4.284h8.985v8.985H4.284V10.7H3v2.567a1.283,1.283,0,0,0,1.284,1.284h8.985a1.287,1.287,0,0,0,1.284-1.284V4.284A1.287,1.287,0,0,0,13.269,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <div id="chat-msgbox-surface-bg">

            <div class="p-chat-calling-grid">
                <div class="row">

                    <div class="p-chat-calling-col">
                        <div class="p-chat-calling-img calling-user">
                            <div class="call-avatar-caption hide">SS</div>
                            <img [src]="smallProfileImage + users[conversationService.getOtherUser(currentConversations!)]?.id">
                        </div>
                        <h4>{{users[conversationService.getOtherUser(currentConversations!)]?.firstname
                            + ' ' + users[conversationService.getOtherUser(currentConversations!)]?.lastname}}</h4>
                        <p class="p-chat-calling-text red-text">Is not lifting your call.</p>
                    </div>

                    <div class="p-chat-calling-col">
                        <div class="p-chat-calling-loading">
                            <div class="dot-flashing"></div>
                        </div>
                    </div>


                    <div class="p-chat-calling-col">
                        <div class="p-chat-calling-img">
                            <div class="call-avatar-caption hide">SS</div>
                            <img [src]="smallProfileImage + userService.currentUser?.id">
                        </div>
                        <h4>{{userService.currentUser?.firstname
                            + ' ' + userService.currentUser?.lastname}}</h4>
                        <p class="p-chat-calling-text">Calling</p>
                    </div>


                </div>
            </div>

            <div class="p-chat-bottom-text">            
                
                <!-- <button (click)="callAgain()"> -->
               <h3 (click)="callAgain()"><svg xmlns="http://www.w3.org/2000/svg" width="18.284" height="18.284" viewBox="0 0 18.284 18.284">
                        <path id="Path_11" data-name="Path 11" d="M6.6,5.032a12.507,12.507,0,0,0,.457,2.631L5.834,8.881a15.059,15.059,0,0,1-.772-3.85H6.6m10.015,12.21a12.954,12.954,0,0,0,2.641.457v1.513a15.67,15.67,0,0,1-3.86-.762l1.219-1.209M7.571,3H4.016A1.019,1.019,0,0,0,3,4.016,17.267,17.267,0,0,0,20.268,21.284a1.019,1.019,0,0,0,1.016-1.016V16.723a1.019,1.019,0,0,0-1.016-1.016,11.587,11.587,0,0,1-3.626-.579.853.853,0,0,0-.315-.051,1.04,1.04,0,0,0-.721.295l-2.235,2.235a15.388,15.388,0,0,1-6.694-6.694L8.912,8.678a1.019,1.019,0,0,0,.254-1.036,11.539,11.539,0,0,1-.579-3.626A1.019,1.019,0,0,0,7.571,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                    </svg> Try again?</h3>
                <!-- </button> -->
                 
                <!-- <p>OR</p>
               
                <h3>Would you like to record and send message?</h3>

                <div class="p-chat-bottom-button" (click)="callAgain()">
                    <button type="button" class="dark-button" (click)="closeWindow(true)">No</button>
                    <button type="button" id="recording-open-box" (click)="recordMessage()">Yes</button>
                </div>-->


            </div>




        </div>

        <div class="chat-msgbox-input-main">

            <!-- <div class="p-chat-button-control-main">
                <ul>
                    <li>
                        <button type="button">
                            <svg id="mic_off-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_58" data-name="Path 58" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_59" data-name="Path 59" d="M10.8,4.9a1.2,1.2,0,1,1,2.4,0l-.01,3.91L15,10.6V5a2.99,2.99,0,0,0-5.96-.35L10.8,6.41ZM19,11H17.3a5.173,5.173,0,0,1-.27,1.64l1.27,1.27A6.5,6.5,0,0,0,19,11ZM4.41,2.86,3,4.27l6,6V11a3,3,0,0,0,3,3,2.755,2.755,0,0,0,.65-.08l1.66,1.66A5.5,5.5,0,0,1,12,16.1,5.189,5.189,0,0,1,6.7,11H5a6.984,6.984,0,0,0,6,6.72V21h2V17.72a7.129,7.129,0,0,0,2.55-.9l4.2,4.2,1.41-1.41Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button">
                            <svg id="videocam-24px-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_56" data-name="Path 56" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_57" data-name="Path 57" d="M15,8v8H5V8H15m1-2H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V13.5l4,4V6.5l-4,4V7A1,1,0,0,0,16,6Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="dark-blue-button">
                            <svg id="save-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_66" data-name="Path 66" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_67" data-name="Path 67" d="M17,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V7Zm2,16H5V5H16.17L19,7.83Zm-7-7a3,3,0,1,0,3,3A3,3,0,0,0,12,12ZM6,6h9v4H6Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="dark-blue-button">
                            <svg id="person_add-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_64" data-name="Path 64" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_65" data-name="Path 65" d="M15,12a4,4,0,1,0-4-4A4,4,0,0,0,15,12Zm0-6a2,2,0,1,1-2,2A2.006,2.006,0,0,1,15,6Zm0,8c-2.67,0-8,1.34-8,4v2H23V18C23,15.34,17.67,14,15,14ZM9,18c.22-.72,3.31-2,6-2s5.8,1.29,6,2ZM6,15V12H9V10H6V7H4v3H1v2H4v3Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="dark-blue-button">
                            <svg id="screen_share-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_62" data-name="Path 62" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_63" data-name="Path 63" d="M20,18a2,2,0,0,0,1.99-2L22,6a2,2,0,0,0-2-2H4A1.993,1.993,0,0,0,2,6V16a2,2,0,0,0,2,2H0v2H24V18ZM4,16V6H20V16.01Zm9-6.87c-3.89.54-5.44,3.2-6,5.87,1.39-1.87,3.22-2.72,6-2.72v2.19l4-3.74L13,7Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                </ul>
            </div> -->

            <div class="chat-msgbox-input-inner">
                <input type="text" #messageStr placeholder="Type your message here..."
                (keyup.enter)="sendMessage(messageStr.value);messageStr.value=''">
                <div class="chat-msgbox-send">
                    <!-- Voice message -->
                    <button class="voice-msg-button onfocus-button" (click)="onToggleRecording()">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0c-49.456,0-89.693,40.237-89.693,89.693v176.279c0,49.45,40.237,89.687,89.693,89.687
        c49.456,0,89.693-39.957,89.693-89.071V89.693C345.693,40.237,305.456,0,256,0z M308.315,266.583
        c0,28.503-23.47,51.698-52.315,51.698s-52.321-23.464-52.321-52.315V89.693c0-28.851,23.47-52.321,52.321-52.321
        s52.321,23.47,52.315,52.321V266.583z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="237.314" y="409.226" width="37.372" height="84.088"></rect>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M305.207,474.628h-98.414c-10.321,0-18.686,8.365-18.686,18.686c0,10.321,8.365,18.686,18.686,18.686h98.414
        c10.321,0,18.686-8.365,18.686-18.686C323.893,482.993,315.528,474.628,305.207,474.628z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M397.392,234.822c-10.321,0-18.686,8.365-18.686,18.686v14.949c0,67.656-55.049,122.706-122.706,122.706
        c-67.662,0-122.706-55.049-122.706-122.706v-14.949c0-10.321-8.365-18.686-18.686-18.686s-18.686,8.365-18.686,18.686v14.949
        c0,88.267,71.811,160.078,160.078,160.078s160.078-71.811,160.078-160.078v-14.949
        C416.078,243.188,407.713,234.822,397.392,234.822z"></path>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg></button>

                    <!-- Attach file to send -->
                    <input type="file" id="file_new" #file_new (change)="onUploadFile($event)" hidden>
                    <button class="attach-doc-button" type="button" (click)="file_new.click()">
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                            <path d="m226 512c-49.626 0-90-40.374-90-90v-302c0-66.168 53.832-120 120-120s120 53.832 120 120v302h-30v-302c0-49.626-40.374-90-90-90s-90 40.374-90 90v302c0 33.084 26.916 60 60 60s60-26.916 60-60v-242c0-16.542-13.458-30-30-30s-30 13.458-30 30v242h-30v-242c0-33.084 26.916-60 60-60s60 26.916 60 60v242c0 49.626-40.374 90-90 90z"></path></svg></button>

                    <button class="send-msg-button" (click)="sendMessage(messageStr.value);messageStr.value='';">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.892" height="20.892" viewBox="0 0 20.892 20.892">
                            <path id="Path_29" data-name="Path 29" d="M1.523,2.3,7.212,4.735l-5.7-.758L1.523,2.3M7.2,8.9,1.515,11.341V9.659L7.2,8.9M.008,0,0,5.3,11.364,6.818,0,8.333l.008,5.3,15.9-6.818Z" transform="translate(0 11.25) rotate(-45)" fill="#fff"></path>
                        </svg>
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="record-chat-msgbox-inner" [ngClass]="{'record-call-show': isRecording}">
        <div class="chat-msgbox-header chat-msg-header">

            <div class="chat-persons-title-main">
                <div class="chat-person-avatar">
                    <span class="chat-img-label green-l">
                        <h2 style="display: none;">S</h2>
                        <img [src]="smallProfileImage +userService.currentUser?.id">
                    </span>

                </div>
                <h4>{{userService.currentUser?.firstname
                    + ' ' + userService.currentUser?.lastname}}</h4>
                <!-- <h5>COO</h5> -->

            </div>

            <div class="chat-msg-right">
                <ul>
                    <li>
                        <!-- <button type="button" class="dark-green-round-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.929" height="18.929" viewBox="0 0 18.929 18.929">
                                <path id="Path_1190" data-name="Path 1190" d="M11.464,2a9.464,9.464,0,1,0,9.464,9.464A9.468,9.468,0,0,0,11.464,2Zm0,17.036a7.572,7.572,0,1,1,7.572-7.572A7.582,7.582,0,0,1,11.464,19.036Zm0-11.831a4.259,4.259,0,1,0,4.259,4.259A4.253,4.253,0,0,0,11.464,7.205Zm0,5.205a.946.946,0,1,1,.946-.946A.949.949,0,0,1,11.464,12.411Z" transform="translate(-2 -2)" fill="#fff"></path>
                            </svg>


                            10:20
                        </button> -->
                    </li>

                    <li>
                        <button id="r-call-message-box-close" type="button" class="red-round-button" (click)="closeWindow(true)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.552" height="11.552" viewBox="0 0 11.552 11.552">
                                <path id="Path_179" data-name="Path 179" d="M7.55,11.08l.9.9,3.209-3.209L8.455,5.567l-.9.9L9.206,8.134H3V9.418H9.206ZM13.269,3H4.284A1.283,1.283,0,0,0,3,4.284V6.851H4.284V4.284h8.985v8.985H4.284V10.7H3v2.567a1.283,1.283,0,0,0,1.284,1.284h8.985a1.287,1.287,0,0,0,1.284-1.284V4.284A1.287,1.287,0,0,0,13.269,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <div id="chat-msgbox-surface-bg">

            <div class="record-chat-grid">
                <div class="row">

                    <div class="record-chat-col">
                        <div class="record-chat-thumb">
                            <img [src]="smallProfileImage +userService.currentUser?.id">
                            <video width="300" height="200" controls="false" autoplay="autoplay" style="display: none;">
                            </video>

                            <div class="record-time-label">
                                <span>2:26</span>
                            </div>
                        </div>

                        <button type="button" class="call-record-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28.911" height="28.911" viewBox="0 0 28.911 28.911">
                                <path id="Path_1190" data-name="Path 1190" d="M16.456,2A14.456,14.456,0,1,0,30.911,16.456,14.461,14.461,0,0,0,16.456,2Zm0,26.02A11.564,11.564,0,1,1,28.02,16.456,11.58,11.58,0,0,1,16.456,28.02Zm0-18.069a6.505,6.505,0,1,0,6.505,6.505A6.5,6.5,0,0,0,16.456,9.951Zm0,7.951A1.446,1.446,0,1,1,17.9,16.456,1.45,1.45,0,0,1,16.456,17.9Z" transform="translate(-2 -2)" fill="#fff"></path>
                            </svg>
                            Record
                        </button>

                    </div>
                </div>
            </div>

            <div class="record-chat-bottom-button">
                <button type="button" class="dark-button">Cancel</button>
                <button id="send-recoding-button" type="button">Send</button>
            </div>

        </div>

    </div>
</div>
