<!-- Right Bottom Chat Icon -->
<div id="chat-icon-bottom" [ngClass]="{'chat-icon-bottom-custom': showConferenceChatIcon()}">
    <button type="button" id="chat-icon-button" (click)="toggleChatBar('open')"
    [ngClass]="{'m-b': showConferenceChatIcon()}"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="19.231" viewBox="0 0 19.231 19.231">
            <path id="Path_213" data-name="Path 213"
                d="M19.308,2H3.923A1.929,1.929,0,0,0,2,3.923V21.231l3.846-3.846H19.308a1.929,1.929,0,0,0,1.923-1.923V3.923A1.929,1.929,0,0,0,19.308,2Zm0,13.462H5.048L3.923,16.587V3.923H19.308ZM6.808,8.731H8.731v1.923H6.808Zm7.692,0h1.923v1.923H14.5Zm-3.846,0h1.923v1.923H10.654Z"
                transform="translate(-2 -2)" fill="#544ef6" />
        </svg>
    </button>

    <button type="button" id="chat-icon-button" *ngIf="showConferenceChatIcon()"
    (click)="toggleConferenceChatBar('open')">
        <svg xmlns="http://www.w3.org/2000/svg" width="33.098" height="30.553" viewBox="0 0 33.098 30.553">
            <g id="Group_5543" data-name="Group 5543" transform="translate(-985.666 -711.574)">
                <g id="noun_conference_3367" transform="translate(982.438 699.263)">
                    <path id="Path_2533" data-name="Path 2533" d="M55.468,15.4H33a.607.607,0,0,0-.562.644V22.91h1.123V16.69H54.906V32.563H43.52V33.85H55.468a.607.607,0,0,0,.562-.644V16.047A.607.607,0,0,0,55.468,15.4Z" transform="translate(-20.454 -2.342)" fill="none" stroke="#fff" stroke-width="1.5"></path>
                    <line id="Line_1193" data-name="Line 1193" x2="12" transform="translate(18.062 19.237)" fill="none" stroke="#fff" stroke-width="1.5"></line>
                    <line id="Line_1194" data-name="Line 1194" x2="6" transform="translate(24.062 24.237)" fill="none" stroke="#fff" stroke-width="1.5"></line>
                </g>
                <path id="Path_2536" data-name="Path 2536" d="M18.1,2H3.789A1.794,1.794,0,0,0,2,3.789v16.1l3.578-3.578H18.1a1.794,1.794,0,0,0,1.789-1.789V3.789A1.794,1.794,0,0,0,18.1,2Zm0,12.522H4.835L3.789,15.569V3.789H18.1ZM6.472,8.261H8.261V10.05H6.472Zm7.155,0h1.789V10.05H13.628Zm-3.578,0h1.789V10.05H10.05Z" transform="translate(983.666 722.238)" fill="#fff"></path>
            </g>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="19.231" viewBox="0 0 19.231 19.231" style="display: none;">
            <path id="Path_213" data-name="Path 213" d="M19.308,2H3.923A1.929,1.929,0,0,0,2,3.923V21.231l3.846-3.846H19.308a1.929,1.929,0,0,0,1.923-1.923V3.923A1.929,1.929,0,0,0,19.308,2Zm0,13.462H5.048L3.923,16.587V3.923H19.308ZM6.808,8.731H8.731v1.923H6.808Zm7.692,0h1.923v1.923H14.5Zm-3.846,0h1.923v1.923H10.654Z" transform="translate(-2 -2)" fill="#544ef6"></path>
        </svg>
    </button>

    <div id="chat-dropdown-menu" [ngClass]="(chatBarStatus=='open')?'chat-toggle-open':''">
        <app-quick-chat [confConversations]="conferenceConversation" 
        [conversations]="conversations" [users]="users">
        </app-quick-chat>
    </div>
</div>

<!-- Chat window component -->
<app-chat-window [users]="users" *ngIf="currentConversations !=null"></app-chat-window>

<!-- All contacts compoment -->
<app-all-contacts [users]="users"></app-all-contacts>

<!-- Create group component -->
<app-create-group [users]="users"></app-create-group>