<section id="lower-office-view-scroll" class="lower-office-view-main">
  <div class="container">
    <div class="main-contain-with-sidebar">
      <div class="row">
        <div class="left-side-nav-col-3">
          <div id="left-side-navigation-scroll" class="left-side-navigation-main">
            <div class="left-side-navigation-heading">
              <h3>Teams</h3>
              <button class="add-team" [routerLink]="[ '/team/create']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="12" viewBox="0 0 16.5 12">
                  <g id="Group_5542" data-name="Group 5542" transform="translate(-144.632 -209)">
                    <path id="Path_40" data-name="Path 40"
                      d="M16.67,13.13a3.488,3.488,0,0,1,1.747,2.9v2.25h3v-2.25C21.417,14.4,18.74,13.43,16.67,13.13Z"
                      transform="translate(139.714 202.718)" fill="#544ef6" />
                    <path id="Path_41" data-name="Path 41"
                      d="M14.667,10a3,3,0,1,0,0-6,3.134,3.134,0,0,0-1,.18,4.485,4.485,0,0,1,0,5.64A3.134,3.134,0,0,0,14.667,10Z"
                      transform="translate(140.464 205)" fill="#544ef6" />
                    <path id="Path_42" data-name="Path 42"
                      d="M8,10A3,3,0,1,0,5,7,3,3,0,0,0,8,10ZM8,5.5A1.5,1.5,0,1,1,6.5,7,1.5,1.5,0,0,1,8,5.5Z"
                      transform="translate(142.632 205)" fill="#544ef6" />
                    <path id="Path_43" data-name="Path 43"
                      d="M7,13c-2,0-6,1-6,3v2.25H13V16C13,14,9,13,7,13Zm4.5,3.75h-9v-.742C2.65,15.467,4.975,14.5,7,14.5s4.35.967,4.5,1.5Z"
                      transform="translate(143.632 202.75)" fill="#544ef6" />
                  </g>
                </svg>
                Add Team
              </button>
            </div>

            <ul>
              <li [class]="selectedTeam == team.value ? 'active' : ''" *ngFor="let team of teams | keyvalue">
                <button
                  *ngIf="team.value.creator ||(team.value.creator==userService.currentUser?.id || team.value.members.includes(userService.currentUser.id) )"
                  type="button" (click)="selectTeam(team.value)">{{ team.value.name }}
                </button>

              </li>
            </ul>
          </div>
        </div>

        <div class="department-view-col-9" *ngIf="selectedTeam != null">
          <div class="team-right-section-main">
            <div class="team-right-tabs">
              <ul>
                <li class="active">
                  <button type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="12" viewBox="0 0 16.5 12">
                      <g id="Group_5542" data-name="Group 5542" transform="translate(-144.632 -209)">
                        <path id="Path_40" data-name="Path 40"
                          d="M16.67,13.13a3.488,3.488,0,0,1,1.747,2.9v2.25h3v-2.25C21.417,14.4,18.74,13.43,16.67,13.13Z"
                          transform="translate(139.714 202.718)" fill="#544ef6"></path>
                        <path id="Path_41" data-name="Path 41"
                          d="M14.667,10a3,3,0,1,0,0-6,3.134,3.134,0,0,0-1,.18,4.485,4.485,0,0,1,0,5.64A3.134,3.134,0,0,0,14.667,10Z"
                          transform="translate(140.464 205)" fill="#544ef6"></path>
                        <path id="Path_42" data-name="Path 42"
                          d="M8,10A3,3,0,1,0,5,7,3,3,0,0,0,8,10ZM8,5.5A1.5,1.5,0,1,1,6.5,7,1.5,1.5,0,0,1,8,5.5Z"
                          transform="translate(142.632 205)" fill="#544ef6"></path>
                        <path id="Path_43" data-name="Path 43"
                          d="M7,13c-2,0-6,1-6,3v2.25H13V16C13,14,9,13,7,13Zm4.5,3.75h-9v-.742C2.65,15.467,4.975,14.5,7,14.5s4.35.967,4.5,1.5Z"
                          transform="translate(143.632 202.75)" fill="#544ef6"></path>
                      </g>
                    </svg>
                    About Team</button>
                </li>

                <li *ngIf="this.selectedTeam.creator==userService.currentUser?.id">
                  <button type="button" (click)="updateTeam()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11.25" height="12.75" viewBox="0 0 11.25 12.75">
                        <path id="Path_197" data-name="Path 197" d="M11.75,5.5,11,4H5V16.75H6.5V11.5h3.75L11,13h5.25V5.5Zm3,6h-3L11,10H6.5V5.5h3.75L11,7h3.75Z" transform="translate(-5 -4)" fill="#544ef6"></path>
                    </svg>
                    Edit Team</button>
                </li>

                <li *ngIf="this.selectedTeam.creator==userService.currentUser?.id">
                  <button type="button" (click)="deleteTeam()">
                    <svg viewBox="0 0 365.696 365.696" width="11.25" height="9.75" xmlns="http://www.w3.org/2000/svg"
                      fill="Red">
                      <path
                        d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0" />
                    </svg>

                    Delete Team</button>
                </li>

              </ul>
            </div>
            <h1 class="page-title-3">{{ selectedTeam.name }}</h1>
            <div class="team-grid-3-main">
              <div class="team-grid-border-contain">
                <h3 class="team-grid-title">Team Creator</h3>
                <div class="row">
                  <div class="col-sm-2 custom-col">
                    <app-user-small-profile [userId]="selectedTeam.creator" [isSeated]="true"
                      [selectedTeam]="selectedTeam"></app-user-small-profile>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let department of selectedTeam.departments | keyvalue">
              <div class="team-grid-3-main">
                <div class="team-grid-border-contain">
                  <h3 class="team-grid-title">{{ department.value.name }}</h3>
                  <div class="row">
                    <ng-container *ngFor="let member of department.value.users">
                      <div class="col-sm-2 custom-col">
                        <app-user-small-profile [userId]="member" [isSeated]="true" [selectedTeam]="selectedTeam">
                        </app-user-small-profile>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade" id="addMembermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body add-member-body">
        <div id="left-b-contact-list-main">
          <div class="create-conference-inner-team">
            <div class="create-conference-search">
              <input type="text" value="" (keyup)="search($event)" placeholder="Type Contact Name">
              <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49" viewBox="0 0 17.49 17.49">
                  <path id="Path_6" data-name="Path 6" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,
                                        0-.7.7l.27.28v.79l5,
                                        4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5
                                        ,4.494,4.494,0,0,1,9.5,14Z" transform="translate(-3 -3)" fill="#544ef6" />
                </svg>
              </button>
            </div>
            <ul>
              <ng-container *ngFor="let user of users | keyvalue">
                <li *ngIf="!filtered(user.value.id)">
                  <a href="javascript:void(0);">
                    <div class="c-conference-avatar">
                      <span class="chat-avatar-label blue-l">
                        <img [src]="smallProfileImage + user.value.id">
                      </span>
                    </div>

                    <div class="c-conference-text-detail">
                      <h5>{{fullname(user.value)}}</h5>
                      <div class="c-conference-jobprofile">
                        {{userService.getDesignationName(user.value)}}
                      </div>
                    </div>

                    <div class="c-conference-right-icon" *ngIf="isTeamMembaer(user.key)">
                      <svg id="Group_2429" data-name="Group 2429" xmlns="http://www.w3.org/2000/svg" width="19"
                        height="16.5" viewBox="0 0 19 16.5">
                        <path id="Path_1186" data-name="Path 1186"
                          d="M9,17l3-2.94A9.341,9.341,0,0,0,11,14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,1,0,7,8a4,4,0,0,0,4,4"
                          transform="translate(-3 -4)" fill="#07d755" fill-rule="evenodd" />
                        <path id="Path_1187" data-name="Path 1187"
                          d="M15.47,20.5,12,17l1.4-1.41,2.07,2.08L20.6,12.5,22,13.91Z" transform="translate(-3 -4)"
                          fill="#07d755" fill-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="c-conference-right-icon blue-icon" *ngIf="!isTeamMembaer(user.key)"
                      (click)="addMember(user.key)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path id="Path_1178" data-name="Path 1178"
                          d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm5,11H13v4H11V13H7V11h4V7h2v4h4Z"
                          transform="translate(-2 -2)" fill="#544ef6" />
                      </svg>

                    </div>
                  </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
