.user-container {
	display: flex;
    flex-wrap: wrap;
}
.room-slot {
	width: 100%;
}
.user-icon {
	flex: 0 0;
    flex-basis: 20%;    
    max-width: 20%;
    display: flex;
    align-items: center;
    height: 140px;
    /**margin: 0 auto 30px auto;**/
    padding: 10px 10px;
}
.create-conference-inner { width: 100%; float: left; position: relative; min-height: 500px; background: #343434; border-radius: 20px; border: 2px solid #544EF6; padding: 25px 15px; }
.create-conference-inner .create-conference-search { width: 100%; float: left; position: relative; margin: 0 0 25px 0; }
.create-conference-inner .create-conference-search input[type="text"] { width: 100%; float: left; position: relative; height: 50px; border-radius: 200px; border: none; background: #EDF0F7; margin: 0; padding: 5px 15px 5px 45px; font-weight: 400; }
.create-conference-inner .create-conference-search input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #020041; font-weight: 500; opacity: 1; /* Firefox */ }
.create-conference-inner .create-conference-search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #020041; font-weight: 500; }
.create-conference-inner .create-conference-search input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */ color: #020041; font-weight: 500; }
.create-conference-inner .create-conference-search button { width: 34px; height: 34px; position: absolute; left: 10px; top: 7px; z-index: 1; background: none; border: none; text-align: center; }
.create-conference-inner .create-conference-search button svg { width: 16px; height: 16px; }
.create-conference-inner .participant-qty-main { width: 100%; float: left; position: relative; font-size: 14px; margin: 0 0 25px 0; color: #fff; padding: 0 10px; line-height: 1; }
.create-conference-inner .participant-qty-main svg { width: 18px; height: 18px; display: inline-block; margin: 0 10px 0 0; }
.create-conference-inner .participant-qty-main svg, .create-conference-inner .participant-qty-main g, .create-conference-inner .participant-qty-main path, .create-conference-inner .participant-qty-main circle { fill: #fff; }
.create-conference-inner  { width: 100%; float: left; position: relative; height: 568px; overflow: hidden; overflow-y: auto; }
.create-conference-inner  ul { width: 100%; float: left; position: relative; margin: 0; padding: 0; list-style: none; }
.create-conference-inner  ul li { width: 100%; float: left; position: relative; margin: 0; padding: 0; border-top: 1px solid #343434; }
.create-conference-inner  ul li a { width: 100%; float: left; position: relative; cursor: pointer; padding: 10px 15px; color: #fff; font-size: 12px; text-decoration: none; min-height: 70px; display: table; table-layout: fixed; border-radius: 10px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.create-conference-inner  ul li a .c-conference-avatar { width: 15%; display: table-cell; vertical-align: middle; }
.create-conference-inner  ul li a .c-conference-avatar .chat-avatar-label { width: 50px; height: 50px; float: left; border-radius: 50%; background: #C5CFE6; overflow: hidden; }
.create-conference-inner  ul li a .c-conference-avatar .chat-avatar-label img { width: 52px; height: 52px; object-fit: cover; }
.create-conference-inner  ul li a .c-conference-avatar .chat-avatar-label h2 { width: 100%; float: left; position: relative; margin: 0; padding: 15px 5px; line-height: 1; font-size: 18px; text-align: center; color: #000; text-transform: uppercase; font-weight: 700; }
.create-conference-inner  ul li a .c-conference-avatar span.green-l { color: #fff; background: #07D755; }
.create-conference-inner  ul li a .c-conference-avatar span.green-l h2 { color: #fff; }
.create-conference-inner  ul li a .c-conference-avatar span.blue-l { color: #fff; background: #544EF6; }
.create-conference-inner  ul li a .c-conference-avatar span.blue-l h2 { color: #fff; }
.create-conference-inner  ul li a .c-conference-avatar span.pink-l { color: #fff; background: #FF7EA3; }
.create-conference-inner  ul li a .c-conference-avatar span.pink-l h2 { color: #fff; }
.create-conference-inner  ul li a .c-conference-text-detail { width: 70%; display: table-cell; vertical-align: middle; padding: 0 10px; }
.create-conference-inner  ul li a .c-conference-text-detail h5 { width: 100%; float: left; position: relative; margin: 0; padding: 0; font-size: 14px; color: #fff; }
.create-conference-inner  ul li a .c-conference-text-detail .msg-text { width: 100%; float: left; position: relative; margin: 0; }
.create-conference-inner  ul li a .c-conference-text-detail .msg-text svg { width: 10px; height: 10px; display: inline-block; margin: 0 3px 0 0; }
.create-conference-inner  ul li a .c-conference-text-detail .msg-text svg, .create-conference-inner  ul li a .c-conference-text-detail .msg-text g, .create-conference-inner  ul li a .c-conference-text-detail .msg-text circle, .create-conference-inner  ul li a .c-conference-text-detail .msg-text path { fill: #353367; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.create-conference-inner  ul li a p { width: 100%; float: left; position: relative; margin: 0; }
.create-conference-inner  ul li a .c-conference-right-icon { width: 15%; display: table-cell; vertical-align: middle; text-align: right; }
.create-conference-inner  ul li a .c-conference-right-icon svg { width: 18px; height: 18px; }
.create-conference-inner  ul li a .c-conference-right-icon svg, .create-conference-inner  ul li a .c-conference-right-icon g, .create-conference-inner  ul li a .c-conference-right-icon circle, .create-conference-inner  ul li a .c-conference-right-icon path { fill: #07D755; }
.create-conference-inner  ul li a .c-conference-right-icon.blue-icon svg, .create-conference-inner  ul li a .c-conference-right-icon.blue-icon g, .create-conference-inner  ul li a .c-conference-right-icon.blue-icon circle, .create-conference-inner  ul li a .c-conference-right-icon.blue-icon path { fill: #C5CFE6; }
.create-conference-inner  ul li a .c-conference-right-icon.red-icon svg, .create-conference-inner  ul li a .c-conference-right-icon.red-icon g, .create-conference-inner  ul li a .c-conference-right-icon.red-icon circle, .create-conference-inner  ul li a .c-conference-right-icon.red-icon path { fill: #DC4F4F; }
.create-conference-inner  ul li a:hover { background: #5D5D5D; }
.create-conference-inner  ul li.active a { background: #5D5D5D; }

.create-conference-inner  { width: 100%; float: left; position: relative; height: 200px; overflow: hidden; overflow-y: auto; }
.create-conference-inner  ul { width: 100%; float: left; position: relative; margin: 0; padding: 0; list-style: none; }
.create-conference-inner  ul li { width: 100%; float: left; position: relative; margin: 0; padding: 5px; }
.addMembermodal .modal-body {
    height:50px;
}
.add-member-body {
    min-height: 550px;
}

#left-b-contact-list-main {
    height: 200px;
}
.add-team-btn {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 200px;
    padding: 8px 15px;
    line-height: 1.4;
    margin: 0 5px 5px 0;
    display: inline-block;
    background: #544EF6;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.add-team-btn svg {
    width: 16px;
    height: 12px;
    display: inline-block;
    margin: 0 3px 0 0;
}
.add-team-btn g {
    fill: #fff;
}

.department-view-main .meeting-seat-grid-contain {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 0 15px 0;
}

.team-creator {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}