Designation:
<select [(ngModel)]="selectedDesignation">
  <option *ngFor="let designation of userService.getDesignationArray()" [(ngValue)]="designation.id">
    {{ designation.name }}
  </option>
</select>