<header id="conference-page-header">
    <div class="container">
        <div class="row">
            <div id="inner-page-logo">
                <h1>VOFFIS</h1>
            </div>
            <div id="inner-page-head-breadcrumb">
                <ul>
                    <li *ngFor="let b of breadcrumbs">
                        <a [routerLink]="[b.path]">{{b.text}}</a>
                    </li>
                </ul>
            </div>
            <div id="inner-page-tabs-main">
                <div id="header-tab-1">
                    <ul> 
                        <li [routerLink]="[ '/office' ]" routerLinkActive="active">
                            <a [routerLink]="[ '/office' ]" >Office View</a>
                        </li>
                        <li [routerLink]="[ '/department' ]" routerLinkActive="active">
                            <a [routerLink]="[ '/department' ]">Department View</a>
                        </li>
                        <li [routerLink]="[ '/team' ]" routerLinkActive="active">
                            <a [routerLink]="[ '/team' ]">Team View</a>
                        </li>
                    </ul>
                </div>
                <div id="header-tab-2">
                    <ul>
                        <li><a  [routerLink]="[ '/conferences' ]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19.009" height="13.094" viewBox="0 0 19.009 13.094">
                                    <path id="Path_190" data-name="Path 190" d="M21.009,5.637A1.789,1.789,0,0,0,19.108,4H3.9A1.789,1.789,0,0,0,2,5.637v9.821a1.789,1.789,0,0,0,1.9,1.637H19.108a1.789,1.789,0,0,0,1.9-1.637Zm-1.9,0L11.5,9.729,3.9,5.637Zm0,9.821H3.9V7.274l7.6,4.092,7.6-4.092Z" transform="translate(-2 -4)" fill="#544ef6" />
                                </svg>
                            </a></li>
                        <li><a (click)="openChatBar()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="19.231" viewBox="0 0 19.231 19.231">
                                    <path id="Path_213" data-name="Path 213" d="M19.308,2H3.923A1.929,1.929,0,0,0,2,3.923V21.231l3.846-3.846H19.308a1.929,1.929,0,0,0,1.923-1.923V3.923A1.929,1.929,0,0,0,19.308,2Zm0,13.462H5.048L3.923,16.587V3.923H19.308ZM6.808,8.731H8.731v1.923H6.808Zm7.692,0h1.923v1.923H14.5Zm-3.846,0h1.923v1.923H10.654Z" transform="translate(-2 -2)" fill="#544ef6" />
                                </svg>
                            </a></li>
                            
                            <li [routerLink]="[ '/conferences' ]" routerLinkActive="active">
                              <a  [routerLink]="[ '/conferences' ]" [ngClass]="{'Blink': isBlink()}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="13.462" viewBox="0 0 19.231 13.462">
                                    <path id="Path_215" data-name="Path 215" d="M8.731,11.731A3.365,3.365,0,1,0,5.365,8.365,3.369,3.369,0,0,0,8.731,11.731Zm0-4.808A1.442,1.442,0,1,1,7.288,8.365,1.44,1.44,0,0,1,8.731,6.923Zm.048,9.615H4.663a9.975,9.975,0,0,1,4.067-.962c.106,0,.221.01.327.01a4.4,4.4,0,0,1,1.577-1.74,11.275,11.275,0,0,0-1.9-.192C6.481,13.654,2,14.779,2,17.019v1.442H8.731V17.019A2.629,2.629,0,0,1,8.779,16.538Zm7.163-2.4c-1.769,0-5.288.971-5.288,2.885v1.442H21.231V17.019C21.231,15.106,17.712,14.135,15.942,14.135Zm1.163-1.75a2.4,2.4,0,1,0-2.327,0,2.354,2.354,0,0,0,2.327,0Z" transform="translate(-2 -5)" fill="#544ef6">
                                    </path>
                                </svg>
                            </a></li>
                    </ul>
                </div>
                <span *ngIf="isBlink()">
                  <div *ngFor="let connection of currentCall!.connections | keyvalue" >
                    <app-hidden-call-user [connection]="connection.value"></app-hidden-call-user>
                  </div>
                </span>
            </div>
            <div id="inner-page-header-right">
                <ul>
<!--                    <li><a href="#">-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49" viewBox="0 0 17.49 17.49">-->
<!--                                <path id="Path_6" data-name="Path 6" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z" transform="translate(-3 -3)" fill="#544ef6" />-->
<!--                            </svg>-->
<!--                        </a></li>-->
                    <li>
                            <div class="notification-head-dropdown dropdown">
                                <div class="notification-msg-no-label" *ngIf="notificationCount > 0">
                                    {{notificationCount}}
                                </div>
                                <a class="dropdown-toggle" data-toggle="dropdown" (click)="toggleNotifications()">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                       height="19.5" viewBox="0 0 16 19.5">
                                        <path id="Path_2" data-name="Path 2" d="M12,22a2.006,2.006,0,0,0,2-2H10A2.006,2.006,0,0,0,12,22Zm6-6V11c0-3.07-1.63-5.64-4.5-6.32V4a1.5,1.5,0,0,0-3,0v.68C7.64,5.36,6,7.92,6,11v5L4,18v1H20V18Zm-2,1H8V11c0-2.48,1.51-4.5,4-4.5s4,2.02,4,4.5Z" transform="translate(-4 -2.5)" fill="#544ef6" />
                                    </svg>
                                   
                                </a>
                          
                                <app-bar-notification [isOpen]="notificationsOpen"></app-bar-notification>

                            </div>
                        </li>




                        <li>
                            <div class="profile-dropdown dropdown" [ngClass]="{'show': isShowProfile}">
                                <a class="dropdown-toggle" (click)="toggleEditProfile()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <path id="Path_209" data-name="Path 209" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2ZM7.07,18.28c.43-.9,3.05-1.78,4.93-1.78s4.51.88,4.93,1.78a7.925,7.925,0,0,1-9.86,0Zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36,2.33a8,8,0,1,1,12.72,0ZM12,6a3.5,3.5,0,1,0,3.5,3.5A3.491,3.491,0,0,0,12,6Zm0,5a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,12,11Z" transform="translate(-2 -2)" fill="#544ef6" />
                                    </svg>
                                </a>


                                <div class="dropdown-menu" [ngClass]="{'show': isShowProfile}">
                                    <div class="profile-header-dropdown">                                        
                                        <h4 *ngIf="selectedTabName == 'profile'">Profile</h4>
                                        <h4 *ngIf="selectedTabName == 'password'">Change Password</h4>
                                    </div>

                                    <div class="edit-profile-dropdown">
                                        <button type="button" (click)="selectedTab('profile')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14.916" height="13.43" viewBox="0 0 14.916 13.43">
                                                <path id="Path_2491" data-name="Path 2491" d="M12.164,7.491l.762.686-7.507,6.76H4.657v-.686l5.4-4.863,2.107-1.9M15.147,3a.879.879,0,0,0-.58.216L13.05,4.582l3.107,2.8,1.516-1.365a.692.692,0,0,0,0-1.052L15.735,3.216A.862.862,0,0,0,15.147,3ZM12.164,5.38,3,13.632v2.8H6.107l9.164-8.252Z" transform="translate(-3 -3)" fill="#544ef6" />
                                            </svg>
                                            Profile
                                        </button>


                                        <button type="button" (click)="selectedTab('password')">
                                            <svg id="_x31__x2C_5" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                                                <path d="m18.75 24h-13.5c-1.24 0-2.25-1.009-2.25-2.25v-10.5c0-1.241 1.01-2.25 2.25-2.25h13.5c1.24 0 2.25 1.009 2.25 2.25v10.5c0 1.241-1.01 2.25-2.25 2.25zm-13.5-13.5c-.413 0-.75.336-.75.75v10.5c0 .414.337.75.75.75h13.5c.413 0 .75-.336.75-.75v-10.5c0-.414-.337-.75-.75-.75z" />
                                                <path d="m17.25 10.5c-.414 0-.75-.336-.75-.75v-3.75c0-2.481-2.019-4.5-4.5-4.5s-4.5 2.019-4.5 4.5v3.75c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-3.75c0-3.309 2.691-6 6-6s6 2.691 6 6v3.75c0 .414-.336.75-.75.75z" />
                                                <path d="m12 17c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-2.5c-.275 0-.5.224-.5.5s.225.5.5.5.5-.224.5-.5-.225-.5-.5-.5z" />
                                                <path d="m12 20c-.414 0-.75-.336-.75-.75v-2.75c0-.414.336-.75.75-.75s.75.336.75.75v2.75c0 .414-.336.75-.75.75z" /></svg>
                                            Password
                                        </button>
                                        <button type="button" (click)="logout();">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                                <path id="Path_33" data-name="Path 33" d="M13,3H11V13h2Zm4.83,2.17L16.41,6.59A6.92,6.92,0,0,1,19,12,7,7,0,1,1,7.58,6.58L6.17,5.17A8.992,8.992,0,1,0,21,12,8.932,8.932,0,0,0,17.83,5.17Z" transform="translate(-3 -3)" fill="#fff" />
                                            </svg>
                                            Logout
                                        </button>


                                    </div>


                                    <form *ngIf="selectedTabName == 'profile'">
                                        <div class="profile-form-dropdown user-profile-form">

                                            <div class="profile-form-field">
                                                <div class="profile-form-title">First Name</div>
                                                <input type="text" [(ngModel)]="currentUser!.firstname" name="firstname">
                                            </div>

                                            <div class="profile-form-field">
                                                <div class="profile-form-title">Last Name</div>
                                                <input type="text" [(ngModel)]="currentUser!.lastname" name="lastname">
                                            </div>

                                            <div class="profile-form-field">
                                                <div class="profile-form-title">Email ID</div>
                                                <input type="email" [(ngModel)]="currentUser!.email" name="email">
                                            </div>

                                            <!-- <div class="profile-form-field">
                                                <div class="profile-form-title">Mobile No</div>
                                                <input type="number" value="">
                                            </div> -->

                                            <div class="profile-form-field">
                                                <div class="profile-form-title">Department</div>
                                                <select [(ngModel)]="updateData.department" name="selectedDepartment" [disabled]="disableDepartment">                                                
                                                    <option *ngFor="let department of departments" [value]="department.id" selected="updateData.department == department.id">
                                                    {{ department.name }}
                                                    </option>
                                                </select>
                                            </div>


                                            <div class="profile-form-field">
                                                <div class="profile-form-title">Profile Pic</div>

                                                <div class="profile-form-avatar">
                                                    <div class="picture">
                                                        <img [src]="imageUrl" class="picture-src" id="wizardPicturePreview" title="">
                                                        <div class="edit-pic-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="14.916" height="13.43" viewBox="0 0 14.916 13.43">
                                                                <path id="Path_2491" data-name="Path 2491" d="M12.164,7.491l.762.686-7.507,6.76H4.657v-.686l5.4-4.863,2.107-1.9M15.147,3a.879.879,0,0,0-.58.216L13.05,4.582l3.107,2.8,1.516-1.365a.692.692,0,0,0,0-1.052L15.735,3.216A.862.862,0,0,0,15.147,3ZM12.164,5.38,3,13.632v2.8H6.107l9.164-8.252Z" transform="translate(-3 -3)" fill="#544ef6" />
                                                            </svg>
                                                            <input type="file" id="wizard-picture" class="" (change)="onUploadProfile($event)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="profile-form-submit">
                                                <button type="button" (click)="updateProfile('profile')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                                        <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                                                            <g id="Group_2408" data-name="Group 2408">
                                                                <path id="Path_1171" data-name="Path 1171" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" fill="#fff" />
                                                                <path id="Path_1172" data-name="Path 1172" d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                                                                <path id="Path_1173" data-name="Path 1173" d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z" fill="#fff" />
                                                                <path id="Path_1174" data-name="Path 1174" d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z" fill="#fff" />
                                                            </g>
                                                        </g>
                                                    </svg>
                                                    Save Profile
                                                    </button>                                              
                                            </div>


                                        </div>
                                    </form>

                                    <form *ngIf="selectedTabName == 'password'">
                                        <div class="profile-form-dropdown">
                                            <div class="profile-form-field">
                                                <div class="profile-form-title">Password</div>
                                                <input type="password" [(ngModel)]="newPassword" name="password">
                                                <span *ngIf="errors['newPasswordEmpty']" class="text-danger">{{errors['newPasswordEmpty']}}</span>
                                            </div>

                                            <div class="profile-form-field">
                                                <div class="profile-form-title">Confirm password</div>
                                                <input type="password" name="cpassword" [(ngModel)]="confirmNewPassword">
                                                <span *ngIf="errors['confirmNewPasswordEmpty']" class="text-danger">{{errors['confirmNewPasswordEmpty']}}</span><br>
                                                <span *ngIf="errors['passwordNotSame']" class="text-danger">{{errors['passwordNotSame']}}</span>
                                            </div>

                                            <div class="profile-form-submit">
                                                <button type="button" (click)="updateProfile('password')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                                        <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                                                            <g id="Group_2408" data-name="Group 2408">
                                                                <path id="Path_1171" data-name="Path 1171" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" fill="#fff" />
                                                                <path id="Path_1172" data-name="Path 1172" d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                                                                <path id="Path_1173" data-name="Path 1173" d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z" fill="#fff" />
                                                                <path id="Path_1174" data-name="Path 1174" d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z" fill="#fff" />
                                                            </g>
                                                        </g>
                                                    </svg>
                                                    Change password
                                                    </button>                                              
                                            </div>


                                        </div>
                                    </form>

                                </div>
                            </div>
                        </li>
                </ul>
            </div>

        </div>
    </div>
</header>
