#inner-page-header-right > ul li .profile-dropdown.dropdown .dropdown-menu .profile-form-field input[type="password"] {
    width: 100%;
    float: left;
    position: relative;
    height: 45px;
    border: none;
    border-bottom: 2px solid rgba(118, 113, 248, 0.4);
    outline: none;
    color: #000;
    font-weight: 500;
}

.Blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
  @keyframes blinker {  
    from { opacity: 1; }
    to { opacity: 0; }
  }