<ul *ngIf="confConversations && !confConversations.id">
    <li>
        <span id="chat-toggle-close" class="close-chat-toggle" (click)="setChatWindowStatus('close')">
            <svg xmlns="http://www.w3.org/2000/svg" width="10.778" height="6.656" viewBox="0 0 10.778 6.656">
                <path id="Path_35" data-name="Path 35"
                    d="M1.266,0,5.389,4.114,9.512,0l1.266,1.266L5.389,6.656,0,1.266Z" fill="#544ef6" />
            </svg>
        </span>
    </li>
    <li id="all-contactlist-sidebar" (click)="setChatWindowStatus('all')">
        <span class="chat-all">All</span>
    </li>
    <ng-container *ngFor="let conversation of conversations| slice:0:7;
    let i = index">
        <li 
            *ngIf="(conversation.latest || !chatUtil.isDirect(conversation)) && isUserRemovedFromquickChat(conversation.id)">
            <button class="close-chat-list-un" (click)="removeQuickChatUser(conversation.id)">
                <svg height="365.696pt" viewBox="0 0 365.696 365.696" width="365.696pt"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0" />
                    </svg>
            </button>
            <div class="msg-label-count" *ngIf="conversation.unread > 0">{{conversation.unread}}</div>
            <div class="chat-name-tooltiop">
                {{ chatUtil.isDirect(conversation) ?
                    users[conversationService.getOtherUser(conversation)]?.firstname
                    + ' ' + users[conversationService.getOtherUser(conversation)]?.lastname :
                    conversation.topic}}
            </div>
            <span class="chat-avatar-label" [ngClass]="chatUtil.ciricleBGC()" *ngIf="!chatUtil.isDirect(conversation)"
            (click)="toggleChatSideBar(conversation.id, false)">
                <h2>{{ chatUtil.abbreviate(conversation.topic) }}</h2>
            </span>
            <span class="chat-avatar-label" *ngIf="chatUtil.isDirect(conversation)" (click)="toggleChatSideBar(conversation.id, false)">
                <img [src]="smallProfileImage + users[conversationService.getOtherUser(conversation)]?.id">
            </span>
        </li>
    </ng-container>
</ul> 