.custom-popup{
    background-color: #00000094;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
  }
  
  .custom-popup > div{
    width: 583px;
    height: 280px;
    background: #fff;
    box-shadow: 0px 0px 3px #bebebe;
    padding: 10px 12px;
    z-index: 999;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .close-btn{
    position: absolute;
  }

  
  .close-btn-popup{
    margin-left: 536px !important;
  }

  .btnstyle{
      float: right;
  }

  .bdrb-1{
    border-bottom: 1px solid #bebebe;
  }
  
  .popup-header{
    position: relative!important;
    padding: 7px 0;
    display: flex;
    font-weight: 450!important;
  }
  
  .popup-header span{
    text-align: right;
    margin-left: auto!important;
    position: relative;
  }
  
  .custom-popup > div{
    height: auto!important;
  }

  
  .tblwidth {
    width: -webkit-fill-available;
  }

  .table-width {
    border: 1px solid #bebaba;
  }

  .top-sub-bar {
    margin-top: 20px !important;
}

.btnsty{
    position: absolute;
    margin-left: 870px;
}

.check-box{
  margin-top: 20px;
  margin-left: 14px;
}

.center-align {
  text-align: center;
  padding-top: 50px;
  min-height: 200px;
}

.example-form-field {
  width: 200px;
}