<div *ngIf="branch != null" style="border: solid; margin: 10px;">
Branch: {{ branch.name }}<br>
<input type="text" [(ngModel)]="newDepartmentName"><button (click)="addDepartment()">Add Department</button><br>
Department:
  <select [(ngModel)]="selectedDepartment">
   <option *ngFor="let department of branch.departments; index as i" [ngValue]="department">
     {{ department.name }}
  </select>
  
  <div *ngIf="selectedDepartment != null">
  <h3>{{ selectedDepartment.name }}</h3>
    <div *ngFor="let userId of selectedDepartment.users">{{ userService.getUser(userId).firstname }} {{ userService.getUser(userId).lastname }}</div>
    <p>
    <div *ngFor="let user of filteredUserList()">
      {{ user.firstname }} {{ user.lastname }}
      <button (click) = "assignUserToDepartment(user.id, selectedDepartment.id)">Assign</button>
    </div>
  </div>
</div>

