<div class="audio-message-box">
  <div class="audio-duration">{{ readableDuration }}</div>

  <div class="audio-range-player">
    <input type="range" min="0" max="{{duration}}"
           value="{{currentTime}}" class="audio-control">
  </div>
  <div class="audio-play-button">
      <button  (click)="togglePlay()" *ngIf="btn==PLAY">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="11" height="14" viewBox="0 0 11 14">
              <path id="Path_1157" data-name="Path 1157"
                    d="M10,8.64,15.27,12,10,15.36V8.64M8,5V19l11-7Z"
                    transform="translate(-8 -5)" fill="#fff"></path>
          </svg>
      </button>
      <button *ngIf="btn==PAUSE" (click)="togglePlay()">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47.607 47.607" style="enable-background:new 0 0 47.607 47.607;" xml:space="preserve">
            <g><path d="M17.991,40.976c0,3.662-2.969,6.631-6.631,6.631l0,0c-3.662,0-6.631-2.969-6.631-6.631V6.631C4.729,2.969,7.698,0,11.36,0
		l0,0c3.662,0,6.631,2.969,6.631,6.631V40.976z"></path>
             <path d="M42.877,40.976c0,3.662-2.969,6.631-6.631,6.631l0,0c-3.662,0-6.631-2.969-6.631-6.631V6.631
		C29.616,2.969,32.585,0,36.246,0l0,0c3.662,0,6.631,2.969,6.631,6.631V40.976z"></path>
              </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                </svg>

      </button>
  </div>
</div>
