
<div class="mainContainer">
<div>
<input type="checkbox" (change)="selectAutoGainControl($event)" [checked]="isAutoGainControl()">Disable Auto Gain<br>
<input type="checkbox" (change)="selectEchoCancellation($event)" [checked]="isEchoCancellation()">Disable Echo Cancellation<br>
<input type="checkbox" (change)="selectNoiseSuppression($event)" [checked]="isNoiseSuppression()">Disable Noise Suppression<br>
</div>
	<div>
		<img [src]="imageUrl" width=400 height=400><br>
		<input type="file" (change)="upload($event)">
	</div>
</div>
  <p>
  <br>
  