<!--All Message List Box-->
<div id="all-contactsbox-main" class="calling-screen-open slim-popup">
    <div class="all-contactsbox-header">
        <button id="all-contactsbox-close" class="left-popup-close-arow" (click)="toggleContacts()">
            <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
                <path id="Path_35" data-name="Path 35"
                    d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                    transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
            </svg>
        </button>
    </div>
    <div id="all-contactsbox-surface-bg">
        <ul>
            <li>
                <div class="contact-search-box">
                    <form>
                        <input type="text" placeholder="Search" name="searchInput" [(ngModel)]="userSearchStr" value=""
                            (keyup)="searchContact(userSearchStr)">
                    </form>
                </div>
            </li>
        </ul>
        <ul *ngIf="usersSearchResult.length || searchedGroups.length ">
            <li *ngFor="let user of usersSearchResult;">
                <div class="contact-list-contain" (click)="startNewConversation(user.id)" (contextmenu)="onRightClick($event)">
                    <div class="allcontacts-avatar blue-l">
                        <span class="chat-avatar-label">
                            <img [src]="smallProfileImage + user?.id">
                        </span>
                    </div>

                    <div class="allcontacts-text-detail">
                        <h5>
                            {{user.firstname}} {{user.lastname}}
                        </h5>
                    </div>
                </div>
            </li>

            <li *ngFor="let g of searchedGroups;">
                <div class="contact-list-contain" (click)="toggleChatDrawer(g.id)">
                    <div class="allcontacts-avatar blue-l">
                        <span class="chat-avatar-label" [ngClass]="chatUtil.ciricleBGC()">
                            <h2>{{chatUtil.abbreviate(g.topic)}}</h2>
                        </span>
                    </div>

                    <div class="allcontacts-text-detail">
                        <h5>
                            <h5>{{g.topic}}</h5>
                        </h5>
                    </div>
                </div>
            </li>
        </ul>
        <ul *ngIf="userSearchStr && usersSearchResult.length == 0 && searchedGroups.length ==0">
            <h4>No results found for '{{userSearchStr}}'</h4>
        </ul>
        <ul *ngIf="conversations && !usersSearchResult.length && !userSearchStr && !searchedGroups.length">
            <li *ngFor="let conversation of conversations;">
                <div *ngIf="conversation.latest || !chatUtil.isDirect(conversation)" (click)="toggleChatDrawer(conversation.id)"
                class="contact-list-contain">
                    <div class="allcontacts-avatar">
                        <span class="chat-avatar-label" [ngClass]="chatUtil.ciricleBGC()" *ngIf="!chatUtil.isDirect(conversation)">
                            <h2>{{chatUtil.abbreviate(conversation.topic)}}</h2>
                        </span>
                        <span class="chat-avatar-label" *ngIf="chatUtil.isDirect(conversation)">
                            <img [src]="smallProfileImage + users[conversationService.getOtherUser(conversation)]?.id">
                        </span>
                    </div> 

                    <div class="allcontacts-text-detail">
                        <h5 *ngIf="!chatUtil.isDirect(conversation)">{{conversation.topic}}</h5>
                        <h5 *ngIf="chatUtil.isDirect(conversation)">
                            {{users[conversationService.getOtherUser(conversation)]?.firstname
                            	+ ' ' + users[conversationService.getOtherUser(conversation)]?.lastname
                            	}}
                        </h5>
                        <div class="msg-text">
                            {{latest(conversation)}}
                        </div>
                    </div>

                    <div class="chat-time-status">
                        <p *ngIf="conversation.latest">
                            {{conversation.latest.date | date: 'h:MM a'}}
                        </p>
                        <span class="contacts-msg-qty" *ngIf="conversation.unread > 0">{{conversation.unread}}</span>
                    </div>
                </div>
                <div class="contact-list-toggle dropdown">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <circle cx="256" cy="256" r="64"></circle>
                                        <circle cx="256" cy="448" r="64"></circle>
                                        <circle cx="256" cy="64" r="64"></circle>
                                    </g>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z"></path>
                                    <path d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"></path>
                                    <path d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"></path>
                                    <path d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"></path>
                                </g>
                            </svg> Delete
                        </a>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <div id="all-contactsbox-bottom-button">
        <button id="create-group-button-1" type="button" (click)="toggleGroup()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
                <path id="Path_1139" data-name="Path 1139"
                    d="M22,6a2.006,2.006,0,0,0-2-2H4A2.006,2.006,0,0,0,2,6V18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2ZM20,6l-8,5L4,6Zm0,12H4V8l8,5,8-5Z"
                    transform="translate(-2 -4)" fill="#fff" />
            </svg>
            Create group</button>
    </div>
    <app-calling-screen *ngIf="directCall != null && directCall.state != 'declined'"
    [users]="users">
    </app-calling-screen>
   
</div>