<p>.
<p>.
<p>.
<p>.
<div *ngIf="selectedUserId != -1">

  Reset Password for {{ userService.getUser(selectedUserId).firstname }}
	<input type="text" [(ngModel)]="newPassword">
	<input type="checkbox" [(ngModel)]="inputAllowed">
	<button (click)="resetPassword()">Reset</button>

</div>

<div *ngFor="let user of userService.users | keyvalue">
  {{ user.value.firstname }} {{ user.value.lastname }}
  <button (click)="selectUser(user.value.id)">Select</button>
</div>