<!-- <div class="create-conference-left"> -->
    <div class="create-conference-inner">
        <div class="create-conference-search">
            <input type="text" value="" (keyup)="search($event)"
                   placeholder="Type Contact or Group Name">
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="17.49"
                   height="17.49" viewBox="0 0 17.49 17.49">
                    <path id="Path_6" data-name="Path 6"
                          d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,
                          0-.7.7l.27.28v.79l5,
                          4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5
                          ,4.494,4.494,0,0,1,9.5,14Z"
                          transform="translate(-3 -3)" fill="#544ef6" />
                </svg>
            </button>
        </div>
        <div class="participant-qty-main">
            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                 height="14" viewBox="0 0 20 14">
                <path id="Path_1184" data-name="Path 1184"
                      d="M16.5,12A2.5,2.5,0,1,0,14,9.5,2.492,2.492,
                0,0,0,16.5,12ZM9,11A3,3,0,1,0,6,8,2.987,2.987,0,
                0,0,9,11Zm7.5,3c-1.83,
                0-5.5.92-5.5,2.75V19H22V16.75C22,14.92,18.33,14,
                16.5,14ZM9,13c-2.33,0-7,1.17-7,3.5V19H9V16.75a3.941,3.941,0,0,1,
                2.37-3.47A12.283,12.283,0,0,0,9,13Z"
                      transform="translate(-2 -5)" fill="#544ef6" />
            </svg> 
            {{selectedUsersList.length}} participants
        </div>

        <div class="create-conference-contactlist">
            <ul>
                <ng-container *ngFor="let user of users | keyvalue">
                  <li *ngIf="!filtered(user.value.id)">
                    <a href="javascript:void(0);">
                        <div class="c-conference-avatar">
                            <span class="chat-avatar-label blue-l">
                                <!--  <h2>
                                  {{abbreviate(fullname(user))}}
                                </h2>    -->                                                 
                                <img [src]="smallProfileImage + user.value.id" >	
                            </span>
                        </div>

                        <div class="c-conference-text-detail">
                            <h5>{{fullname(user)}}</h5>
                            <div class="c-conference-jobprofile">
                                {{ userService.getDesignationName(user.value) }}
                            </div>
                        </div>

                        <div class="c-conference-right-icon" (click)="toggleUser(user.value.id)"
                            [ngClass]="{'blue-icon':(!listHasUser(user.value.id))}">
                            <svg id="Group_2429" data-name="Group 2429"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="19" height="16.5"
                                 viewBox="0 0 19 16.5"
                             *ngIf="listHasUser(user.value.id)">
                                <path id="Path_1186" data-name="Path 1186"
                                  d="M9,17l3-2.94A9.341,9.341,0,0,0,11,
                                  14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,
                                  1,0,7,8a4,4,0,0,0,4,4"
                                      transform="translate(-3 -4)"
                                      fill="#07d755" fill-rule="evenodd" />
                                <path id="Path_1187" data-name="Path 1187"
                                      d="M15.47,20.5,12,17l1.4-1.41,2.07,
                                      2.08L20.6,12.5,22,13.91Z"
                                      transform="translate(-3 -4)"
                                      fill="#07d755" fill-rule="evenodd" />
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                 height="20" viewBox="0 0 20 20"
                                 *ngIf="!listHasUser(user.value.id)">
                                <path id="Path_1178" data-name="Path 1178"
                                      d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,
                                      2Zm5,
                                      11H13v4H11V13H7V11h4V7h2v4h4Z"
                                      transform="translate(-2 -2)"
                                      fill="#544ef6" />
                            </svg>
                        </div>
                    </a>
                </li>
                </ng-container>
            </ul>
        </div>
    </div>
<!-- </div> -->