.grid-outer {
	width: 90%;
	height: 83%;
	/*height: calc(100% - 70px);*/
  overflow: hidden;	
  margin: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.grid-scroll {
  overflow: auto;
  height: 100%;
  background: #1D1610;
}
/*
Layouts quadratic elements
*/
.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
  
  position: relative;
  min-height: 100%;
  overflow: hidden;
  margin: auto;
  padding: 15px;
  border-radius: 6px;
}
/*
* Max width of the root container prevents user icons from being larger than the window
* Individual max-width will use the maximum available space
*/
.grid-element-2-row {
   max-width: 150vh;
}
.grid-element-3-row {
	 max-width: 200vh;
}
.grid-element-4-row {
	
   max-width: 250vh;
}
.grid-element-5-row {
	
   max-width: 300vh;
}
/*
* Set the sizes of each sub element,
* width = padding-bottom makes the element square, for all resolutions and aspect ratios
*/
.grid-element-2-row .grid-element {
	
  width: 40%;
  padding-bottom: 40%;
  margin: 1.0%;
}
.grid-element-3-row .grid-element {
	
  width: 30.3333333%;
  padding-bottom: 30.3333333%;
  margin: 0.5%;
}
.grid-element-4-row .grid-element {
	
  width: 23%;
  padding-bottom: 23%;
  margin: 1.0%;
}
.grid-element-5-row .grid-element {
	
  width: 18%;
  padding-bottom: 18%;
  margin: 1.0%;
}

.grid-element {
  
  /*
  * This makes the user icons wrap if the window gets too slim
  */
  min-width: 250px;
  min-height: 250px;
  
  overflow: hidden;   
      
  position: relative;
}
/*
* Inner element must have absolute position
*/
.grid-element-inner {
  
  overflow: hidden;
  border-radius: 16px;
  position:absolute; 
  width: 100%;
  height: 100%;
}
/*
* Contains the presentation layout
*/
.grid-container-share {
	height: 100%;
	width: 100%;
  background: #1D1610;
}
/*
* Contains the presenting user
*/
.share-element {
	float: left;
	overflow: hidden;
	height: 100%;
	width: 80%;
  position: relative;
}
/*
* Side bar with all other users
*/
.share-sidebar {
	
  height: 100%;
  width: 100%;
  position: relative;
}
/*
* Side bar root, to make the user list scrollable
*/
.share-sidebar-scroll {
	
  float: right;
  width: 20%;
  overflow: auto;
  height: 100%;
}
/*
* Style for a user icon inside the side bar
*/
.share-sidebar-element {
  width: 98%;
  padding-bottom: 98%;
  margin: 1%;
  position: relative;
}
.fullscreen-button {
	position:absolute; 
	right: 3%;
	bottom: 3%;
	z-index: 10000;
	border: 2px solid #00000000; 
	background-color:#00000000;
	width: 5%;
}
.fullscreen-button svg{
	fill: #fff;
}