<div class="grid-outer" *ngIf="isConnected()">
	<div class="grid-scroll"  *ngIf="showGrid()">
		<div [class]="'grid-container ' + getGridClass()" >
		  
		  <div class="grid-element" >
        
        <div class="grid-element-inner" >
          <app-conference-grid-element [connection]="activeCall!.ownStream" name="You" [ownUser]="true">           
          </app-conference-grid-element>
        </div>
        
      </div>
		  
		  <div class="grid-element"  *ngFor="let connection of activeCall!.orderedConnections">
		    
		    <div class="grid-element-inner" >
			    <app-conference-grid-element *ngIf="connection != null && connection != undefined" [connection]="connection" [name]="userService.getUser(connection.targetId)!.firstname">			      
			    </app-conference-grid-element>
		    </div>
		    
		  </div>	
		  	  
		</div>
  </div>
  
	<div class="grid-container-share" *ngIf="!showGrid() && getPresentingPeer() != null">
	 
	  <div class="share-element" #fullScreenContainer>
        <button (click)="openFullscreen()" class="fullscreen-button">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%" viewBox="0 0 100 125">
            <g>
              <polygon points="41,79 23.828,79 40.828,62 38,59.172 21,76.172 21,60 17,60 17,83 41,83  "/>
              <polygon points="21,23.828 38,40.828 40.828,38 23.828,21 41,21 41,17 17,17 17,40 21,40  "/>
              <polygon points="83,60 79,60 79,76.172 62,59.172 59.172,62 76.172,79 59,79 59,83 83,83  "/>
              <polygon points="83,17 59,17 59,21 76.172,21 59.172,38 62,40.828 79,23.828 79,40 83,40  "/>
            </g>            
            </svg>
    
          </button>
	    <app-screen-share [connection]="getPresentingPeer()" style="display: flex;height: 100%;position: relative;">            
	    </app-screen-share>
	  </div>
	  
	  <div class="share-sidebar-scroll">
		  <div class="share-sidebar">
		    <div class="share-sidebar-element" >
        
	        <div class="grid-element-inner"  >
	          <app-conference-grid-element [connection]="activeCall!.ownStream" name="You">           
	          </app-conference-grid-element>
	        </div>        
        </div>
        
				<div class="share-sidebar-element" *ngFor="let connection of getSidebarPeers()">
				    
				    <div class="grid-element-inner" >
				      <app-conference-grid-element [connection]="connection" [name]="userService.getUser(connection.targetId)!.firstname">            
				      </app-conference-grid-element>
				    </div>
				    
				  </div>  
	    </div>
    </div>
	</div>
</div>