<div claas="">
    <div class="col-6">
        <h5 class="main-heading">Roles</h5>
    </div>
    <div class="row px-3">
        <div class="col-sm-6 col-xs-12">
            <div class="position mb-3">
                <input (keyup)="filterbyrole($event)" placeholder="Search" #input class="form-control">
                <div class="search-icon">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 pr-4">
            <button mat-raised-button color="primary" style="float:right;" (click)="openModal('add','')">Add</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-width">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="Role Name">
                    <th mat-header-cell *matHeaderCellDef> Role Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="Role Type">
                    <th mat-header-cell *matHeaderCellDef> Role Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.static == true ? 'System Role' : 'User Role'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Active">
                    <th mat-header-cell *matHeaderCellDef> Active </th>
                    <td mat-cell *matCellDef="let element"> {{element.active == true ? 'Active' : 'InActive'}} </td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="cursor mgrt15" *ngIf="element.static != true"
                            (click)="openModal('edit', element)">
                            edit</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<!-- POP-UP STARTS -->
<div class="custom-popup" [hidden]="rolesPoup">
    <div class="popup-grid">
        <div class="col-md-12 bdrb-1">
            <h5 class="popup-header">Role
                <span class="close-btn close-btn-popup cursor" (click)="closerolespoup()">
                    <mat-icon>highlight_off</mat-icon>
                </span></h5>
        </div>
        <div class="col-md-12" style="margin-top: 34px">
            <mat-form-field class="example-full-width">
                <input matInput #myrolename [(ngModel)]="roleName" maxlength="100" autocomplete="off"
                    placeholder="Role Name" />
            </mat-form-field>
        </div>
        <div class="col-md-12 check-box">
            <mat-checkbox class="" [checked]="ischecked" [disabled]="isdisabled" (change)="isactiveevent($event)">
                <label>Active </label>
            </mat-checkbox>
        </div>
        <div class="text-center mb-3">
            <button mat-raised-button color="primary" class="mgrt15 cursor" class="btnstyle" [hidden]="isUpdate"
                (click)="addorupdaterole('add')">Submit</button>
            <button mat-raised-button color="primary" class="mgrt15 cursor" class="btnstyle" [hidden]="!isUpdate"
                (click)="addorupdaterole('update')">Update</button>
        </div>
    </div>
</div>
<!-- POP-UP END -->
