/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .custom-popup > div{
    height: auto!important;
  }

  .custom-popup{
    background-color: #00000094;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    top: 0;
    left: 0;
  }
  
  .custom-popup > div{
    width: 540px;
    height: 225px;
    background: #fff;
    box-shadow: 0px 0px 3px #bebebe;
    padding: 10px 12px;
    z-index: 999;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .close-btn{
    position: absolute;
    top: -19px;
    right: -18px;
    color: #212529;
  }
  .approved-btn {
    text-align: right;
    margin-top: 27px;
    margin-right: 32px;
  }

  .btnstyle{
      float: right;
  }

.filter-header .mat-header-cell {
    font-weight: bold !important;
    color: #000816 !important;
  }


  .tblwidth {
    width: -webkit-fill-available;
  }

  .table-width {
    border: 1px solid #bebaba;
  }

  .top-sub-bar {
    margin-top: 20px !important;
}

.btnsty{
    position: absolute;
    margin-left: 870px;
}

.table-nameconcat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

.cursor{
    cursor: pointer;
}
.mgrt15{
    margin-right: 15px;;
}

.close-btn{
  position: absolute;
}

.close-btn-popup{
  margin-left: 536px !important;
}

.popup-header{
  position: relative!important;
  padding: 7px 0;
  display: flex;
  font-weight: 450!important;
}

.popup-header span{
  text-align: right;
  margin-left: auto!important;
  position: relative;
}

.bdrb-1{
  border-bottom: 1px solid #bebebe;
}

.close-btn{
  position: absolute;
}