<div class="main-body">
  <div class="col-md-12 d-block m-auto top-sub-bar">
    <h6 class="main-heading">Role Operations Mapping</h6>
    <div class="clear"></div>
    <div class="">
      <div class="row">
        <div class="col-md-4">
          <div class="">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input type="text"
                       placeholder="Select Role"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                 <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectrole($event)">
                  <mat-option *ngFor="let role of filteredOptions | async" 
                  [value]="role.name">
                  {{ role.name }}
                    <!-- {{ role.name }}{{role.static == true ? 'System Role' : 'User Role'}} -->
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 d-block m-auto top-sub-bar">
    <div class="create-project table-width" id="permissionTable">
      <div [hidden]='!screennoData'>
        <table mat-table [dataSource]="finalScreenOperations"
        class="full-table-width mat-elevation-z8 filter-header remove-header-color tblwidth">
        <ng-container matColumnDef="Screen Name">
          <th mat-header-cell *matHeaderCellDef width="300"> Screen Name </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-nameconcat new-pdr15">
              {{ element.screen_name }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Operations">
          <th mat-header-cell *matHeaderCellDef> Operations </th>
          <td mat-cell *matCellDef="let element">
            <div class="table-nameconcat new-pdr15">
              <div *ngFor="let scrop of element.operations" class="table-ckbox">
                <mat-checkbox color="primary" [ngModel]="scrop.active == 0 ? false : true"
                  (ngModelChange)='$event == true ? scrop.active = 1 : scrop.active = 0'> &nbsp; {{scrop.operation_name}}</mat-checkbox>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="scrnoprnDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: scrnoprnDisplayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="text-center my-3" [hidden]='screennoData'>
        <h3>No Data</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align:right;" class="mgb-15 mgrt-15">
            <button style="margin-top:10px;" mat-raised-button color="primary" title="save mapping"
              (click)="saverolemap()">
              Save Mapping
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
