Calls: <p>

Auto Update <input type="checkbox" [(ngModel)]="autoUpdate"><p>

<select [(ngModel)]="selectedCall" (ngModelChange)="changeCall()">
  <option *ngFor="let call of stats | keyvalue" [(ngValue)]="call.key">
    {{ call.value.start | date: 'dd-MM h:mm a'}} {{ call.value.ended ? 'Ended' : 'Running' }}
  </option>
</select>
<p>
<select *ngIf="selectedCall != null" [(ngModel)]="selectedPeer" (ngModelChange)="changeCall()">
  <option *ngFor="let peer of stats[selectedCall].stats.peers | keyvalue" [(ngValue)]="peer.key">
    {{ userService.getUser(peer.key).firstname }} {{ userService.getUser(peer.key).lastname }}
  </option>
</select>

<div *ngIf="selectedPeer != -1">
<div echarts [options]="options" class="demo-chart"></div>
<div echarts [options]="packetLostChart" class="demo-chart"></div>
</div>
