<div class="dropdown-menu">
    <div class="notification-drop-header">
        <h4>Notification</h4>
<!--        <ul>-->
<!--            <li>3 </li>-->
<!--            <li>4 Pending Mails</li>-->
<!--        </ul>-->
    </div>


    <div class="notification-drop-list">
            <ul *ngIf="notifications.length >0">
                <li *ngFor="let notif of notifications"
                [ngClass]="{'birthday-n-box':notif.type =='Y',
                'congratulate-n-box':notif.type=='R',
                'meeting-n-box':notif.type=='G'}"
                >
                    <div class="n-l-box" (click)="openSelectedChat(notif.data.conversation)">
                        <div class="n-l-avatar">
                            <span class="n-l-avatar-label">
                                <h2 *ngIf="notif.iconType == 'T'">{{notif.icon}}</h2>
                            </span>
                        </div>

                        <h5>{{notif.title}}</h5>
                            {{notif.content}}
                        <button class="blue-button" *ngIf="notif.buttonText" [routerLink]="notif.buttonLink">
                          <svg xmlns="http://www.w3.org/2000/svg"
                               width="12.42" height="12.42" viewBox="0 0 12.42 12.42">
                                <path id="Path_194" data-name="Path 194"
                                      d="M14.04,14.04V3.69H11.28V3H4.38V14.04H3v1.38h8.28V5.07h1.38V15.42h2.76V14.04Zm-4.14,0H5.76V4.38H9.9ZM7.83,8.52H9.21V9.9H7.83Z"
                                      transform="translate(-3 -3)" fill="#fff" />
                            </svg>
                            {{notif.buttonText}}
                        </button>
                    </div>
                </li>

<!--                <li class="birthday-n-box">-->
<!--                    <div class="n-l-box">-->
<!--                        <div class="n-l-avatar">-->
<!--                            <span class="n-l-avatar-label">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22">-->
<!--                                    <path id="Path_211" data-name="Path 211" d="M12,6a2,2,0,0,0,2-2,1.9,1.9,0,0,0-.29-1.03L12,0,10.29,2.97A1.9,1.9,0,0,0,10,4,2.006,2.006,0,0,0,12,6Zm6,3H13V7H11V9H6a3,3,0,0,0-3,3v9a1,1,0,0,0,1,1H20a1,1,0,0,0,1-1V12A3,3,0,0,0,18,9Zm1,11H5V17a3.444,3.444,0,0,0,2.4-1.01l1.09-1.07,1.07,1.07a3.543,3.543,0,0,0,4.89,0l1.08-1.07,1.07,1.07A3.444,3.444,0,0,0,19,17v3Zm0-4.5a1.909,1.909,0,0,1-1.35-.57L15.52,12.8l-2.14,2.13a2.006,2.006,0,0,1-2.77,0L8.48,12.8,6.34,14.93A1.909,1.909,0,0,1,5,15.5V12a1,1,0,0,1,1-1H18a1,1,0,0,1,1,1Z" transform="translate(-3)" fill="#936c15" />-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                        </div>-->

<!--                        <h5>Meghna Singh</h5>-->
<!--                        Wish her a <span>Happy Birthday</span>-->

<!--                    </div>-->
<!--                </li>-->

<!--                <li class="congratulate-n-box">-->
<!--                    <div class="n-l-box">-->
<!--                        <div class="n-l-avatar">-->
<!--                            <span class="n-l-avatar-label red-l">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18">-->
<!--                                    <path id="Path_213" data-name="Path 213" d="M22.94,11.34a4.008,4.008,0,0,0-2.81-3.17,9.114,9.114,0,0,0-2.19-2.91A8.991,8.991,0,0,0,3.87,8.17a3.994,3.994,0,0,0-2.81,3.17,3.66,3.66,0,0,0,0,1.32,4.008,4.008,0,0,0,2.81,3.17,8.977,8.977,0,0,0,2.17,2.89,8.943,8.943,0,0,0,11.93,0,9.086,9.086,0,0,0,2.17-2.89,4,4,0,0,0,2.8-3.17,3.66,3.66,0,0,0,0-1.32ZM19,14a2.851,2.851,0,0,1-.29-.03,7.168,7.168,0,0,1-.86,1.86,6.983,6.983,0,0,1-11.7,0,7.168,7.168,0,0,1-.86-1.86A2.85,2.85,0,0,1,5,14a2,2,0,0,1,0-4,2.851,2.851,0,0,1,.29.03,7.168,7.168,0,0,1,.86-1.86,6.983,6.983,0,0,1,11.7,0,7.168,7.168,0,0,1,.86,1.86A2.85,2.85,0,0,1,19,10a2,2,0,0,1,0,4Zm-7,3a4.907,4.907,0,0,0,4.5-3h-9A4.907,4.907,0,0,0,12,17Z" transform="translate(-1 -3)" fill="#cb5f5f" />-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                        </div>-->

<!--                        <h5>It’s a Boy!</h5>-->
<!--                        <span>Congratulate Shubham!</span>-->
<!--                    </div>-->
<!--                </li>-->
            </ul>
            <p *ngIf="notifications.length <= 0"> No Notifications.</p>
        </div>

<!--    <div class="more-n-button-main">-->
<!--        <button>+ 5 More</button>-->
<!--    </div>-->

</div>
