

<section id="lower-call-conference-main" *ngIf="!isConnected()">
    <div class="container">
        <div class="participants-count" *ngIf="isConnected()">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.672" height="15.75" viewBox="0 0 21.672 15.75">
                <path id="Path_215" data-name="Path 215" d="M9.585,12.875a3.871,3.871,0,0,0,3.793-3.938A3.871,3.871,0,0,0,9.585,5,3.871,3.871,0,0,0,5.793,8.938,3.871,3.871,0,0,0,9.585,12.875Zm0-5.625A1.689,1.689,0,1,1,7.96,8.938,1.655,1.655,0,0,1,9.585,7.25ZM9.64,18.5H5a10.906,10.906,0,0,1,4.584-1.125c.119,0,.249.011.368.011a5.09,5.09,0,0,1,1.777-2.036,12.254,12.254,0,0,0-2.146-.225C7.05,15.125,2,16.441,2,19.063V20.75H9.585V19.063A3.189,3.189,0,0,1,9.64,18.5Zm8.073-2.813c-1.994,0-5.96,1.136-5.96,3.375V20.75h11.92V19.063C23.672,16.824,19.706,15.688,17.712,15.688Zm1.311-2.048a2.843,2.843,0,0,0,1.4-2.453,2.711,2.711,0,1,0-5.418,0,2.843,2.843,0,0,0,1.4,2.453,2.568,2.568,0,0,0,2.622,0Z" transform="translate(-2 -5)" fill="#000007" />
            </svg>
            {{getOrderedConnectionsLength()}}/{{totalUsersInConf()}} participants in the call
        </div>
        <div *ngIf="!isConnected()" style="width:100%;height:100%;
            align-content: center;display: flex;flex:wrap;justify-content: center;">
          <div>
          <div class="conference-member-box" >
          <div class="conference-member-box-text" >
          <div>
          <button (click)="connectCall()">
            Join Call
          </button>
          </div>
          </div>
          </div>
          </div>
        </div>
          
          
    </div>
</section>
<app-conference-grid *ngIf="isConnected()"></app-conference-grid>

<div *ngIf="isConnected()" id="member-img-grid-scroll" class="member-img-grid fix-video-bar" 
[ngStyle]="{'display':  peopleTab ? 'none' : 'block' }">
  <div class="custom-row" *ngIf="isConnected()" >
    <ng-container>
      <div class="video-control-fullpanel fix-position">
            <div class="video-control-fullpanelinner">
                <div class="container">
                    <div class="video-control-participants-text" *ngIf="isConnected()" (click)="togglePopup(true)">
                        {{getOrderedConnectionsLength()}}/{{totalUsersInConf()}} participants
                    </div>
                    <div id="add-member-dropdown1" class="add-member-dropdown" [ngClass]="{'add-member-dropdown-open': isParticiapantsPopUp}">
                      <button id="add-member-close1" class="member-close-button" (click)="togglePopup()">
                          <svg xmlns="http://www.w3.org/2000/svg" width="13.584" height="8.533" viewBox="0 0 13.584 8.533">
                              <path id="Path_35" data-name="Path 35" d="M7.579,8.59l5.141,5.13,5.141-5.13,1.579,1.579L12.721,16.89,6,10.169Z" transform="matrix(1, 0.017, -0.017, 1, -5.704, -8.693)" fill="#544ef6"></path>
                          </svg>
                      </button>

                      <div class="create-conference-inner">
                          <div class="create-conference-search">
                              <input type="text" value="" placeholder="Type Contact or Group Name">
                              <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49" viewBox="0 0 17.49 17.49">
                                      <path id="Path_6" data-name="Path 6" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z" transform="translate(-3 -3)" fill="#544ef6"></path>
                                  </svg>
                              </button>
                          </div>

                          <div class="participant-qty-main">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                                  <path id="Path_1184" data-name="Path 1184" d="M16.5,12A2.5,2.5,0,1,0,14,9.5,2.492,2.492,0,0,0,16.5,12ZM9,11A3,3,0,1,0,6,8,2.987,2.987,0,0,0,9,11Zm7.5,3c-1.83,0-5.5.92-5.5,2.75V19H22V16.75C22,14.92,18.33,14,16.5,14ZM9,13c-2.33,0-7,1.17-7,3.5V19H9V16.75a3.941,3.941,0,0,1,2.37-3.47A12.283,12.283,0,0,0,9,13Z" transform="translate(-2 -5)" fill="#544ef6"></path>
                              </svg> {{totalUsersInConf()}} participants
                          </div>

                          <div class="create-conference-contactlist four-column">
                              <ul>
                                  <li *ngFor="let user of this.conference.conversation.users">
                                   <a href="javascript:void(0);">
                                      <div class="c-conference-avatar">
                                          <span class="chat-avatar-label blue-l">
                                              <img [src]="smallProfileImage + user">
                                          </span>
                                      </div>

                                      <div class="c-conference-text-detail" *ngIf="userService.currentUser?.id !== user">
                                          <h5>{{fullnameUsingId(user)}}</h5>
                                          <div class="c-conference-jobprofile">
                                            {{ userService.getDesignationNameUserId(user) }}
                                          </div>
                                      </div>
                                      <div class="c-conference-text-detail" *ngIf="userService.currentUser?.id == user">
                                        <h5>You</h5>
                                        <div class="c-conference-jobprofile">
                                          {{userService.getDesignationNameUserId(user)}}
                                        </div>
                                    </div>

                                          <div class="c-conference-voice-icon speaking-voice">
                                              <button>
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="9.196" height="12.48" viewBox="0 0 9.196 12.48">
                                                      <path id="Path_61" data-name="Path 61" d="M9.6,9.882a1.968,1.968,0,0,0,1.971-1.971V3.971a1.971,1.971,0,1,0-3.941,0V7.912A1.968,1.968,0,0,0,9.6,9.882ZM8.941,3.971a.657.657,0,1,1,1.314,0V7.912a.657.657,0,1,1-1.314,0Zm3.941,3.941a3.284,3.284,0,0,1-6.568,0H5a4.6,4.6,0,0,0,3.941,4.545V14.48h1.314V12.457A4.6,4.6,0,0,0,14.2,7.912Z" transform="translate(-5 -2)" fill="#07d755"></path>
                                                  </svg>
                                              </button>
                                              Speaking
                                          </div>

                                          <div class="c-conference-right-icon">
                                              <svg id="Group_2429" data-name="Group 2429" xmlns="http://www.w3.org/2000/svg" width="19" height="16.5" viewBox="0 0 19 16.5">
                                                  <path id="Path_1186" data-name="Path 1186" d="M9,17l3-2.94A9.341,9.341,0,0,0,11,14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,1,0,7,8a4,4,0,0,0,4,4" transform="translate(-3 -4)" fill="#07d755" fill-rule="evenodd"></path>
                                                  <path id="Path_1187" data-name="Path 1187" d="M15.47,20.5,12,17l1.4-1.41,2.07,2.08L20.6,12.5,22,13.91Z" transform="translate(-3 -4)" fill="#07d755" fill-rule="evenodd"></path>
                                              </svg>
                                          </div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <app-conference-optionbar (openPeopleTab)="openPeopleTab()"></app-conference-optionbar>
            </div>
          </div>
      </div>           
    </ng-container>
</div>
    </div>     
<div id="left-b-call-options-main" [ngClass]="{'call-o-toggle-open':peopleTab == true}" *ngIf="isConnected()">
 


 
