.innerclassHeight{
  height: 780px;
}
.hidden{
  display: none;
}

.user-view {
	justify-content: right;
    float: left;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}


.previewVideo {
	
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.largeGrid{ max-width: 40%; }
.largeBox{ height: 510px; }

/** Two image grid  START**/
.member-img-grid.two-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 580px; }
.member-img-grid.two-img-grid .member-img-grid-col .member-img-box { height: 580px; }
@media screen and (max-width: 1900px){.member-img-grid.two-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 490px; }
  .member-img-grid.two-img-grid .member-img-grid-col .member-img-box { height: 490px; } }
@media (max-width: 991px) { .member-img-grid.two-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 350px; }
  .member-img-grid.two-img-grid .member-img-grid-col .member-img-box { height: 350px; } }
@media (max-width: 767px) { .member-img-grid.two-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 300px; }
  .member-img-grid.two-img-grid .member-img-grid-col .member-img-box { height: 300px; } }
@media (max-width: 576px) { .member-img-grid.two-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 300px; }
  .member-img-grid.two-img-grid .member-img-grid-col .member-img-box { height: 300px; } }
/** Two image grid  END**/

/** Three Image Grid START **/
.member-img-grid.three-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 400px; }
.member-img-grid.three-img-grid .member-img-grid-col .member-img-box { height: 400px; }
@media (max-width: 991px) { .member-img-grid.three-img-grid .member-img-grid-col.lg-memberbox .member-img-box { height: 250px; }
  .member-img-grid.three-img-grid .member-img-grid-col .member-img-box { height: 250px; } }
/** Three Image Grid END **/


/** corner cut in screen share START **/
@media screen and (min-width: 1910px){ .member-img-grid .video-conference-box { height: 760px; } }
@media screen and (max-width: 1900px){ .member-img-grid .video-conference-box { height: 700px;  } }
@media screen and (max-width: 1439px){ .member-img-grid .video-conference-box { height: 620px; } }
@media screen and (max-width: 1280px){ .member-img-grid .video-conference-box { height: 560px; } }
@media screen and (max-width: 1270px){ .member-img-grid .video-conference-box { height: 500px; } }
/** corner cut in screen share END **/

.video-control-fullpanel .video-control-fullpanelinner { 
  width: 100%; 
  position: fixed; 
  left: 0; 
  top: auto; 
  bottom: -15px; 
  z-index: 9; 
  box-shadow: none; 
  border-radius: 0; 
}

.slimScrollBar {
  display: block !important;
  background: #5d5d5d !important;
  opacity: 0.2 !important;
}

.video-control-fullpanel .video-control-fullpanelinner {
  height: 75px;
}

#left-b-call-options-main { 
  left: 35%;
}

#left-b-call-options-main.call-o-toggle-open #left-b-contact-list-main {
  height: 475px;
}

#left-b-call-options-main #left-b-contact-list-main ul {
  padding: 10px 45px 100px;
}

.video-control-fullpanel .video-control-fullpanelinner #add-member-dropdown1 {
  max-width: 472px;
  bottom: 12px;
}
.video-control-participants-text {
  cursor: pointer;
}
