<button type="button" id="left-sidebar-menuicon" (click)="toggleSidebar()" class="custom-inline-btn">
    <i class="material-icons">menu</i>
</button>
<div id="left-sidebar-toggle">
        <!-- <div id="left-sidebar-arrow" (click)="toggleSidebar()">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
                <path id="Path_35"
                      data-name="Path 35"
                      d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                      transform="translate(-8.59 16.778) rotate(-90)"
                      fill="#544ef6" />
            </svg>
        </div> -->
        <div id="left-sidebar-header" class="my-5 b-block">
            <!-- <h2>Voffis</h2> -->
        </div>

        <div id="left-toggle-scrolbbar">
            <div class="row">
                <div class="left-sidebar-inner">
                    <div class="left-sidebar-inner-2">

                        <div id="left-toggle-top-box">

                            <div class="left-toggle-name-detail">

                                <div class="profile-avatar">
                                    <img [src]="smallProfileImage + user?.id">
                                </div>

                                <h4>{{user?.firstname}} {{user?.lastname}}</h4>
                                <h5>{{department?.name}}</h5>

                                <div class="left-profile-status">
                                    <div class="profile-status-dropdown dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <ul>
                                                <li>
                                                    <div class="profile-activity-status">
                                                      <span [ngClass]="{'available': user?.is_online}"></span> Available</div>
                                                </li>

                                                <li>{{dateTime|date:'h:mm'}} Hours</li>
                                            </ul>
                                        </a>

                                        <div class="dropdown-menu">
                                            <ul>
                                                <li class="available"><span></span> Available</li>
                                                <li class="away"><span></span> Away</li>
                                                <li class="dnd"><span></span> Do not Distrub</li>
                                                <li class="invisi"><span></span> Invisible</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="left-toggle-profile-activity">
                                <ul>
                                    <li>
                                        <div class="left-profile-activity-label">
                                            <a [routerLink]="[ '/calender']">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14.293" height="14.596" viewBox="0 0 14.293 14.596">
                                                    <path id="Path_192"
                                                          data-name="Path 192"
                                                          d="M9.562,6.285H8.484v4.338l3.414,2.06.539-.889L9.562,10.08ZM13.039,1.81,16.35,4.59,15.43,5.7,12.117,2.921Zm-7.671,0,.921,1.11L2.977,5.7l-.92-1.11ZM9.2,3.393A6.506,6.506,0,1,0,15.671,9.9,6.488,6.488,0,0,0,9.2,3.393Zm0,11.567A5.061,5.061,0,1,1,14.234,9.9,5.051,5.051,0,0,1,9.2,14.96Z"
                                                          transform="translate(-2.057 -1.81)"
                                                          fill="#fff" />
                                                </svg>
                                                Reminder

                                                <span class="num-label">2</span>
                                            </a>
                                        </div>
                                    </li>

                                    <!-- <li>
                                        <div class="left-profile-activity-label">
                                            <a>
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="11.749"
                                                     height="11.749" viewBox="0 0 11.749 11.749">
                                                    <path id="Path_71"
                                                          data-name="Path 71" d="M9.874,5.469A1.469,1.469,0,1,1,8.406,6.937,1.473,1.473,0,0,1,9.874,5.469m0,6.609c1.983,0,4.259.947,4.406,1.469v.734H5.469v-.727c.147-.529,2.423-1.476,4.406-1.476M9.874,4a2.937,2.937,0,1,0,2.937,2.937A2.936,2.936,0,0,0,9.874,4Zm0,6.609C7.914,10.609,4,11.593,4,13.546v2.2H15.749v-2.2C15.749,11.593,11.835,10.609,9.874,10.609Z"
                                                          transform="translate(-4 -4)"
                                                          fill="#fff" />
                                                </svg>
                                                Activity
                                            </a>
                                        </div>
                                    </li> -->
                                    <li>
                                        <div class="left-profile-activity-label">
                                            <a>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14" viewBox="0 0 12 14">
                                                    <path id="Path_200"
                                                          data-name="Path 200" d="M13.667,2.4H10.88a1.962,1.962,0,0,0-3.76,0H4.333A1.372,1.372,0,0,0,3,3.8v9.8A1.372,1.372,0,0,0,4.333,15h9.333A1.372,1.372,0,0,0,15,13.6V3.8A1.372,1.372,0,0,0,13.667,2.4ZM9,2.225a.489.489,0,0,1,.367.175.538.538,0,0,1,.133.35.5.5,0,1,1-1,0,.538.538,0,0,1,.133-.35A.489.489,0,0,1,9,2.225ZM13.667,13.6H4.333V3.8h9.333ZM9,4.5A2.058,2.058,0,0,0,7,6.6,2.058,2.058,0,0,0,9,8.7a2.058,2.058,0,0,0,2-2.1A2.058,2.058,0,0,0,9,4.5ZM9,7.3a.7.7,0,1,1,.667-.7A.686.686,0,0,1,9,7.3ZM5,11.829V12.9h8V11.829c0-1.75-2.647-2.506-4-2.506S5,10.072,5,11.829ZM6.54,11.5A4.519,4.519,0,0,1,9,10.716a4.5,4.5,0,0,1,2.46.784Z"
                                                          transform="translate(-3 -1)"
                                                          fill="#fff" />
                                                </svg>
                                                Invite

                                                <span class="invite-no" (click)="navigate('conferences')">
                                                    {{noOfConfInvite}} Pending Invites
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="left-toggle-options-box-main">
                            <div class="row">
                                <div class="left-t-option-col">
                                    <a [routerLink]="[ '/office']">
                                        <div class="left-t-option-box">
                                            <div class="left-t-option-box-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                                                    <path id="Path_37"
                                                          data-name="Path 37"
                                                          d="M20,7V17H4V7H20m0-2H4A2,2,0,0,0,2.01,7L2,17a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V7A2.006,2.006,0,0,0,20,5ZM11,8h2v2H11Zm0,3h2v2H11ZM8,8h2v2H8Zm0,3h2v2H8ZM5,11H7v2H5ZM5,8H7v2H5Zm3,6h8v2H8Zm6-3h2v2H14Zm0-3h2v2H14Zm3,3h2v2H17Zm0-3h2v2H17Z"
                                                          transform="translate(-2 -5)"
                                                          fill="#fff" />
                                                </svg>
                                            </div>

                                            <h3>My Office</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="left-t-option-col">
                                    <a>
                                        <div class="left-t-option-box">
                                            <div class="left-t-option-box-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                                    <path id="Path_39" data-name="Path 39" d="M4,6H2V20a2.006,2.006,0,0,0,2,2H18V20H4ZM20,2H8A2.006,2.006,0,0,0,6,4V16a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V4A2.006,2.006,0,0,0,20,2ZM17,4V9l-1-.75L15,9V4Zm3,12H8V4h5v9l3-2.25L19,13V4h1Z" transform="translate(-2 -2)" fill="#fff" />
                                                </svg>
                                            </div>

                                            <h3>Projects</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="left-t-option-col">
                                    <a [routerLink]="[ '/team']">
                                        <div class="left-t-option-box">
                                            <div class="left-t-option-box-icon">
                                                <svg id="Group_103" data-name="Group 103" xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16">
                                                    <g id="Group_102" data-name="Group 102">
                                                        <path id="Path_40" data-name="Path 40" d="M16.67,13.13A4.651,4.651,0,0,1,19,17v3h4V17C23,14.82,19.43,13.53,16.67,13.13Z" transform="translate(-1 -4)" fill="#fff" />
                                                        <path id="Path_41" data-name="Path 41" d="M15,12a4,4,0,0,0,0-8,4.178,4.178,0,0,0-1.33.24,5.98,5.98,0,0,1,0,7.52A4.178,4.178,0,0,0,15,12Z" transform="translate(-1 -4)" fill="#fff" />
                                                        <path id="Path_42" data-name="Path 42" d="M9,12A4,4,0,1,0,5,8,4,4,0,0,0,9,12ZM9,6A2,2,0,1,1,7,8,2.006,2.006,0,0,1,9,6Z" transform="translate(-1 -4)" fill="#fff" />
                                                        <path id="Path_43" data-name="Path 43" d="M9,13c-2.67,0-8,1.34-8,4v3H17V17C17,14.34,11.67,13,9,13Zm6,5H3v-.99C3.2,16.29,6.3,15,9,15s5.8,1.29,6,2Z" transform="translate(-1 -4)" fill="#fff" />
                                                    </g>
                                                </svg>

                                            </div>

                                            <h3>Teams</h3>
                                        </div>
                                    </a>
                                </div>

                                <div class="left-t-option-col">
                                    <a [routerLink]="[ '/calender']">
                                        <div class="left-t-option-box">
                                            <div class="left-t-option-box-icon">
                                                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="17" height="23" viewBox="0 0 17 23">
                                                    <path id="Path_45" data-name="Path 45" d="M8.5,14.5,4,19l1.5,1.5L9,17h2ZM15,1a2,2,0,1,0,2,2A2.006,2.006,0,0,0,15,1Zm6,20.01L18,24l-2.99-3.01V19.5l-7.1-7.09a5.665,5.665,0,0,1-.91.07V10.32a6.712,6.712,0,0,0,4.67-2.04l1.4-1.55a2.145,2.145,0,0,1,.69-.5A2.225,2.225,0,0,1,14.72,6h.03A2.268,2.268,0,0,1,17,8.26v5.75a3,3,0,0,1-.92,2.16L12.5,12.59V10.32a9.7,9.7,0,0,1-2.29,1.39L16.5,18H18Z" transform="translate(-4 -1)" fill="#fff" />
                                                </svg> -->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                                                    <path id="Path_37"
                                                          data-name="Path 37"
                                                          d="M20,7V17H4V7H20m0-2H4A2,2,0,0,0,2.01,7L2,17a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V7A2.006,2.006,0,0,0,20,5ZM11,8h2v2H11Zm0,3h2v2H11ZM8,8h2v2H8Zm0,3h2v2H8ZM5,11H7v2H5ZM5,8H7v2H5Zm3,6h8v2H8Zm6-3h2v2H14Zm0-3h2v2H14Zm3,3h2v2H17Zm0-3h2v2H17Z"
                                                          transform="translate(-2 -5)"
                                                          fill="#fff" />
                                                </svg>
                                            </div>

                                            <h3>Calender</h3>
                                        </div>
                                    </a>
                                </div>

                                <div class="left-t-option-col">
                                    <a>
                                        <div class="left-t-option-box">
                                            <div class="left-t-option-box-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
                                                    <path id="Path_47" data-name="Path 47" d="M20,6H12L10,4H4A2,2,0,0,0,2.01,6L2,18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2V8A2.006,2.006,0,0,0,20,6Zm0,12H4V6H9.17l2,2H20Zm-5-5a2,2,0,1,0-2-2A2.006,2.006,0,0,0,15,13Zm-4,4h8V16c0-1.33-2.67-2-4-2s-4,.67-4,2Z" transform="translate(-2 -4)" fill="#fff" />
                                                </svg>
                                            </div>

                                            <h3>Files</h3>
                                        </div>
                                    </a>
                                </div>

                                <div class="left-t-option-col">
                                    <a [routerLink]="[ '/monitor']">
                                        <div class="left-t-option-box">
                                            <div class="left-t-option-box-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                                    <path id="Path_49" data-name="Path 49" d="M7,10a4,4,0,1,0,4,4A4,4,0,0,0,7,10Zm0,6a2,2,0,1,1,2-2A2.006,2.006,0,0,1,7,16Zm8.01-1a3,3,0,1,0,3,3A3.009,3.009,0,0,0,15.01,15Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,15.01,19ZM16.5,3A5.5,5.5,0,1,0,22,8.5,5.51,5.51,0,0,0,16.5,3Zm0,9A3.5,3.5,0,1,1,20,8.5,3.5,3.5,0,0,1,16.5,12Z" transform="translate(-3 -3)" fill="#fff" />
                                                </svg>
                                            </div>

                                            <h3>CLA Live</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="left-t-option-col"  (click)="removesidebar();">
                                        <a [routerLink]="[ '/admin']">
                                            <div class="left-t-option-box">
                                                <div class="left-t-option-box-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                                                        <path id="Path_49" data-name="Path 49" d="M7,10a4,4,0,1,0,4,4A4,4,0,0,0,7,10Zm0,6a2,2,0,1,1,2-2A2.006,2.006,0,0,1,7,16Zm8.01-1a3,3,0,1,0,3,3A3.009,3.009,0,0,0,15.01,15Zm0,4a1,1,0,1,1,1-1A1,1,0,0,1,15.01,19ZM16.5,3A5.5,5.5,0,1,0,22,8.5,5.51,5.51,0,0,0,16.5,3Zm0,9A3.5,3.5,0,1,1,20,8.5,3.5,3.5,0,0,1,16.5,12Z" transform="translate(-3 -3)" fill="#fff" />
                                                    </svg>
                                                </div>
    
                                                <h3>Admin</h3>
                                            </div>
                                        </a>
                                    </div>

                            </div>
                        </div>

                        <div class="left-toggle-settings">
                            <div class="row">

                                <div class="left-settings-col-left">
                                    <button type="button" (click)="logout();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                            <path id="Path_33" data-name="Path 33" d="M13,3H11V13h2Zm4.83,2.17L16.41,6.59A6.92,6.92,0,0,1,19,12,7,7,0,1,1,7.58,6.58L6.17,5.17A8.992,8.992,0,1,0,21,12,8.932,8.932,0,0,0,17.83,5.17Z" transform="translate(-3 -3)" fill="#fff" />
                                        </svg>
                                        Logout
                                    </button>
                                </div>

                                <div class="left-settings-col-right">
                                    <ul>
                                        <li><a>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                                    <path id="Path_77" data-name="Path 77" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,17H11V17h2Zm2.07-7.75-.9.92A3.4,3.4,0,0,0,13,15H11v-.5a4.025,4.025,0,0,1,1.17-2.83l1.24-1.26A1.955,1.955,0,0,0,14,9a2,2,0,0,0-4,0H8a4,4,0,0,1,8,0A3.182,3.182,0,0,1,15.07,11.25Z" transform="translate(-2 -2)" fill="#fff" />
                                                </svg>
                                            </a></li>

                                        <li><a>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="19.454" height="20" viewBox="0 0 19.454 20">
                                                    <path id="Path_75" data-name="Path 75" d="M19.43,12.98A7.793,7.793,0,0,0,19.5,12a7.793,7.793,0,0,0-.07-.98l2.11-1.65a.5.5,0,0,0,.12-.64l-2-3.46a.5.5,0,0,0-.44-.25.467.467,0,0,0-.17.03l-2.49,1a7.306,7.306,0,0,0-1.69-.98l-.38-2.65A.488.488,0,0,0,14,2H10a.488.488,0,0,0-.49.42L9.13,5.07a7.683,7.683,0,0,0-1.69.98l-2.49-1a.566.566,0,0,0-.18-.03.5.5,0,0,0-.43.25l-2,3.46a.493.493,0,0,0,.12.64l2.11,1.65A7.931,7.931,0,0,0,4.5,12a7.931,7.931,0,0,0,.07.98L2.46,14.63a.5.5,0,0,0-.12.64l2,3.46a.5.5,0,0,0,.44.25.467.467,0,0,0,.17-.03l2.49-1a7.306,7.306,0,0,0,1.69.98l.38,2.65A.488.488,0,0,0,10,22h4a.488.488,0,0,0,.49-.42l.38-2.65a7.683,7.683,0,0,0,1.69-.98l2.49,1a.566.566,0,0,0,.18.03.5.5,0,0,0,.43-.25l2-3.46a.5.5,0,0,0-.12-.64Zm-1.98-1.71a5.343,5.343,0,0,1,.05.73c0,.21-.02.43-.05.73l-.14,1.13.89.7,1.08.84-.7,1.21-1.27-.51-1.04-.42-.9.68a5.857,5.857,0,0,1-1.25.73l-1.06.43-.16,1.13L12.7,20H11.3l-.19-1.35-.16-1.13-1.06-.43a5.674,5.674,0,0,1-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21,1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7L4.72,8.6l.7-1.21,1.27.51,1.04.42.9-.68a5.857,5.857,0,0,1,1.25-.73l1.06-.43.16-1.13L11.3,4h1.39l.19,1.35.16,1.13,1.06.43a5.674,5.674,0,0,1,1.23.71l.91.7,1.06-.43,1.27-.51.7,1.21-1.07.85-.89.7.14,1.13ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2.006,2.006,0,0,1,12,14Z" transform="translate(-2.271 -2)" fill="#fff" />
                                                </svg>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
