:host /deep/ .slimScrollBar {
  display: flex;
  height: 0px;
}

@media (min-width: 1601px) {
  #left-sidebar-toggle #left-sidebar-arrow {
    right: -16px;
  }

  #left-sidebar-toggle {
    left: -30px;
  }
}

.invite-no {
  cursor: pointer;
}

@media only screen and (max-width: 1920px) {


  #left-toggle-scrolbbar>div>div>div>div.slimScrollBar {
    display: none;
    width: 0px;
    line-height: 0px;
    margin-left: 40px;
    overflow: hidden;
    border: none;
    opacity: 0;
    border-top: 0px;

  }
}

.slimScrollBar {
  display: none !important;
}

#left-sidebar-toggle .left-toggle-settings {
    margin: 68px 0 0px 0!important;
    padding-bottom: 0px!important;
}
#left-sidebar-toggle{
    overflow: hidden;
    height: 100vh;
}