<!-- <section id="dept-view-scroll" class="lower-office-view-main">      -->
<section id="lower-conference-main">     
    <div class="container" *ngIf="department != null">
        <div class="department-view-main">
            <div class="dep-view-title-contain">
                <div class="row">
                    <div class="dep-view-title-col-9">
                        <div class="dep-view-title">
                            <label class="member-qty-label">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.5" height="12" viewBox="0 0 16.5 12">
                                    <g id="Group_5542" data-name="Group 5542" transform="translate(-144.632 -209)">
                                        <path id="Path_40" data-name="Path 40"
                                            d="M16.67,13.13a3.488,3.488,0,0,1,1.747,2.9v2.25h3v-2.25C21.417,14.4,18.74,13.43,16.67,13.13Z"
                                            transform="translate(139.714 202.718)" fill="#544ef6" />
                                        <path id="Path_41" data-name="Path 41"
                                            d="M14.667,10a3,3,0,1,0,0-6,3.134,3.134,0,0,0-1,.18,4.485,4.485,0,0,1,0,5.64A3.134,3.134,0,0,0,14.667,10Z"
                                            transform="translate(140.464 205)" fill="#544ef6" />
                                        <path id="Path_42" data-name="Path 42"
                                            d="M8,10A3,3,0,1,0,5,7,3,3,0,0,0,8,10ZM8,5.5A1.5,1.5,0,1,1,6.5,7,1.5,1.5,0,0,1,8,5.5Z"
                                            transform="translate(142.632 205)" fill="#544ef6" />
                                        <path id="Path_43" data-name="Path 43"
                                            d="M7,13c-2,0-6,1-6,3v2.25H13V16C13,14,9,13,7,13Zm4.5,3.75h-9v-.742C2.65,15.467,4.975,14.5,7,14.5s4.35.967,4.5,1.5Z"
                                            transform="translate(143.632 202.75)" fill="#544ef6" />
                                    </g>
                                </svg>
                                {{ numPeople }} People
                            </label>
                            <h2>{{ department.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="department-view-col-12">
                <div class="team-right-section-main"> -->
                    <div class="meeting-seat-grid-contain">
                        <div class="row">
                            <div class="col-sm-2 custom-col" *ngFor="let workspace of getUsers()">                             
                                <app-user-small-profile [userId]="workspace" [isSeated]="true" 
                                *ngIf="workspace != -1"></app-user-small-profile>
                            </div>
                        </div>
                    </div>
                <!-- </div>
            </div> -->


            <!-- <div class="meeting-seat-grid-contain">
                <div class="user-container">
                    <ng-container *ngFor="let workspace of getUsers()">                    
                        <div class="user-icon" *ngFor="let workspace of getUsers()">
                            <app-room-slot class="room-slot" [userId]="workspace" [isSeated]="true" 
                            *ngIf="workspace != -1">
                            </app-room-slot>
                            <div class="team-box2-contain">
                                <app-user-small-profile></app-user-small-profile>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div> -->
            <div class="dep-view-title-contain" *ngIf="getHeads().length >0">
                <div class="row">
                    <div class="dep-view-title-col-9">
                        <div class="dep-view-title">
                            <h2>Department Heads</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="meeting-seat-grid-contain">
              <div class="user-container">
                <div class="user-icon" *ngFor="let workspace of getHeads()">
                  <app-room-slot class="room-slot" [userId]="workspace" [isSeated]="true" 
                        *ngIf="workspace != -1 && officeService.isHead(workspace, department)">
                        </app-room-slot>
                  </div>
              </div>
            </div>            
        </div>
    </div>
    <div class="col-md-12 d-block m-auto">
        <div class="row mb-5">
            <div class="depatment-heading">
                <span>17 people</span>
                <h2>Digital Production</h2>
                <p>A solid innovation team to assist you in building and executing your digital strategy. Our
                    strength lies in its uniquely complementary services.</p>
            </div>
        </div>
        <div class="row">
            <div class="office-view-header-section">
                <p>Filter by Department</p>
                <select name="filterby" id="office-filter">
                    <option value="all">All</option>
                    <option value="dp">Digital</option>
                    <option value="Design">Design</option>
                    <option value="Products">Products</option>
                </select>
                <ul>
                    <li class="bg-1">Digital Product</li>
                    <li class="bg-2">Design</li>
                    <li class="bg-3">Products</li>
                    <li class="bg-4">Account Management</li>
                    <li class="bg-5">Planning & Strategy</li>
                </ul>
            </div>
        </div>
        <div class="list-office-view">
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>
            <div class="bg-1">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <ul>
                    <li><i class="material-icons">call</i></li>
                    <li><i class="material-icons">textsms</i></li>
                    <li><i class="material-icons">people_outline</i></li>
                </ul>
            </div>

        </div>
    </div>
</section>
