<ul>
    <li class="call-o-button">
        <div *ngIf="isMuted()" class="video-control-tooltip"><p>UnMute</p></div>
        <div *ngIf="!isMuted()" class="video-control-tooltip"><p>Mute</p></div>
        <button class="left-b-c-o-button" (click)="toggleAudio()">                                    
            <svg *ngIf="!isMuted()" xmlns="http://www.w3.org/2000/svg" width="14" height="19" viewBox="0 0 14 19">
                <path id="Path_61" data-name="Path 61" d="M12,14a3,3,0,0,0,3-3V5A3,3,0,0,0,9,5v6A3,3,0,0,0,12,14ZM11,5a1,1,0,0,1,2,0v6a1,1,0,0,1-2,0Zm6,6A5,5,0,0,1,7,11H5a7,7,0,0,0,6,6.92V21h2V17.92A7,7,0,0,0,19,11Z" transform="translate(-5 -2)" fill="#544ef6"></path>
            </svg>

            <svg *ngIf="isMuted()" xmlns="http://www.w3.org/2000/svg" width="18.16" height="19.02" viewBox="0 0 18.16 19.02">
                <path id="Path_59" data-name="Path 59" d="M10.8,4.9a1.2,1.2,0,1,1,2.4,0l-.01,3.91L15,10.6V5a2.99,2.99,0,0,0-5.96-.35L10.8,6.41ZM19,11H17.3a5.173,5.173,0,0,1-.27,1.64l1.27,1.27A6.5,6.5,0,0,0,19,11ZM4.41,2.86,3,4.27l6,6V11a3,3,0,0,0,3,3,2.755,2.755,0,0,0,.65-.08l1.66,1.66A5.5,5.5,0,0,1,12,16.1,5.189,5.189,0,0,1,6.7,11H5a6.984,6.984,0,0,0,6,6.72V21h2V17.72a7.129,7.129,0,0,0,2.55-.9l4.2,4.2,1.41-1.41Z" transform="translate(-3 -2)" fill="#544ef6"></path>
            </svg>

        </button>
       <!-- <p>Mute</p> -->
    </li>

    
    <li class="call-o-button">
        <div *ngIf="isCam()" class="video-control-tooltip"><p>Stop Video</p></div>
        <div *ngIf="!isCam()" class="video-control-tooltip"><p>Start Video</p></div>
        <button class="left-b-c-o-button" (click)="toggleVideo()">
            <svg *ngIf="isCam()" xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 18 12">
                <path id="Path_57" data-name="Path 57" d="M15,8v8H5V8H15m1-2H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V13.5l4,4V6.5l-4,4V7A1,1,0,0,0,16,6Z" transform="translate(-3 -6)" fill="#544ef6"></path>
            </svg>

            <svg *ngIf="!isCam()" xmlns="http://www.w3.org/2000/svg" width="19.14" height="19.14" viewBox="0 0 19.14 19.14">
                <path id="Path_55" data-name="Path 55" d="M9.56,8l-2-2L3.41,1.86,2,3.27,4.73,6H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1.03,1.03,0,0,0,.55-.18L19.73,21l1.41-1.41-8.86-8.86ZM5,16V8H6.73l8,8ZM15,8v2.61l6,6V6.5l-4,4V7a1,1,0,0,0-1-1H10.39l2,2Z" transform="translate(-2 -1.86)" fill="#544ef6"></path>
            </svg>
        </button>
        <!--<p>Video</p>-->
    </li>

    <li class="call-o-button on-call-b-press">
        <div *ngIf="isRecording()" class="video-control-tooltip"><p>Stop Recording</p></div>
        <div *ngIf="!isRecording()" class="video-control-tooltip"><p>Start Recording</p></div>
        <button class="left-b-c-o-button" (click)="toggleRecord()">
            <svg *ngIf="isRecording()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path id="Path_2485" data-name="Path 2485" d="M12,7a5,5,0,1,0,5,5A5,5,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" transform="translate(-2 -2)" fill="#544ef6"></path>
            </svg>

            <svg *ngIf="!isRecording()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path id="Path_2485" class="not-recording" data-name="Path 2485" d="M12,7a5,5,0,1,0,5,5A5,5,0,0,0,12,7Zm0-5A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" transform="translate(-2 -2)" fill="#fff"></path>
            </svg>
        </button>

        
        <div id="recording-tooltip-box" class="recording-tooltip-main"
        [ngClass]="{'recording-tooltip-open': activeCall!.recordings.length >0}">
            <ng-container *ngFor="let recording of activeCall!.recordings">            
                <button id="record-video-toggle-close" class="r-tooltip-remove" (click)="removeRecording(recording.id)">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M256,0C114.853,0,0,114.833,0,256s114.853,256,256,256c141.167,0,256-114.833,256-256S397.147,0,256,0z M256,472.341
    c-119.295,0-216.341-97.046-216.341-216.341S136.705,39.659,256,39.659S472.341,136.705,472.341,256S375.295,472.341,256,472.341z
    "></path>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M355.148,234.386H156.852c-10.946,0-19.83,8.884-19.83,19.83s8.884,19.83,19.83,19.83h198.296
    c10.946,0,19.83-8.884,19.83-19.83S366.094,234.386,355.148,234.386z"></path>
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </button>

                <h4>{{currentConf?.title}} Recording</h4>
                <!-- <p>Duration: 00:30 hrs</p> -->

                <div class="recording-msg-label">
                    <div class="recording-msg-label-title">
                        <!-- <div class="chat-time">3:10 PM</div> -->
                    </div>
                    <audio controls [src]="getRecordingUrl(recording)">
                    </audio>                      
                </div>

                <div class="save-recording-button-main">
                    <a [href]="getRecordingUrl(recording)" download="Rec.webm">                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                            <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                                <g id="Group_2408" data-name="Group 2408">
                                    <path id="Path_1171" data-name="Path 1171" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" fill="#fff"></path>
                                    <path id="Path_1172" data-name="Path 1172" d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff"></path>
                                    <path id="Path_1173" data-name="Path 1173" d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z" fill="#fff"></path>
                                    <path id="Path_1174" data-name="Path 1174" d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z" fill="#fff"></path>
                                </g>
                            </g>
                        </svg>
                        Save Recording
                    </a>
                </div>
            </ng-container>


        </div>
        <!--<p>Record</p>-->
    </li>

    <li class="call-o-button">
        <div class="video-control-tooltip"><p>Add Participants</p></div>
        <button id="contact-list-call-b" class="left-b-c-o-button" (click)="onAddUserBtnClick()">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16">
                <path id="Path_65" data-name="Path 65" d="M15,12a4,4,0,1,0-4-4A4,4,0,0,0,15,12Zm0-6a2,2,0,1,1-2,2A2.006,2.006,0,0,1,15,6Zm0,8c-2.67,0-8,1.34-8,4v2H23V18C23,15.34,17.67,14,15,14ZM9,18c.22-.72,3.31-2,6-2s5.8,1.29,6,2ZM6,15V12H9V10H6V7H4v3H1v2H4v3Z" transform="translate(-1 -4)" fill="#544ef6"></path>
            </svg>
        </button>

        <div id="add-member-dropdown2" class="add-member-dropdown" [ngClass]="{'add-member-dropdown-open': peopleTab}">
            <button id="add-member-close2" class="member-close-button" (click)="closePeopleTab()">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.584" height="8.533" viewBox="0 0 13.584 8.533">
                    <path id="Path_35" data-name="Path 35" d="M7.579,8.59l5.141,5.13,5.141-5.13,1.579,1.579L12.721,16.89,6,10.169Z" transform="matrix(1, 0.017, -0.017, 1, -5.704, -8.693)" fill="#544ef6"></path>
                </svg>
            </button>

            <div class="create-conference-inner">
                <div class="create-conference-search">
                    <input type="text" value="" (keyup)="search($event)" placeholder="Type Contact Name">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49" viewBox="0 0 17.49 17.49">
                            <path id="Path_6" data-name="Path 6" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,
                                            0-.7.7l.27.28v.79l5,
                                            4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5
                                            ,4.494,4.494,0,0,1,9.5,14Z" transform="translate(-3 -3)" fill="#544ef6" />
                        </svg>
                    </button>
                </div> 

                <div class="create-conference-contactlist">
                    <ul>
                        <ng-container *ngFor="let user of users | keyvalue">
                            <li *ngIf="!filtered(user.value.id)">
                                <a href="javascript:void(0);">
                                    <div class="c-conference-avatar">
                                        <span class="chat-avatar-label blue-l">
                                            <img [src]="smallProfileImage + user.value.id">
                                        </span>
                                    </div>

                                    <div class="c-conference-text-detail">
                                        <h5>{{fullname(user.value)}}</h5>
                                        <div class="c-conference-jobprofile">{{ userService.getDesignationName(user.value) }}</div>
                                    </div>

                                    <div class="c-conference-right-icon" *ngIf="isAssigned(user.key)" (click)="unassign(user.key)">
                                        <svg id="Group_2429" data-name="Group 2429" xmlns="http://www.w3.org/2000/svg" width="19"
                                            height="16.5" viewBox="0 0 19 16.5">
                                            <path id="Path_1186" data-name="Path 1186"
                                                d="M9,17l3-2.94A9.341,9.341,0,0,0,11,14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,1,0,7,8a4,4,0,0,0,4,4"
                                                transform="translate(-3 -4)" fill="#07d755" fill-rule="evenodd" />
                                            <path id="Path_1187" data-name="Path 1187"
                                                d="M15.47,20.5,12,17l1.4-1.41,2.07,2.08L20.6,12.5,22,13.91Z" transform="translate(-3 -4)"
                                                fill="#07d755" fill-rule="evenodd" />
                                        </svg>
                                    </div>
                                    <div class="c-conference-right-icon blue-icon" *ngIf="!isAssigned(user.key)" (click)="assign(user.key)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                            <path id="Path_1178" data-name="Path 1178"
                                                d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm5,11H13v4H11V13H7V11h4V7h2v4h4Z"
                                                transform="translate(-2 -2)" fill="#544ef6" />
                                        </svg>    
                                    </div>
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </div>

            </div>

        </div>
        <!--<p>Add Participants</p>-->
    </li>

    <li class="call-o-button">
        <div *ngIf="isScreenshare()" class="video-control-tooltip"><p>Stop Share Screen</p></div>
        <div *ngIf="!isScreenshare()" class="video-control-tooltip"><p>Share Screen</p></div>
        <button class="left-b-c-o-button" (click)="toggleScreenShare()">
            <svg *ngIf="isScreenshare()" xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16">
                <path id="Path_63" data-name="Path 63" d="M20,18a2,2,0,0,0,1.99-2L22,6a2,2,0,0,0-2-2H4A1.993,1.993,0,0,0,2,6V16a2,2,0,0,0,2,2H0v2H24V18ZM4,16V6H20V16.01Zm9-6.87c-3.89.54-5.44,3.2-6,5.87,1.39-1.87,3.22-2.72,6-2.72v2.19l4-3.74L13,7Z" transform="translate(0 -4)" fill="#FC6F6F" style="fill:#FC6F6F;"></path>
            </svg>

            <svg *ngIf="!isScreenshare()" xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16">
                <path id="Path_63" data-name="Path 63" d="M20,18a2,2,0,0,0,1.99-2L22,6a2,2,0,0,0-2-2H4A1.993,1.993,0,0,0,2,6V16a2,2,0,0,0,2,2H0v2H24V18ZM4,16V6H20V16.01Zm9-6.87c-3.89.54-5.44,3.2-6,5.87,1.39-1.87,3.22-2.72,6-2.72v2.19l4-3.74L13,7Z" transform="translate(0 -4)" fill="#544ef6"></path>
            </svg>           

        </button>
        <!--<p>Share Screen</p>-->
    </li>

    <li class="call-o-button">
        <div class="video-control-tooltip"><p>Switch Presenter View</p></div>
        <button class="left-b-c-o-button" (click)="enablePresentationView()">
            <svg *ngIf="!isGridView()" xmlns="http://www.w3.org/2000/svg" width="18.031" height="14.333" viewBox="0 0 18.031 14.333">
                <path id="Path_63" data-name="Path 63" d="M15.026,16.542a1.666,1.666,0,0,0,1.5-1.792l.008-8.958A1.666,1.666,0,0,0,15.026,4H3.005A1.66,1.66,0,0,0,1.5,5.792V14.75a1.666,1.666,0,0,0,1.5,1.792H0v1.792H18.031V16.542ZM3.005,14.759V5.792H15.026v8.967Zm2.254,0c-1.59.263,4.012.429,3.423.083-.122-.072,1.026-.093.774-.092-.431,0-.91.033-1,.232-.021.047,7.837-.221,6.567-.232-.3,0,.116-.041.108.009.073-.118-7.369.261-7.417.224-.082-.08,2.518-.119,2.838-.141.87-.06-2.233-.083-.787-.083l5.259-.009-7.818.092,7.818-.092Z" transform="translate(0 -4)" fill="#544ef6"></path>
            </svg>

            <svg *ngIf="isGridView()" xmlns="http://www.w3.org/2000/svg" width="18.031" height="14.333" viewBox="0 0 18.031 14.333">
                <g id="Group_5368" data-name="Group 5368" transform="translate(-733.831 -929.48)">
                    <path id="Path_63" data-name="Path 63" d="M15.026,16.542a1.666,1.666,0,0,0,1.5-1.792l.008-8.958A1.666,1.666,0,0,0,15.026,4H3.005A1.66,1.66,0,0,0,1.5,5.792V14.75a1.666,1.666,0,0,0,1.5,1.792H0v1.792H18.031V16.542ZM3.005,14.759V5.792H15.026v8.967Zm2.254,0c-1.59.263,4.012.429,3.423.083-.122-.072,1.026-.093.774-.092-.431,0-.91.033-1,.232-.021.047,7.837-.221,6.567-.232-.3,0,.116-.041.108.009.073-.118-7.369.261-7.417.224-.082-.08,2.518-.119,2.838-.141.87-.06-2.233-.083-.787-.083l5.259-.009-7.818.092,7.818-.092Z" transform="translate(733.831 925.48)" fill="#544ef6"></path>
                    <g id="Path_2502" data-name="Path 2502" transform="translate(740 934)" fill="#544ef6">
                        <path d="M 4.5 3.5 L 0.5 3.5 L 0.5 0.5 L 4.5 0.5 L 4.5 3.5 Z" stroke="none"></path>
                        <path d="M 1 1 L 1 3 L 4 3 L 4 1 L 1 1 M 0 0 L 5 0 L 5 4 L 0 4 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                </g>
            </svg>

        </button>
        <!--<p>Presenter View</p>-->
    </li>

    <li class="call-o-button" (click)="enableGridView()">
        <div class="video-control-tooltip"><p>Switch Grid View</p></div>
        <button class="left-b-c-o-button">

            <svg *ngIf="isGridView()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <g id="Group_5348" data-name="Group 5348" transform="translate(-1392 -988)">
                    <g id="Path_2495" data-name="Path 2495" transform="translate(1392 988)" fill="#544ef6">
                        <path d="M 8.5 8.5 L 0.5 8.5 L 0.5 0.5 L 8.5 0.5 L 8.5 8.5 Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                    <g id="Path_2496" data-name="Path 2496" transform="translate(1403 988)" fill="#544ef6">
                        <path d="M 8.5 8.5 L 0.5 8.5 L 0.5 0.5 L 8.5 0.5 L 8.5 8.5 Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                    <g id="Path_2497" data-name="Path 2497" transform="translate(1403 999)" fill="#544ef6">
                        <path d="M 8.5 8.5 L 0.5 8.5 L 0.5 0.5 L 8.5 0.5 L 8.5 8.5 Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                    <g id="Path_2498" data-name="Path 2498" transform="translate(1392 999)" fill="#544ef6">
                        <path d="M 8.5 8.5 L 0.5 8.5 L 0.5 0.5 L 8.5 0.5 L 8.5 8.5 Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                </g>
            </svg>

            <svg *ngIf="!isGridView()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <g id="Group_5369" data-name="Group 5369" transform="translate(-838 -924)">
                    <g id="Path_2495" data-name="Path 2495" transform="translate(838 924)" fill="none">
                        <path d="M0,0H9V9H0Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                    <g id="Path_2496" data-name="Path 2496" transform="translate(849 924)" fill="none">
                        <path d="M0,0H9V9H0Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                    <g id="Path_2497" data-name="Path 2497" transform="translate(849 935)" fill="none">
                        <path d="M0,0H9V9H0Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                    <g id="Path_2498" data-name="Path 2498" transform="translate(838 935)" fill="none">
                        <path d="M0,0H9V9H0Z" stroke="none"></path>
                        <path d="M 1 1 L 1 8 L 8 8 L 8 1 L 1 1 M 0 0 L 9 0 L 9 9 L 0 9 L 0 0 Z" stroke="none" fill="#544ef6"></path>
                    </g>
                </g>
            </svg>

        </button>
        <!--<p>Grid View</p>-->
    </li>

    <li class="call-o-button call-b-hightlight">
        <div class="video-control-tooltip"><p>Exit Conference</p></div>
        <button class="left-b-c-o-button" (click)="disconnect()">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path id="Path_179" data-name="Path 179" d="M10.09,15.59,11.5,17l5-5-5-5L10.09,8.41,12.67,11H3v2h9.67ZM19,3H5A2,2,0,0,0,3,5V9H5V5H19V19H5V15H3v4a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Z" transform="translate(-3 -3)" fill="#fc6f6f"></path>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" style="display: none;">
                <path id="Path_179" data-name="Path 179" d="M10.09,15.59,11.5,17l5-5-5-5L10.09,8.41,12.67,11H3v2h9.67ZM19,3H5A2,2,0,0,0,3,5V9H5V5H19V19H5V15H3v4a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Z" transform="translate(-3 -3)" fill="#fc6f6f"></path>
            </svg>

        </button>
        <!--<p>Exit Conference</p>-->
    </li>

</ul>