.video-control-fullpanel .video-control-fullpanelinner ul li .recording-tooltip-main .save-recording-button-main a, .video-control-fullpanel .video-control-fullpanelinner ul li .recording-tooltip-main .save-recording-button-main a {
    display: inline-block;
    position: relative;
    height: 45px;
    border: none;
    background: #544EF6;
    padding: 15px 25px 15px 15px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 200px;
    box-shadow: 0 10px 18px rgba(84, 78, 246, 0.3);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

audio {
    width: 260px;
}

.not-recording {
    fill: #fff !important;
}

.recording-tooltip-main {
    bottom: 65px !important;
}