<!--Header Component-->
<header id="login-header">
    <div class="container">

        <div id="main-logo">
            <a [routerLink]="['/']">
                <img src="assets/images/main-logo.png">
            </a>
        </div>

        <div id="header-login-right">
            2020
        </div>

    </div>
</header>
<!--Header Component-->
