<div *ngIf="company != null" style="border: solid;position: relative; top: 10%">
	Name : {{ company.name }}<br>
	<!-- <input type="text"><button>Add Branch</button><br> -->
	<br>
	<select [(ngModel)]="selectedBranch">
	 <option *ngFor="let branch of company.branches; index as i" [ngValue]="branch">
	   {{ branch.name }}
	</select>
	<p>
	
  <app-view-branch *ngIf="selectedBranch != null" [branch]="selectedBranch">
  </app-view-branch>  
  
</div>