 <!-- Calling Search List -->
 <div id="calling-search-list" class="calling-contacts-list-box-main"
 [ngClass]="{'calling-search-list-open': addUserToCallDrawer}">
 <div class="calling-contacts-searchbar">
     <button id="close-search-c-list-button" class="close-arrow-button" type="button"
         (click)="addUserToCallToggle()">
         <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
             <path id="Path_35" data-name="Path 35"
                 d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                 transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
         </svg>
     </button>

     <form>
         <input type="text" name="searchuserInput" [(ngModel)]="userFilterStr" value=""
             (keyup)="filterUserToaddToCall(userFilterStr)" placeholder="Search">
     </form>
 </div>

 <div class="calling-contacts-list-surfacebg">
     <ul *ngIf="users && !userFilterStr">
         <li *ngFor="let user of users | keyvalue">
             <div class="calling-contacts-list">
                 <div class="calling-contacts-td">
                     <div class="calling-contact-avatar">
                         <img [src]="smallProfileImage + user.value['id']">
                     </div>
                 </div>

                 <div class="calling-contacts-td">
                     <div class="calling-contact-text">
                         <h4>{{user!.value['firstname']}} {{user!.value['lastname']}}</h4>
                         COO
                     </div>
                 </div>

                 <div class="calling-contacts-td">
                     <div class="calling-contact-button">
                         <button type="button">Add</button>
                     </div>
                 </div>

             </div>
         </li>
     </ul>
     <!-- Filtered users result -->
     <ul *ngIf="filteredUsers.length">
         <li *ngFor="let user of filteredUsers">
             <div class="calling-contacts-list">
                 <div class="calling-contacts-td">
                     <div class="calling-contact-avatar">
                         <img [src]="smallProfileImage + user.id">
                     </div>
                 </div>

                 <div class="calling-contacts-td">
                     <div class="calling-contact-text">
                         <h4>{{user?.firstname}} {{user?.lastname}}</h4>
                         COO
                     </div>
                 </div>

                 <div class="calling-contacts-td">
                     <div class="calling-contact-button">
                         <button type="button">Add</button>
                     </div>
                 </div>

             </div>
         </li>
     </ul>
     <!-- End here -->
 </div>
</div>