<!-- <div class="grid-room-person-img meeting-person-thumb tooltip-thumb left-align-thumb" *ngIf="userId != -1; else elseBlock">
	         
	<img class="grid-room-person-img-img" *ngIf="isSeated" [src]="smallImageAddress + userId">
	
	<svg *ngIf="!isSeated" xmlns="http://www.w3.org/2000/svg" width="100%" height="50%" viewBox="0 0 93 92">
		<g id="Group_5446" data-name="Group 5446" transform="translate(0.272 -0.491)">
			<rect id="Rectangle_5610" data-name="Rectangle 5610" width="93" height="92" rx="8" transform="translate(-0.272 0.491)" fill="#544ef6" opacity="0.1" />
			<g id="event_seat-24px" transform="translate(30.711 30.711)">
				<path id="Path_217" data-name="Path 217" d="M0,0H31.56V31.56H0Z" fill="none" />
				<path id="Path_218" data-name="Path 218" d="M19.1,5.63v9.205h-7.89V5.63H19.1M19.1,3h-7.89a2.638,2.638,0,0,0-2.63,2.63V17.465h13.15V5.63A2.638,2.638,0,0,0,19.1,3ZM28.3,12.205H24.355V16.15H28.3Zm-22.355,0H2V16.15H5.945ZM25.67,18.78H4.63v7.89H7.26V21.41H23.04v5.26h2.63Z" transform="translate(0.63 0.945)" fill="#5D5D5D" />
			</g>
		</g>
	</svg>
	
	<h4 class="grid-room-name">{{ userService.getUser(userId)?.firstname}} {{userService.getUser(userId)?.lastname }}</h4>
	<span class="person-status onine-meeting" [style.color]="userService.getUser(userId)?.is_online ? '#07D755' : '#FC6F6F'">
		{{ userService.getUser(userId)?.is_online ? 'Online' : 'Offline' }}
	</span>
			

</div> -->
<div class="team-mem-thumb" style="margin: 0 !important;" *ngIf="userId != -1; else elseBlock">

    <img class="thumb-img" *ngIf="isSeated" [src]="smallImageAddress + userId">    
    <img class="thumb-img" *ngIf="!isSeated" src="assets/images/team-seat-img2.png" alt="Empty Seat">
    
    <h5>{{ userService.getUser(userId)?.firstname}} {{userService.getUser(userId)?.lastname }}</h5>
    <h6 class="member-status" [style.color]="userService.getUser(userId)?.is_online ? '#07D755' : '#FC6F6F'">{{ userService.getUser(userId)?.is_online ? 'Online' : 'Offline' }}</h6>

    <div class="team-mem-options">
        <div class="row">
            <button type="button" (click)="makeCallClick(userId)">
                <img src="assets/images/call-b-icon.png">
            </button>

            <button type="button" (click)="startChatClick(userId)">
                <img src="assets/images/message-b-icon.png">
            </button>

            <button type="button" [routerLink]="['/conferences/create']">
                <img src="assets/images/member-b-icon.png">
            </button>

        </div>
    </div>


</div>
<ng-template  #elseBlock>
<div class="team-mem-thumb empty-seat" style="margin: 0 !important;">
  <img class="thumb-img" src="assets/images/team-seat-img2.png" alt="Empty Seat">
</div>
<!-- 
	<div class="grid-room-person-seat">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="50%" viewBox="0 0 93 92">
			<g id="Group_5446" data-name="Group 5446" transform="translate(0.272 -0.491)">
				<rect id="Rectangle_5610" data-name="Rectangle 5610" width="93" height="92" rx="8" transform="translate(-0.272 0.491)" fill="#544ef6" opacity="0.1" />
				<g id="event_seat-24px" transform="translate(30.711 30.711)">
					<path id="Path_217" data-name="Path 217" d="M0,0H31.56V31.56H0Z" fill="none" />
					<path id="Path_218" data-name="Path 218" d="M19.1,5.63v9.205h-7.89V5.63H19.1M19.1,3h-7.89a2.638,2.638,0,0,0-2.63,2.63V17.465h13.15V5.63A2.638,2.638,0,0,0,19.1,3ZM28.3,12.205H24.355V16.15H28.3Zm-22.355,0H2V16.15H5.945ZM25.67,18.78H4.63v7.89H7.26V21.41H23.04v5.26h2.63Z" transform="translate(0.63 0.945)" fill="#5D5D5D" />
				</g>
			</g>
		</svg>
	</div>
	 -->
</ng-template>