
/*
Styles for user/slot representations inside a room
*/


.grid-room-person-img h4 {
    width: 100%;
    float: left;
    position: relative;
    /*margin: 0 0 5px 0;*/
    padding: 0.2vw 0;
    color: #000;
    font-size: 0.65vw;
    /*max-height: 30px;*/
    margin: 0;
    overflow: hidden;
}

.grid-room-person-img p.person-status.onine-meeting {
    color: #07D755;
}

.grid-room-person-img .person-status {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 0.65vw;
    font-weight: 600;
    line-height: 1;
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-room-person-img img.img-shodow {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.grid-room-person-img-img {
    /*width: 100%;*/
    /*width: 3vw;
    height: 3vw;*/
    /*max-width: 100px;*/
    border-radius: 10px;
    margin-bottom: 5px;
}
.grid-room-hover-person-img img {
    /*width: 100%;*/
    width: 3vw;
    height: 3vw;
    /*max-width: 100px;*/
    border-radius: 10px;
    margin-bottom: 5px;
}
.grid-room-person-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.grid-room-person-seat {
    width: 100%;
    /*max-width: 100px;*/
    height: 100%;
    position: relative;    
}
/*
------
*/
/*
.team-mem-thumb {
    width: 100%;
    max-width: 160px;
    height: 134px;
    min-height: 134px;
    text-align: center;
    margin: 0 auto 25px auto;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.team-mem-thumb .team-mem-options {
    width: 100%;
    margin: 5px 0 0 0;
    display: none;
}
.team-members-box .row {
    margin-right: -5px;
    margin-left: -5px;
}
.team-mem-thumb img.thumb-img {
    width: 100%;
    max-width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 0 5px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.team-mem-thumb h5 {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.team-mem-thumb h6.member-status {
    color: #000;
    font-size: 11px;
    font-weight: 500;
    margin: 5px 0;
    padding: 0;
}
.team-mem-thumb.empty-seat {
    background: #fff;
    box-shadow: none;
    border-radius: 0;
}*/