
<video autoplay playsinline="true" #streamPlayer [hidden]="!hasVideo() || hasShare()" class="call-content mirror_video" [volume]=0.9></video>
<video autoplay playsinline="true" #sharePlayer [hidden]="!hasShare()" class="call-content" [volume]=0></video>

<img [src]="imageAddress + connection!.targetId" class="call-profile"
    [hidden]="hasVideo() || hasShare()">
    <!-- 
    <button (click)="openFullscreen()" style="position:absolute; right: 0%; bottom: 0%">Fullscreen</button>
    
     -->