.call-content {
	width: 100%;
	height: 100%;
}
.call-profile {
	width: 25%;
  object-fit: contain;
  margin: auto;
  margin-left: 50%;
}
.mirror_video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}