
.invisiable {
    visibility: hidden;
}



.offline {
    color: #FC6F6F;
}

 /* .team-member-status.dnd {
    background: #DC4F4F;
}

.team-member-status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #C5CFE6;
    position: absolute;
    left: 15px;
    top: 30px;
    display: none;
} */