<div class="team-mem-thumb">
    <img class="thumb-img" *ngIf="isSeated" [src]="smallImageAddress + userId" alt="user-img">
    <!-- <div class="user-status team-member-status" [ngClass]="userService.getUser(userId)?.is_online ? 'online' : 'offline' ">
    </div> -->
    <!-- <div class="team-member-status dnd"></div> -->
    <h5>{{ userService.getUser(userId)?.firstname}} {{ userService.getUser(userId)?.lastname}}</h5>
    <h6 class="member-status" [ngClass]="userService.getUser(userId)?.is_online ? 'online' : 'offline' ">
        {{userService.getUser(userId)?.is_online ? 'Online' : 'Offline'}} 
    </h6>

    <div class="team-mem-options" [ngClass]="{'invisiable': userId == userService.currentUser!.id}">
        <div class="row">
            <button type="button" (click)="makeCallClick(userId)">
                <img src="assets/images/call-b-icon.png">
            </button>

            <button type="button" (click)="startChatClick(userId)">
                <img src="assets/images/message-b-icon.png">
            </button>

            <button type="button">
                <img src="assets/images/member-b-icon.png">
            </button>

        </div>
    </div>


</div>