<!-- <div class="incomingCallTest">
    <video class="callTest" autoplay playsinline="true" #callPlayer></video>
</div>
 -->
<!-- Right Bottom Chat Icon -->
<div id="chat-icon-bottom">
    <button type="button" id="chat-icon-button" (click)="toggleChat(true)">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="19.231" viewBox="0 0 19.231 19.231">
            <path id="Path_213" data-name="Path 213"
                d="M19.308,2H3.923A1.929,1.929,0,0,0,2,3.923V21.231l3.846-3.846H19.308a1.929,1.929,0,0,0,1.923-1.923V3.923A1.929,1.929,0,0,0,19.308,2Zm0,13.462H5.048L3.923,16.587V3.923H19.308ZM6.808,8.731H8.731v1.923H6.808Zm7.692,0h1.923v1.923H14.5Zm-3.846,0h1.923v1.923H10.654Z"
                transform="translate(-2 -2)" fill="#544ef6" />
        </svg>
    </button>
    <div id="chat-dropdown-menu" [ngClass]="(chatBar==true)?'chat-toggle-open':''">

        <ul *ngIf="conferenceConversation && !conferenceConversation.id">
            <li>
                <span id="chat-toggle-close" class="close-chat-toggle" (click)="toggleChat()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.778" height="6.656" viewBox="0 0 10.778 6.656">
                        <path id="Path_35" data-name="Path 35"
                            d="M1.266,0,5.389,4.114,9.512,0l1.266,1.266L5.389,6.656,0,1.266Z" fill="#544ef6" />
                    </svg>
                </span>
            </li>
            <li id="all-contactlist-sidebar" (click)="toggleContacts()">
                <span class="chat-all">All</span></li>
            <ng-container *ngFor="let conversation of conversations| slice:0:7;
            let i = index">            
                <li *ngIf="(conversation.latest || !isDirect(conversation)) && isUserRemovedFromquickChat(conversation.id)">
                    <button class="close-chat-list-un" (click)="removeQuickChatUser(conversation.id)">
                        <svg height="365.696pt" viewBox="0 0 365.696 365.696" width="365.696pt" xmlns="http://www.w3.org/2000/svg">
                            <path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0" /></svg>
                    </button>
                    <div class="msg-label-count" *ngIf="conversation.unread > 0">{{conversation.unread}}</div>
                    <div class="chat-name-tooltiop">
                        {{ isDirect(conversation) ?
                            users[conversationService.getOtherUser(conversation)]?.firstname
                            + ' ' + users[conversationService.getOtherUser(conversation)]?.lastname :
                            conversation.topic}}
                    </div>
                    <span class="chat-avatar-label" [ngClass]="ciricleBGC()" *ngIf="!isDirect(conversation)" (click)="toggleChatSideBar(conversation)">
                        <!--                    <span class="chat-img-label">-->
                        <h2>{{ chatUtil.abbreviate(conversation.topic) }}</h2>
                    </span>
                    <span class="chat-avatar-label" *ngIf="isDirect(conversation)" (click)="toggleChatSideBar(conversation)">
                        <img [src]="smallProfileImage + users[conversationService.getOtherUser(conversation)]?.id">
                    </span>
                </li>
            </ng-container>
        </ul>
    </div>
</div>

<!--Chat Message Box-->
<app-single-chat-window *ngIf="currentConversations != null"
[currentConversations]="currentConversations"
[users]="users"
[hasConvoConversation]="hasConvoConversation"
(closeChat)="closechatDrawer($event)"
(onCallUserClick)="callUser($event)"
(onSendMessageClick)="sendMessage($event)"
(toggleRecording)="toggleRecording()"
(uploadFile) ="uploadFile($event)"
(toogleChatWindow)="toggleChatSideBar($event)"
(callWindowClosed)="callWindowClosed($event)"
>
</app-single-chat-window>
<!-- 
[callNotPicked]="callNotPicked" -->

<!--All Message List Box-->
<div id="all-contactsbox-main" class="calling-screen-open slim-popup">
    <div class="all-contactsbox-header">
        <button id="all-contactsbox-close" class="left-popup-close-arow" (click)="toggleContacts()">
            <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
                <path id="Path_35" data-name="Path 35"
                    d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                    transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
            </svg>
        </button>
        <!-- <div class="all-contactsbox-head-right">

                <div class="all-contactsbox-head-col">
                    <button type="button" class="voice-label">
                        <svg id="Group_2408" data-name="Group 2408" xmlns="http://www.w3.org/2000/svg" width="18.144" height="18.144" viewBox="0 0 18.144 18.144">
                            <path id="Path_1171" data-name="Path 1171" d="M11.072,2a9.072,9.072,0,1,0,9.072,9.072A9.075,9.075,0,0,0,11.072,2Zm0,16.329a7.257,7.257,0,1,1,7.257-7.257A7.255,7.255,0,0,1,11.072,18.329Z" transform="translate(-2 -2)" fill="#fff" />
                            <path id="Path_1172" data-name="Path 1172" d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" transform="translate(-2.523 -2.929)" fill="#fff" />
                            <path id="Path_1173" data-name="Path 1173" d="M13.33,7.213a7.473,7.473,0,0,1,1.18,3.832,7.657,7.657,0,0,1-1.18,3.873l1.35.545a8.726,8.726,0,0,0,1.33-4.418A8.546,8.546,0,0,0,14.68,6.66Z" transform="translate(-3.214 -2)" fill="#fff" />
                            <path id="Path_1174" data-name="Path 1174" d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z" transform="translate(-2.86 -2.933)" fill="#fff" />
                        </svg>
                    </button>
                </div>


                <div class="all-contactsbox-head-col">
                    <button type="button" class="users-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.118" height="12.166" viewBox="0 0 19.118 12.166">
                            <path id="Path_2463" data-name="Path 2463" d="M14.035,10.214a2.607,2.607,0,1,0-2.607-2.607A2.6,2.6,0,0,0,14.035,10.214Zm-6.952,0A2.607,2.607,0,1,0,4.476,7.607,2.6,2.6,0,0,0,7.083,10.214Zm0,1.738C5.058,11.952,1,12.969,1,14.994v2.173H13.166V14.994C13.166,12.969,9.108,11.952,7.083,11.952Zm6.952,0c-.252,0-.539.017-.843.043a3.667,3.667,0,0,1,1.712,3v2.173h5.214V14.994C20.118,12.969,16.06,11.952,14.035,11.952Z" transform="translate(-1 -5)" fill="#fff" />
                        </svg></button>
                </div>

                <div class="all-contactsbox-head-col">
                    <button type="button" class="missed-call-label">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.01" height="17.98" viewBox="0 0 24.01 17.98">
                            <path id="Path_1168" data-name="Path 1168" d="M23.71,16.67a17.016,17.016,0,0,0-23.42,0,1.014,1.014,0,0,0,0,1.42l2.48,2.48a1,1,0,0,0,.71.29,1.026,1.026,0,0,0,.7-.28,11.419,11.419,0,0,1,2.66-1.85,1,1,0,0,0,.56-.9v-3.1A14.624,14.624,0,0,1,12,14a14.911,14.911,0,0,1,4.6.72v3.1a1.008,1.008,0,0,0,.56.9,11.788,11.788,0,0,1,2.67,1.85.982.982,0,0,0,.7.28,1,1,0,0,0,.71-.29l2.48-2.48a1,1,0,0,0,.29-.71.982.982,0,0,0-.3-.7ZM5.4,17.23A13.365,13.365,0,0,0,3.53,18.5L2.46,17.43a14.838,14.838,0,0,1,2.95-1.9v1.7Zm15.08,1.26a13.778,13.778,0,0,0-1.88-1.27v-1.7a15.131,15.131,0,0,1,2.95,1.9l-1.07,1.07ZM7,6.43l4.94,4.94L19.01,4.3,17.6,2.88,11.94,8.54,8.4,5H11V3H5V9H7Z" transform="translate(0 -2.88)" fill="#fff" />
                        </svg>
                        4</button>
                </div>

                <div class="all-contactsbox-head-col">
                    <button type="button" class="message-qty-label"><svg xmlns="http://www.w3.org/2000/svg" width="19.231" height="19.231" viewBox="0 0 19.231 19.231">
                            <path id="Path_213" data-name="Path 213" d="M19.308,2H3.923A1.929,1.929,0,0,0,2,3.923V21.231l3.846-3.846H19.308a1.929,1.929,0,0,0,1.923-1.923V3.923A1.929,1.929,0,0,0,19.308,2Zm0,13.462H5.048L3.923,16.587V3.923H19.308ZM6.808,8.731H8.731v1.923H6.808Zm7.692,0h1.923v1.923H14.5Zm-3.846,0h1.923v1.923H10.654Z" transform="translate(-2 -2)" fill="#544ef6"></path>
                        </svg> 26</button>
                </div>

            </div> -->
    </div>
    <div id="all-contactsbox-surface-bg">
        <ul>
            <li>
                <div class="contact-search-box">
                    <form>
                        <input type="text" placeholder="Search" name="searchInput" [(ngModel)]="userSearchStr" value=""
                            (keyup)="searchContact(userSearchStr)">
                    </form>
                </div>
            </li>
        </ul>
        <ul *ngIf="usersSearchResult.length || searchedGroups.length ">
            <li *ngFor="let user of usersSearchResult;">
                <a (click)="startNewConversation(user.id)">
                    <div class="allcontacts-avatar blue-l">
                        <span class="chat-avatar-label">
                            <img [src]="smallProfileImage + user?.id">
                        </span>
                    </div>

                    <div class="allcontacts-text-detail">
                        <h5>
                            {{user.firstname}} {{user.lastname}}
                        </h5>
                    </div>
                </a>
            </li>

            <li *ngFor="let g of searchedGroups;">
                <a (click)="toggleChatDrawer(g.id, true,false,false,g)">
                    <div class="allcontacts-avatar blue-l">
                        <span class="chat-avatar-label" [ngClass]="ciricleBGC()">
                            <h2>{{chatUtil.abbreviate(g.topic)}}</h2>
                        </span>
                    </div>

                    <div class="allcontacts-text-detail">
                        <h5>
                            <h5>{{g.topic}}</h5>
                        </h5>
                    </div>
                </a>
            </li>
        </ul>
        <ul *ngIf="userSearchStr && usersSearchResult.length == 0 && searchedGroups.length ==0">
            <h4>No results found for '{{userSearchStr}}'</h4>
        </ul>
        <ul *ngIf="conversations && !usersSearchResult.length && !userSearchStr && !searchedGroups.length">
            <li *ngFor="let conversation of conversations;">
                <a *ngIf="conversation.latest || !isDirect(conversation)" (click)="toggleChatDrawer(conversation.id, true,false,false,conversation)">
                    <div class="allcontacts-avatar">
                        <span class="chat-avatar-label" [ngClass]="ciricleBGC()" *ngIf="!isDirect(conversation)">
                            <!--                            <span class="chat-avatar-label">-->
                            <h2>{{chatUtil.abbreviate(conversation.topic)}}</h2>
                        </span>
                        <span class="chat-avatar-label" *ngIf="isDirect(conversation)">
                            <img [src]="smallProfileImage + users[conversationService.getOtherUser(conversation)]?.id">
                        </span>
                    </div>

                    <div class="allcontacts-text-detail">
                        <h5 *ngIf="!isDirect(conversation)">{{conversation.topic}}</h5>
                        <h5 *ngIf="isDirect(conversation)">
                            {{users[conversationService.getOtherUser(conversation)]?.firstname
                            	+ ' ' + users[conversationService.getOtherUser(conversation)]?.lastname
                            	}}
                        </h5>
                        <div class="msg-text">
                            {{latest(conversation)}}
                        </div>
                    </div>

                    <div class="chat-time-status">
                        <p *ngIf="conversation.latest">
                            {{conversation.latest.date | date: 'h:MM a'}}
                        </p>
                        <span class="contacts-msg-qty" *ngIf="conversation.unread > 0">{{conversation.unread}}</span>
                    </div>
                </a>
            </li>
        </ul>

    </div>

    <div id="all-contactsbox-bottom-button">
        <button id="create-group-button-1" type="button" (click)="toggleGroup()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
                <path id="Path_1139" data-name="Path 1139"
                    d="M22,6a2.006,2.006,0,0,0-2-2H4A2.006,2.006,0,0,0,2,6V18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2ZM20,6l-8,5L4,6Zm0,12H4V8l8,5,8-5Z"
                    transform="translate(-2 -4)" fill="#fff" />
            </svg>
            Create group</button>
<!--
        <button id="create-brodcast-button-1" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                    <g id="Group_2408" data-name="Group 2408">
                        <path id="Path_1171" data-name="Path 1171"
                            d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                            fill="#fff" />
                        <path id="Path_1172" data-name="Path 1172"
                            d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                        <path id="Path_1173" data-name="Path 1173"
                            d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z"
                            fill="#fff" />
                        <path id="Path_1174" data-name="Path 1174"
                            d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z"
                            fill="#fff" />
                    </g>
                </g>
            </svg>
            Create Broadcast</button>-->
    </div>
    <app-calling-dial-screen *ngIf="directCall != null && directCall.state != 'declined'"
    
    [users]="users"
    >
    <!-- 
     <app-calling-dial-screen *ngIf="incomingCall || outGoingCall"
    
    [outGoingCallUserId]="outGoingCallUserId"
    [incomingCall]="incomingCall"
    [outGoingCall]="outGoingCall"
    (hangUpCallClick)="hangUpCall($event)"
    (acceptCallClick)="acceptCall()"
    (declineCallClick)="declineCall()"
(onCallNotPicked)="callPickedStatus($event)"
     -->

    </app-calling-dial-screen>
   
</div>

 <!--Group chat window -->
<app-group-chat-window *ngIf="currentConversations != null"
    [currentConversations]="currentConversations"
    [users]="users"
    (closeChat)="closechatDrawer($event)"
    (onCallUserClick)="callUser($event)"
    (onSendMessageClick)="sendMessage($event)"
    (toggleRecording)="toggleRecording()"
    (uploadFile) ="uploadFile($event)">
</app-group-chat-window>


<!-- Create group -->
<form [formGroup]="groupForm" (submit)="saveGroup()">
    <div id="create-group-box-main">
        <div class="create-group-box-header">
            <div id="create-groupbox-close" (click)="toggleGroup();">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
                    <path id="Path_35" data-name="Path 35"
                        d="M1.266,0,5.389,4.114,9.512,0l1.266,1.266L5.389,6.656,0,1.266Z"
                        transform="translate(6.656) rotate(90)" fill="#544ef6" />
                </svg>
            </div>
            <h3>Create Group</h3>
        </div>

        <div id="create-group-surface-bg">

            <div class="group-name-main">
                <div class="group-name-field">
                    <div class="group-name-title">Name of the Group</div>
                    <input type="text" value="" formControlName="title">
                    <span class="errornote" *ngIf="errors">{{errors.title}}</span>
                </div>

                <div class="group-name-field">
                    <div class="group-name-title">People Added</div>
                    <span class="errornote" *ngIf="errors">{{errors.assigned_users}}<br></span>
                    <ng-container *ngIf="groupUsers.length > 0">
                        <label class="people-add-label" *ngFor="let userID of groupUsers">
                            <span class="blue-l">
                                <h4>{{chatUtil.abbreviate(users[userID].firstname+' '+ users[userID].lastname)}}</h4>
                            </span>{{ users[userID].firstname }} {{users[userID].lastname}}
                        </label>
                    </ng-container>
                </div>

            </div>

            <div class="create-conference-group">
                <div class="create-conference-inner">

                    <div class="create-conference-search">
                        <input type="text" value="" (keyup)="search($event)" placeholder="Type Contact or Group Name">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49"
                                viewBox="0 0 17.49 17.49">
                                <path id="Path_6" data-name="Path 6"
                                    d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z"
                                    transform="translate(-3 -3)" fill="#544ef6" />
                            </svg>
                        </button>
                    </div>

                    <div class="participant-qty-main">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14">
                            <path id="Path_1184" data-name="Path 1184"
                                d="M16.5,12A2.5,2.5,0,1,0,14,9.5,2.492,2.492,0,0,0,16.5,12ZM9,11A3,3,0,1,0,6,8,2.987,2.987,0,0,0,9,11Zm7.5,3c-1.83,0-5.5.92-5.5,2.75V19H22V16.75C22,14.92,18.33,14,16.5,14ZM9,13c-2.33,0-7,1.17-7,3.5V19H9V16.75a3.941,3.941,0,0,1,2.37-3.47A12.283,12.283,0,0,0,9,13Z"
                                transform="translate(-2 -5)" fill="#544ef6" />
                        </svg> {{groupUsers.length}} participants
                    </div>
                    <!--Contact List-->
                    <div class="create-conference-contactlist">
                        <ul>
                            <ng-container *ngFor="let user of users | keyvalue">
                                <li *ngIf="!filtered(user.value.id)">
                                    <a href="javascript:void(0);">
                                        <div class="c-conference-avatar">
                                            <span class="chat-avatar-label blue-l">
                                                <!-- <h2>
                                              {{abbreviate(fullname(user, true))}}
                                            </h2> -->
                                                <img [src]="smallProfileImage + user.value.id">
                                            </span>
                                        </div>

                                        <div class="c-conference-text-detail">
                                            <h5>{{chatUtil.fullname(user, true)}}</h5>
                                            <div class="c-conference-jobprofile">
                                                Founder
                                            </div>
                                        </div>

                                        <div class="c-conference-right-icon" (click)="toggleUser(user.value.id)"
                                            [ngClass]="{'blue-icon':(!groupHasUser(user.value.id))}">
                                            <svg id="Group_2429" data-name="Group 2429"
                                                xmlns="http://www.w3.org/2000/svg" width="19" height="16.5"
                                                viewBox="0 0 19 16.5" *ngIf="groupHasUser(user.value.id)">
                                                <path id="Path_1186" data-name="Path 1186" d="M9,17l3-2.94A9.341,9.341,0,0,0,11,
                                              14c-2.67,0-8,1.34-8,4v2h9Zm2-5A4,4,0,
                                              1,0,7,8a4,4,0,0,0,4,4" transform="translate(-3 -4)" fill="#07d755"
                                                    fill-rule="evenodd" />
                                                <path id="Path_1187" data-name="Path 1187" d="M15.47,20.5,12,17l1.4-1.41,2.07,
                                                  2.08L20.6,12.5,22,13.91Z" transform="translate(-3 -4)" fill="#07d755"
                                                    fill-rule="evenodd" />
                                            </svg>

                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" *ngIf="!groupHasUser(user.value.id)">
                                                <path id="Path_1178" data-name="Path 1178" d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,
                                                  2Zm5,
                                                  11H13v4H11V13H7V11h4V7h2v4h4Z" transform="translate(-2 -2)"
                                                    fill="#544ef6" />
                                            </svg>
                                        </div>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <div id="create-group-bottom-button">
            <button id="create-group-button-2" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                        <g id="Group_2408" data-name="Group 2408">
                            <path id="Path_1171" data-name="Path 1171"
                                d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                                fill="#fff" />
                            <path id="Path_1172" data-name="Path 1172"
                                d="M7.1,10.18a4.385,4.385,0,0,1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                            <path id="Path_1173" data-name="Path 1173"
                                d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z"
                                fill="#fff" />
                            <path id="Path_1174" data-name="Path 1174"
                                d="M10.2,8.72a7.586,7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z"
                                fill="#fff" />
                        </g>
                    </g>
                </svg>
                Create Group</button>
        </div>

    </div>
</form>