.isrecording {
    filter: hue-rotate(70deg);
}
.errornote{
  color: #f94c4c;
}

.incomingCallTest {
	position: fixed;
	
	right: 0;
	top: 50%;
	
	height: 10px;
	width: 30px;
}
.callTest {
	position: fixed;
	
	right: 0;
	top: 20%;
	
	height: 100px;
	width: 250px;
}