<app-conference-user [connection]="connection"  class="user-view" [mirrorVideo]="ownUser" [volume]="ownUser ? 0 : 0.9"></app-conference-user>
<!-- {{ users[connection.targetId]?.firstname }} -->
<div class="member-call-caption">
  <div class="member-call-name">{{ name }}</div>
    
    <!-- <div>{{ connection.getAudioLevel() }}</div> -->
    <div class="member-voicecall-button" *ngIf="!ownUser">
        <button>
            <svg *ngIf="hasAudio()" id="unmute-voicecall"
                 xmlns="http://www.w3.org/2000/svg" width="9.196"
                 height="12.48" viewBox="0 0 9.196 12.48">
                <path id="Path_61" data-name="Path 61"
                      d="M9.6,9.882a1.968,1.968,0,0,0,1.971-1.971V3.971a1.971,1.971,0,1,0-3.941,0V7.912A1.968,1.968,0,0,0,9.6,9.882ZM8.941,3.971a.657.657,0,1,1,1.314,0V7.912a.657.657,0,1,1-1.314,0Zm3.941,3.941a3.284,3.284,0,0,1-6.568,0H5a4.6,4.6,0,0,0,3.941,4.545V14.48h1.314V12.457A4.6,4.6,0,0,0,14.2,7.912Z"
                      transform="translate(-5 -2)" fill="#fff" />
            </svg>

            <svg *ngIf="!hasAudio()" id="mute-voicecall" xmlns="http://www.w3.org/2000/svg"
                 width="8.193" height="8.581" viewBox="0 0 8.193 8.581">
                <path id="Path_59" data-name="Path 59"
                      d="M6.519,3.308a.541.541,0,1,1,1.083,0l0,1.764.817.808V3.353A1.349,1.349,0,0,0,5.725,3.2l.794.794Zm3.7,2.752H9.451a2.334,2.334,0,0,1-.122.74l.573.573A2.935,2.935,0,0,0,10.218,6.06ZM3.636,2.388,3,3.024,5.707,5.731V6.06A1.352,1.352,0,0,0,7.06,7.414a1.243,1.243,0,0,0,.293-.036l.749.749a2.481,2.481,0,0,1-1.042.235,2.341,2.341,0,0,1-2.391-2.3H3.9A3.151,3.151,0,0,0,6.609,9.092v1.48h.9V9.092a3.216,3.216,0,0,0,1.15-.406l1.895,1.895.636-.636Z"
                      transform="translate(-3 -2)"
                      fill="#544ef6" />
            </svg>

        </button>
    </div>
    <!--  
    <div class="member-voicecall-button">
        <button class="member-voicecall-button-icon">
             <svg id="pin-call" xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.413" viewBox="0 0 12.42 12.413">
                <path id="Path_1197" data-name="Path 1197" d="M19.9,19.334l-3.788-3.788,2.7-2.7-2.678-2.686L14.513,11.78,12.347,9.615l.536-.536L11.8,8l-.536.536h0L8.023,11.773h0l-.543.543L8.559,13.4l.551-.551,2.158,2.173L9.646,16.648l2.678,2.686,2.709-2.709,3.788,3.788Zm-8.632-8.64,2.135,2.15-1.079,1.071-2.15-2.143Zm.543,5.954,4.324-4.324.513.52-4.324,4.339Z" transform="translate(-7.48 -8)" fill="#fff" />
            </svg>
        </button>
        <button *ngIf="false">
             <svg id="pin-call" xmlns="http://www.w3.org/2000/svg" width="12.42" height="12.413" viewBox="0 0 12.42 12.413">
                <path id="Path_1197" data-name="Path 1197" d="M19.9,19.334l-3.788-3.788,2.7-2.7-2.678-2.686L14.513,11.78,12.347,9.615l.536-.536L11.8,8l-.536.536h0L8.023,11.773h0l-.543.543L8.559,13.4l.551-.551,2.158,2.173L9.646,16.648l2.678,2.686,2.709-2.709,3.788,3.788Zm-8.632-8.64,2.135,2.15-1.079,1.071-2.15-2.143Zm.543,5.954,4.324-4.324.513.52-4.324,4.339Z" transform="translate(-7.48 -8)" fill="#fff" />
            </svg>
        </button>
    </div>
        -->
</div>