
.member-call-caption {
    width: 100%;
    float: left;
    /*position: relative;*/
    position: absolute;
    left: 0;
    top: auto;
    bottom: 10px;
    z-index: 9;
}
.member-call-name {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 7px 12px;
    border-radius: 200px;
    font-size: 14px;
    font-weight: 700;
    
    display: inline-block;
    position: relative;
    margin: 0 0 0 10px;
    line-height: 1;
}
.member-voicecall-button {
    display: inline-block;
    position: relative;
    margin: 0 0 0 10px;
    line-height: 1;
}
.member-voicecall-button button {
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 5px;
    line-height: 0;
    position: relative;
    top: -2px;
}
.member-voicecall-button svg {
    width: 12px;
    height: 12px;
}