.example-form-field {
    width: 200px;
  }
  .table-width {
    border: 1px solid #bebaba;
  }
  /* .example-section{
    display: inline-block;
    width: 159px!important;
  } */

  /* table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  } */