<!-- Prolog
Owner:Baburao M
Created Date:11/02/2020
Content:Create employee
End-->

<div [hidden]="empListTable">
    <div class="row my-3 px-3">
        <div class="col-6">
            <h6 class="main-heading">Employees</h6>
        </div>
    </div>
    <div class="col-md-12 d-block m-auto top-sub-bar">
        <div class="create-project">

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="position mb-3">
                        <input (keyup)="filterbyrole($event)" placeholder="Search" #input class="form-control">
                        <div class="search-icon">
                            <mat-icon>search</mat-icon>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 pr-4">
                    <button mat-raised-button color="primary" (click)="addEmployee()" style="float:right;">Add
                        Employee</button>
                </div>
            </div>
            <div class="table-width">
                <table mat-table [dataSource]="employeeData " matSort
                    class="full-table-width mat-elevation-z8 filter-header remove-header-color tblwidth"
                    id="contentToConvert">
                    <ng-container matColumnDef="first_name">
                        <th class="checkboxpadding" mat-header-cell *matHeaderCellDef mat-sort-header>
                            Name
                        </th>
                        <td class="checkboxpadding" mat-cell *matCellDef="let element" matTooltip="{{ element.email }}">
                            <div class="table-nameconcat">
                                {{ element.first_name }} {{element.last_name}}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="email_id">
                        <th class="checkboxpadding" mat-header-cell *matHeaderCellDef mat-sort-header>
                            Email Address
                        </th>
                        <td class="checkboxpadding" mat-cell *matCellDef="let element" matTooltip="{{ element.email }}">
                            <div class="table-nameconcat">
                                {{ element.email }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="phoneno">
                        <th class="checkboxpadding" mat-header-cell *matHeaderCellDef mat-sort-header>
                            Phone Number
                        </th>
                        <td class="checkboxpadding" mat-cell *matCellDef="let element"
                            matTooltip="{{ element.phone_number }}">
                            <div class="table-nameconcat">
                                {{ element.phone_number }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="designation">
                        <th class="checkboxpadding" mat-header-cell *matHeaderCellDef mat-sort-header>
                            Designations
                        </th>
                        <td class="checkboxpadding" mat-cell *matCellDef="let element" matTooltip="{{ element.name }}">
                            <div class="table-nameconcat">
                                {{ element.name }}
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'" matTooltip="Edit"
                                class="" (click)="editEmployeeData(element.id)">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button [hidden]="element.is_active==false" mat-icon-button id="schemeToggle"
                                [style.overflow]="'visible'" matTooltip="Delete" class=""
                                (click)="delEmployee(element.id)">
                                <mat-icon>done</mat-icon>
                            </button>
                            <button [hidden]="element.is_active==true" mat-icon-button id="schemeToggle"
                                [style.overflow]="'visible'" matTooltip="Delete" class=""
                                (click)="delEmployee(element.id)">
                                <mat-icon>clear</mat-icon>
                            </button>

                            <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'"
                                matTooltip="Resend email" class="" (click)="resendActiveMail(element)">
                                <mat-icon>email</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="projectDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: projectDisplayedColumns">
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>

<div [hidden]="addEmpForm">
    <div class="row my-3 px-3">
        <div class="col-6">
            <h5 class="main-heading">Add Employee</h5>
        </div>
        <div class="col-6 text-right">
            <button mat-raised-button (click)="backToEmpList()">Back</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="objemp.firstName" maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="objemp.lastName" maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width full-width">
                    <input #dateofbirth id="empdob" matInput [matDatepicker]="picker" placeholder="Date of birth"
                        (focus)="picker.open()" [(ngModel)]="objemp.dateOfBirth" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker (closed)="dateofbirth.blur()" #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <mat-label class="custom-label">Gender</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" value="m" [checked]="male" (change)="ent_selectGender($event)">
                        Male</mat-radio-button>
                    <mat-radio-button color="primary" value="f" [checked]="female" (change)="ent_selectGender($event)">
                        Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-4 mb-3">
                <mat-label class="custom-label">Marital Status</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" [checked]="married" value="married"
                        (change)="ent_selectMaritalStatus($event)">Married</mat-radio-button>
                    <mat-radio-button color="primary" [checked]="unmarried" value="unmarried"
                        (change)="ent_selectMaritalStatus($event)">Unmarried</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-4 mb-3">
                <mat-label class="custom-label">Relation</mat-label>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button color="primary" value="son" [checked]="son" (change)="ent_sonDaughter($event)">Son
                    </mat-radio-button>
                    <mat-radio-button color="primary" value="dau" [checked]="daughter"
                        (change)="ent_sonDaughter($event)">Daughter</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width full-width">
                    <input #marriagedate id="marriagedate" matInput [matDatepicker]="picker1"
                        placeholder="Marriage Date" (focus)="picker1.open()" [(ngModel)]="objemp.empmarriagedate" />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker (closed)="marriagedate.blur()" #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Email Id</mat-label>
                    <input matInput [(ngModel)]="objemp.emailid" maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Phone no</mat-label>
                    <input matInput [(ngModel)]="objemp.phoneno" (keypress)="funAllowOnlyNumber($event)" maxlength="10">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Emergency Contact Name</mat-label>
                    <input matInput [(ngModel)]="objemp.emergencycontactname" maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Emergency Contact Number</mat-label>
                    <input matInput (keypress)="funAllowOnlyNumber($event)" [(ngModel)]="objemp.emergencycontactno"
                        maxlength="10">
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee Office Id</mat-label>
                    <input matInput [(ngModel)]="objemp.empOfficeId">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3 pt-2">
                <mat-form-field class="example-full-width full-width">
                    <input #joingdate id="joingdate" matInput [matDatepicker]="picker2" placeholder="Joining Date"
                        (focus)="picker2.open()" [(ngModel)]="objemp.joindate" />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker (closed)="joingdate.blur()" #picker2></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width full-width">
                    <mat-label>Designations</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let designations of designationList" [value]="designations.id">
                            {{designations.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width full-width">
                    <mat-label>Departments</mat-label>
                    <mat-select [(ngModel)]="objemp.departmentid">
                        <mat-option *ngFor="let department of departmentresults" [value]="department.id">
                            {{department.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

     <div>
        <div class="row">
            <div>
                <div class="col-md-4 mb-3 example-section">
                    <mat-checkbox color="primary" (change)="getSubCompanys($event)" class="example-margin">Do you want
                        configure to sub company level?
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width full-width">
                    <mat-label>Sub Companys</mat-label>
                    <mat-select [(ngModel)]="objemp.subcompanyid">
                        <mat-option *ngFor="let subcom of subcomresults" (click)="getSubCompanyDepartments(subcom.id)"
                            [value]="subcom.id">
                            {{subcom.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width full-width">
                    <mat-label>Branchs</mat-label>
                    <mat-select [(ngModel)]="objemp.branchid">
                        <mat-option *ngFor="let branch of branchresults" [value]="branch.id">
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
                <mat-form-field class="example-full-width full-width">
                    <mat-label>Departments</mat-label>
                    <mat-select [(ngModel)]="objemp.departmentid">
                        <mat-option *ngFor="let department of departmentresults" [value]="department.id">
                            {{department.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>





        <div class="row">
            <div class="col-md-4 mb-3 example-section" *ngFor="let roles of rolesList let i=index">
                <mat-checkbox color="primary" (change)="selectRoles(roles,$event,i)" class="example-margin">
                    {{roles.name}}</mat-checkbox>
            </div>
        </div>
        <div class="text-center">
            <button mat-raised-button color="primary" class="mr-3" (click)="ent_createEmployee(objemp)">Save</button>
            <button mat-raised-button color="primary" (click)="backToEmpList()">Cancel</button>
        </div>
    </div>
</div>