<div>
  Designation: <br>
  <div *ngFor="let designation of userService.getDesignationArray()">
    {{ designation.name }}
  </div>
  Designation Name: <input type="text" [(ngModel)]="newDesignationName"><br>
  Designation Description: <input type="text" [(ngModel)]="newDesignationDesc"><br>
  <button (click)="addDesignation()">Add</button>
</div>

<p>
-----------
<p>
<app-edit-designations ></app-edit-designations>
<p>
-----------
<p>
<div>
  <app-assign-designation [user]="userService.currentUser">
  </app-assign-designation>
</div>
<div *ngFor="let user of userService.users | keyvalue">
  <app-assign-designation [user]="user.value" >
  </app-assign-designation>
</div>