<div [hidden]="tablehide">
    <div class="col-6">
        <h5 class="main-heading">Sub Companies</h5>
    </div>
    <div class="row px-3">
        <div class="col-sm-6 col-xs-12">
            <div class="position mb-3">
                <input (keyup)="filter($event)" placeholder="Search" #input class="form-control">
                <div class="search-icon">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 pr-4">
            <button mat-raised-button color="primary" style="float:right;"
            (click)="funaddsubCompany()">Add Sub
            Company</button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-width">

            <table mat-table [dataSource]="dataSource" matSort 
            class="full-table-width mat-elevation-z8 filter-header remove-header-color tblwidth"
                id="contentToConvert">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Company Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="companyname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
                </ng-container>
                <ng-container matColumnDef="telnumber">
                    <th style="padding-right: 10px;" mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-nameconcat" matTooltip="{{ element.phone_number }}">
                            {{element.phone_number}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="active">
                    <th style="padding-right: 25px;" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.active == true ? 'Active' : 'InActive'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'" matTooltip="Edit"
                            class="" (click)="funEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
  </div>


<div [hidden]="addSubCompanies">
    <div class="other-fields">
        <h4 class="main-heading">Sub Company Details</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" (keydown.space)="funpreventSpace($event)" matInput [(ngModel)]="companyname" maxlength="100" autocomplete="off"
                            placeholder="Sub Company Name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="number" matInput [(ngModel)]="companyphoneno" maxlength="100"
                            autocomplete="off" (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <mat-label>Parent Company Departments</mat-label>
                <ng-multiselect-dropdown-angular7 [placeholder]="'Select Departments'" [data]="dropdownList"
                    [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                </ng-multiselect-dropdown-angular7>
            </div>
            <div class="col-md-5">
                <mat-label>Sub Company Departments</mat-label>
                <ng-multiselect-dropdown-angular7 [placeholder]="'Select Sub Companies'" [data]="subcompdropdownList"
                    [(ngModel)]="subcompselectedItems" [settings]="subcompdropdownSettings"
                    (onSelect)="subcomponItemSelect($event)" (onSelectAll)="subcomponSelectAll($event)"
                    (onDeSelectAll)="subcomponDeSelectAll($event)">
                </ng-multiselect-dropdown-angular7>
            </div>
            <div class="col-md-2">
                <div class="check-box">
                    <mat-checkbox [(ngModel)]="branchselect" color="primary" (change)="branchcheck($event)">View Branch Departments
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [(ngModel)]="companyfacebook" maxlength="100"
                            autocomplete="off" placeholder="Facebook" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [(ngModel)]="companylinkedin" maxlength="100"
                            autocomplete="off" placeholder="Linkedin" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [(ngModel)]="companytwitter" maxlength="100"
                            autocomplete="off" placeholder="Twitter" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput id="number" matInput [(ngModel)]="companyyoutube" maxlength="100" autocomplete="off"
                        (keypress)="funAllowOnlyNumber($event)" placeholder="Youtube" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [(ngModel)]="companyinsta" maxlength="100"
                            autocomplete="off" placeholder="Instagram" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-9">
                <mat-form-field class="example-full-width">
                    <textarea matInput id="add" matInput [(ngModel)]="companyaddress" rows="1" maxlength="500"
                        autocomplete="off" placeholder="Address"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="fieldset col-md-12 mt-3">
            <legend> Sub Company Contacts:</legend>
            <div class="p-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Business Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="bdname" matInput [(ngModel)]="businessname" maxlength="100"
                                    autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="bdemail" matInput [(ngModel)]="businessmail" maxlength="100"
                                    autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="bpno" matInput [(ngModel)]="businessphnno" maxlength="100"
                                    autocomplete="off" (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Legal Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="ldname" matInput [(ngModel)]="legalname" maxlength="100"
                                    autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="ldemail" matInput [(ngModel)]="legalemail" maxlength="100"
                                    autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="ldpno" matInput [(ngModel)]="legalphnno" maxlength="100"
                                    autocomplete="off" (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Corporate Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="cdname" matInput [(ngModel)]="corporatename" maxlength="100"
                                    autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="cdemail" matInput [(ngModel)]="corporateemail" maxlength="100"
                                    autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="cdpno" matInput [(ngModel)]="corporarephnno" maxlength="100"
                                    autocomplete="off" (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Career Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="crname" matInput [(ngModel)]="careername" maxlength="100"
                                    autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="customeremail" matInput [(ngModel)]="careeremail" maxlength="100"
                                    autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="crpno" matInput [(ngModel)]="careerphnno" maxlength="100"
                                    autocomplete="off" (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 px-3">
            <div class="col-sm-6 col-xs-12">
                    <mat-checkbox [(ngModel)]="ip_active" color="primary" (change)="selectcheck($event)">Active
                    </mat-checkbox>
            </div>
            <div class="col-sm-6 col-xs-12 text-right">
                <button mat-raised-button style="margin-right: 16px;" (click)="fungetsubCompanies()">Cancel</button>
                <button [hidden]="savebtn" mat-raised-button color="primary" class="mgrt-15" (click)="funSaveSubCompany()">Save</button>
                <button [hidden]="updbtn" mat-raised-button color="primary" class="mgrt-15" (click)="funUpdSubcompany()" >Update</button>
            </div>
        </div>
    </div>
</div>