<div style="position: relative; left: 10%;top: 100px;">
Team Name: 
<input type="text" value="Team" id="teamName">
<button (click)="createTeam()"> Create Team</button>


<p>
<select (change)="selectTeam(teamSelect.value)" #teamSelect>
	<option *ngFor="let team of teams | keyvalue" value="{{team.value.id}}" [selected]="team.value.id == selectedTeam?.id">{{ team.value.name }}</option>
</select>

---
<div class="unSelectedContainer">
	<div *ngIf="selectedTeam != null ? !selectedTeam.members.includes(userService.currentUser!.id) : true">			
		<button (click)="addUser(userService.currentUser!.id)"> You </button>			
	</div>
	<div *ngFor="let user of userService.users | keyvalue" >
		<div *ngIf="selectedTeam != null ? !selectedTeam.members.includes(user.value.id) : true">
		<!-- [checked]="selectedTeam != null ? selectedTeam.members.includes(user.value.id) : false"   -->
			
			<button (click)="addUser(user.value.id)"> {{ user.value.firstname }} {{ user.value.lastname }}</button>
			
		</div>
	</div>
</div>

<div class="selectedContainer" *ngIf="selectedTeam != null">
	<div *ngIf="selectedTeam != null ? selectedTeam.members.includes(userService.currentUser!.id) : true">			
		<button (click)="removeUser(userService.currentUser!.id)"> You </button>			
	</div>
	<div *ngFor="let user of selectedTeam.members" >
		<button (click)="removeUser(user)"> {{ userService.getUser(user)?.firstname }} {{ userService.getUser(user)?.lastname }}</button>
			
	</div>
</div>
</div>