<!-- <div style="position: relative;left: 20%;">
  <div class="conference-box-col" *ngFor="let conference of conferences | keyvalue">
    <span>
      {{ conference.value.startDate  }}<br>
      {{ conference.value.meeting_room  }}<br>
      {{ conference.value.duration  }}<br>
      
    </span><p>
  </div>
</div>

-->

<div class="grid-container">
	<div class="grid-elemnent grid-elemnent-4-row"></div>
	<div class="grid-elemnent grid-elemnent-4-row"></div>
	<div class="grid-elemnent grid-elemnent-4-row"></div>
	<div class="grid-elemnent grid-elemnent-4-row"></div>
	<div class="grid-elemnent grid-elemnent-4-row"></div>
	<div class="grid-elemnent grid-elemnent-4-row"></div>
</div>