.grid-container{
  
  left: 10%;
  position: relative;
  background-color: green;
  width: 80vw;
  /*height: 100%*/
}

.grid-elemnent-first {
	
  width: 40vw;
  height: 40vw;
}
.grid-elemnent-3-row {
  
  width: 26.6666666vw;
  height: 26.6666666vw;
}
.grid-elemnent-4-row {
  
  width: 20vw;
  height: 20vw;
}
.grid-elemnent {
  
  float: left;
  
  background-color: red;
  border: solid;
  
  height: 20vw;
}