.warning-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #5D5D5D;
	z-index: 9990000;
	display: flex;
}
.center-text {
	position: relative;
	margin: auto;
  text-align: center;
}