.calendar {
    margin-top: 10px;
   
  }
  .white-bg {
    color: white;
    
} 
::ng-deep i.fa.fa-pencil.fa-2x.white-bg {
  color: white;
  margin-left: 15px;
  font-size: 20px;
}
::ng-deep i.fa.fa-trash.fa-2x.white-bg {
  color: white;
  margin-left: 15px;
  font-size: 20px;
}
::ng-deep a.btn.btn-primary.fa-xs {
  font-size: 15px;
  background-color: #544EF6;
}