
<section id="dept-view-scroll" class="lower-office-view-main">
  <div class="container">
    <div class="department-view-main">
      <div class="dep-view-title-contain">
        <div class="row ">
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Previous
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay()">
                Next
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
          </div>
        </div>
        <ng-template #customCellTemplate let-day="day" let-locale="locale"
            let-openDay="openDay"
                       let-tooltipPlacement="tooltipPlacement"
                       let-highlightDay="highlightDay"
                       tooltipTemplate="tooltipTemplate" 
                       tooltipAppendToBody="tooltipAppendToBody"
                       let-unhighlightDay="unhighlightDay"
                       let-eventClicked="eventClicked">
              <div class="cal-cell-top">
                <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
                  >{{ day.badgeTotal }}</span
                >
                <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
              </div>
              <small style="margin: 5px;">{{getNote(day.date | date:'yyyy-MM-dd')}}</small>
              <div class="cal-events" *ngIf="day.events.length > 0">
                <div
                    class="cal-event"
                    *ngFor="let event of day.events"
                    (mouseenter)="highlightDay.emit({event: event})"
                    (mouseleave)="unhighlightDay.emit({event: event})"
                    [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event">
                    
                </div>
            </div>
            </ng-template>
        <div class="calendar row">
          <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" (dayClicked)="dayClicked($event.day)" class="col-md-9"
            [activeDayIsOpen]="activeDayIsOpen" (eventTimesChanged)="eventTimesChanged($event)"
            (eventClicked)="handleEvent('Clicked', $event.event)" [cellTemplate]="customCellTemplate"
            >
          </mwl-calendar-month-view>
          <div class="modal-body" class="col-md-3" *ngIf="addNote">
            <div class="form-group">
              <label>Add Note</label>
              <input type="text" id='date' value="{{ viewDate | date:'yyyy-MM-dd' }}" readonly
                class="form-control" />
                <input type="text" name="addNote" id="addNote"
                class="form-control" />
            </div>
            <div class="form-group">
              <button type="submit" id="editMemberForm" (click)=addNotes()
                class="ui teal submit button"><span
                  id="hidebutext">Submit</span>&nbsp;
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</section>
