.user-container {
	display: flex;
    flex-wrap: wrap;
}
.room-slot {
	width: 100%;
}
.user-icon {
	flex: 0 0;
    flex-basis: 20%;    
    max-width: 20%;
    display: flex;
    align-items: center;
    height: 140px;
    /**margin: 0 auto 30px auto;**/
    padding: 10px 10px;
}
.create-conference-inner { width: 100%; float: left; position: relative; min-height: 500px; background: #343434; border-radius: 20px; border: 2px solid #544EF6; padding: 25px 15px; }
.create-conference-inner .create-conference-search { width: 100%; float: left; position: relative; margin: 0 0 25px 0; }
.create-conference-inner .create-conference-search input[type="text"] { width: 100%; float: left; position: relative; height: 50px; border-radius: 200px; border: none; background: #EDF0F7; margin: 0; padding: 5px 15px 5px 45px; font-weight: 400; }
.create-conference-inner .create-conference-search input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #020041; font-weight: 500; opacity: 1; /* Firefox */ }
.create-conference-inner .create-conference-search input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #020041; font-weight: 500; }
.create-conference-inner .create-conference-search input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */ color: #020041; font-weight: 500; }
.create-conference-inner .create-conference-search button { width: 34px; height: 34px; position: absolute; left: 10px; top: 7px; z-index: 1; background: none; border: none; text-align: center; }
.create-conference-inner .create-conference-search button svg { width: 16px; height: 16px; }
.create-conference-inner .participant-qty-main { width: 100%; float: left; position: relative; font-size: 14px; margin: 0 0 25px 0; color: #fff; padding: 0 10px; line-height: 1; }
.create-conference-inner .participant-qty-main svg { width: 18px; height: 18px; display: inline-block; margin: 0 10px 0 0; }
.create-conference-inner .participant-qty-main svg, .create-conference-inner .participant-qty-main g, .create-conference-inner .participant-qty-main path, .create-conference-inner .participant-qty-main circle { fill: #fff; }
.create-conference-inner  { width: 100%; float: left; position: relative; height: 568px; overflow: hidden; overflow-y: auto; }
.create-conference-inner  ul { width: 100%; float: left; position: relative; margin: 0; padding: 0; list-style: none; }
.create-conference-inner  ul li { width: 100%; float: left; position: relative; margin: 0; padding: 0; border-top: 1px solid #343434; }
.create-conference-inner  ul li a { width: 100%; float: left; position: relative; cursor: pointer; padding: 10px 15px; color: #fff; font-size: 12px; text-decoration: none; min-height: 70px; display: table; table-layout: fixed; border-radius: 10px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.create-conference-inner  ul li a .c-conference-avatar { width: 15%; display: table-cell; vertical-align: middle; }
.create-conference-inner  ul li a .c-conference-avatar .chat-avatar-label { width: 50px; height: 50px; float: left; border-radius: 50%; background: #C5CFE6; overflow: hidden; }
.create-conference-inner  ul li a .c-conference-avatar .chat-avatar-label img { width: 52px; height: 52px; object-fit: cover; }
.create-conference-inner  ul li a .c-conference-avatar .chat-avatar-label h2 { width: 100%; float: left; position: relative; margin: 0; padding: 15px 5px; line-height: 1; font-size: 18px; text-align: center; color: #000; text-transform: uppercase; font-weight: 700; }
.create-conference-inner  ul li a .c-conference-avatar span.green-l { color: #fff; background: #07D755; }
.create-conference-inner  ul li a .c-conference-avatar span.green-l h2 { color: #fff; }
.create-conference-inner  ul li a .c-conference-avatar span.blue-l { color: #fff; background: #544EF6; }
.create-conference-inner  ul li a .c-conference-avatar span.blue-l h2 { color: #fff; }
.create-conference-inner  ul li a .c-conference-avatar span.pink-l { color: #fff; background: #FF7EA3; }
.create-conference-inner  ul li a .c-conference-avatar span.pink-l h2 { color: #fff; }
.create-conference-inner  ul li a .c-conference-text-detail { width: 70%; display: table-cell; vertical-align: middle; padding: 0 10px; }
.create-conference-inner  ul li a .c-conference-text-detail h5 { width: 100%; float: left; position: relative; margin: 0; padding: 0; font-size: 14px; color: #fff; }
.create-conference-inner  ul li a .c-conference-text-detail .msg-text { width: 100%; float: left; position: relative; margin: 0; }
.create-conference-inner  ul li a .c-conference-text-detail .msg-text svg { width: 10px; height: 10px; display: inline-block; margin: 0 3px 0 0; }
.create-conference-inner  ul li a .c-conference-text-detail .msg-text svg, .create-conference-inner  ul li a .c-conference-text-detail .msg-text g, .create-conference-inner  ul li a .c-conference-text-detail .msg-text circle, .create-conference-inner  ul li a .c-conference-text-detail .msg-text path { fill: #353367; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.create-conference-inner  ul li a p { width: 100%; float: left; position: relative; margin: 0; }
.create-conference-inner  ul li a .c-conference-right-icon { width: 15%; display: table-cell; vertical-align: middle; text-align: right; }
.create-conference-inner  ul li a .c-conference-right-icon svg { width: 18px; height: 18px; }
.create-conference-inner  ul li a .c-conference-right-icon svg, .create-conference-inner  ul li a .c-conference-right-icon g, .create-conference-inner  ul li a .c-conference-right-icon circle, .create-conference-inner  ul li a .c-conference-right-icon path { fill: #07D755; }
.create-conference-inner  ul li a .c-conference-right-icon.blue-icon svg, .create-conference-inner  ul li a .c-conference-right-icon.blue-icon g, .create-conference-inner  ul li a .c-conference-right-icon.blue-icon circle, .create-conference-inner  ul li a .c-conference-right-icon.blue-icon path { fill: #C5CFE6; }
.create-conference-inner  ul li a .c-conference-right-icon.red-icon svg, .create-conference-inner  ul li a .c-conference-right-icon.red-icon g, .create-conference-inner  ul li a .c-conference-right-icon.red-icon circle, .create-conference-inner  ul li a .c-conference-right-icon.red-icon path { fill: #DC4F4F; }
.create-conference-inner  ul li a:hover { background: #5D5D5D; }
.create-conference-inner  ul li.active a { background: #5D5D5D; }

.create-conference-inner  { width: 100%; float: left; position: relative; height: 200px; overflow: hidden; overflow-y: auto; }
.create-conference-inner  ul { width: 100%; float: left; position: relative; margin: 0; padding: 0; list-style: none; }
.create-conference-inner  ul li { width: 100%; float: left; position: relative; margin: 0; padding: 5px; }
.addMembermodal .modal-body {
    height:50px;
}
.add-member-body {
    min-height: 550px;
}

#left-b-contact-list-main {
    height: 200px;
}
.add-team-btn {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 200px;
    padding: 8px 15px;
    line-height: 1.4;
    margin: 0 5px 5px 0;
    display: inline-block;
    background: #544EF6;
    color: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.add-team-btn svg {
    width: 16px;
    height: 12px;
    display: inline-block;
    margin: 0 3px 0 0;
}
.add-team-btn g {
    fill: #fff;
}

.department-view-main .meeting-seat-grid-contain {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 0 15px 0;
}

.team-creator {
    width: 100%;
    float: left;
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}

.main-contain-with-sidebar, .left-side-nav-col-3{
    border: none!important;
    background: transparent!important;
}

.slimScrollDiv .slimScrollBar{
    visibility: hidden!important;
    opacity: 0!important;
    display: none!important;
}

.left-side-navigation-main ul li button::before{
    display: none;
}

.left-side-navigation-main ul li button{
    border-radius: 200px!important;
}

.grid-container {
    width: 100%;
    height: 100%;
    position: relative;
    top: 15vh;
    /*left: 5%;	*/
  }
  
  .off-view-img {
    top: 325px;
    left: 175px;
    width: 111px;
    height: 111px;
    border-radius: 20px;
    opacity: 1;
    display: block;
    margin: 0 auto;
  }
  
  .office-view-header-section p {
    text-align: left;
    font: normal normal medium 12px/35px Cera Pro;
    letter-spacing: 0.97px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 0.6;
    display: inline-block;
    margin-right: 12px;
  }
  
  #office-filter {
    background: #1A1A1A;
    color: #fff !important;
    border-radius: 5px;
    padding: 5px 10px;
  }
  
  .bg-1 {
    background: rgb(241, 125, 129);
    background: -moz-linear-gradient(5deg, rgba(241, 125, 129, 1) 0%, rgba(237, 93, 98, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(241, 125, 129, 1) 0%, rgba(237, 93, 98, 1) 100%);
    background: linear-gradient(5deg, rgba(241, 125, 129, 1) 0%, rgba(237, 93, 98, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f17d81", endColorstr="#ed5d62", GradientType=1);
    color: #fff !important;
  }
  
  .bg-2 {
    background: rgb(251, 150, 126);
    background: -moz-linear-gradient(5deg, rgba(251, 150, 126, 1) 0%, rgba(250, 125, 95, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(251, 150, 126, 1) 0%, rgba(250, 125, 95, 1) 100%);
    background: linear-gradient(5deg, rgba(251, 150, 126, 1) 0%, rgba(250, 125, 95, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb967e", endColorstr="#fa7d5f", GradientType=1);
    color: #fff !important;
  }
  
  .bg-3 {
    background: rgb(244, 175, 100);
    background: -moz-linear-gradient(5deg, rgba(244, 175, 100, 1) 0%, rgba(242, 157, 64, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(244, 175, 100, 1) 0%, rgba(242, 157, 64, 1) 100%);
    background: linear-gradient(5deg, rgba(244, 175, 100, 1) 0%, rgba(242, 157, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4af64", endColorstr="#f29d40", GradientType=1);
    color: #fff !important;
  }
  
  .bg-4 {
    background: rgb(240, 209, 50);
    background: -moz-linear-gradient(5deg, rgba(240, 209, 50, 1) 0%, rgba(237, 198, 2, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(240, 209, 50, 1) 0%, rgba(237, 198, 2, 1) 100%);
    background: linear-gradient(5deg, rgba(240, 209, 50, 1) 0%, rgba(237, 198, 2, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0d132", endColorstr="#edc602", GradientType=1);
    color: #fff !important;
  }
  
  .bg-5 {
    background: rgb(88, 217, 121);
    background: -moz-linear-gradient(5deg, rgba(88, 217, 121, 1) 0%, rgba(47, 208, 88, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(88, 217, 121, 1) 0%, rgba(47, 208, 88, 1) 100%);
    background: linear-gradient(5deg, rgba(88, 217, 121, 1) 0%, rgba(47, 208, 88, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#58d979", endColorstr="#2fd058", GradientType=1);
    color: #fff !important;
  }
  
  .bg-6 {
    background: rgb(50, 205, 222);
    background: -moz-linear-gradient(5deg, rgba(50, 205, 222, 1) 0%, rgba(0, 193, 214, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(50, 205, 222, 1) 0%, rgba(0, 193, 214, 1) 100%);
    background: linear-gradient(5deg, rgba(50, 205, 222, 1) 0%, rgba(0, 193, 214, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32cdde", endColorstr="#00c1d6", GradientType=1);
    color: #fff !important;
  }
  
  .bg-7 {
    background: rgb(62, 155, 254);
    background: -moz-linear-gradient(5deg, rgba(62, 155, 254, 1) 0%, rgba(16, 132, 254, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(62, 155, 254, 1) 0%, rgba(16, 132, 254, 1) 100%);
    background: linear-gradient(5deg, rgba(62, 155, 254, 1) 0%, rgba(16, 132, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e9bfe", endColorstr="#1084fe", GradientType=1);
    color: #fff !important;
  }
  
  .bg-8 {
    background: rgb(94, 119, 195);
    background: -moz-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
    background: linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e77c3", endColorstr="#3857b5", GradientType=1);
    color: #fff !important;
  }
  
  .bg-9 {
    background: rgb(94, 119, 195);
    background: -moz-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
    background: linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e77c3", endColorstr="#3857b5", GradientType=1);
    color: #fff !important;
  }
  
  .bg-10 {
    background: rgb(142, 103, 190);
    background: -moz-linear-gradient(5deg, rgba(142, 103, 190, 1) 0%, rgba(116, 67, 175, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(142, 103, 190, 1) 0%, rgba(116, 67, 175, 1) 100%);
    background: linear-gradient(5deg, rgba(142, 103, 190, 1) 0%, rgba(116, 67, 175, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e67be", endColorstr="#7443af", GradientType=1);
    color: #fff !important;
  }
  
  .bg-11 {
    background: rgb(186, 129, 222);
    background: -moz-linear-gradient(5deg, rgba(186, 129, 222, 1) 0%, rgba(170, 100, 214, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(186, 129, 222, 1) 0%, rgba(170, 100, 214, 1) 100%);
    background: linear-gradient(5deg, rgba(186, 129, 222, 1) 0%, rgba(170, 100, 214, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba81de", endColorstr="#aa64d6", GradientType=1);
    color: #fff !important;
  }
  
  .bg-12 {
    background: rgb(235, 141, 206);
    background: -moz-linear-gradient(5deg, rgba(235, 141, 206, 1) 0%, rgba(231, 115, 195, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(235, 141, 206, 1) 0%, rgba(231, 115, 195, 1) 100%);
    background: linear-gradient(5deg, rgba(235, 141, 206, 1) 0%, rgba(231, 115, 195, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb8dce", endColorstr="#e773c3", GradientType=1);
    color: #fff !important;
  }
  
  .bg-13 {
    background: rgb(144, 153, 163);
    background: -moz-linear-gradient(5deg, rgba(144, 153, 163, 1) 0%, rgba(118, 129, 141, 1) 100%);
    background: -webkit-linear-gradient(5deg, rgba(144, 153, 163, 1) 0%, rgba(118, 129, 141, 1) 100%);
    background: linear-gradient(5deg, rgba(144, 153, 163, 1) 0%, rgba(118, 129, 141, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9099a3", endColorstr="#76818d", GradientType=1);
    color: #fff !important;
  }
  
  .office-view-header-section ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 14px;
  }
  
  .office-view-header-section ul li {
    display: inline-block;
    padding: 6px 20px;
    border-radius: 32px;
    margin-left: 6px;
    box-shadow: 0px 1px 3px #000;
  }
  
  .list-office-view {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .list-office-view div {
    width: 210px;
    height: 240px;
    text-align: center;
    border-radius: 25px;
    padding: 11px 0px;
    margin: 10px 0px;
    cursor: pointer;
    margin-right: 12px;
    box-shadow: 0px 1px 3px #000;
    overflow: hidden;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-100px);
      transform: translateY(-100px);
    }
  }
  
  .list-office-view div p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .list-office-view div span {
    text-align: center;
    letter-spacing: 1.21px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 0px;
    font-size: 10px;
  }
  
  .list-office-view div h3 {
    text-align: center;
    letter-spacing: -0.38px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0px;
    font-size: 20px;
  }
  
  .list-office-view div h6 {
    text-align: center;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    margin-bottom: 0px;
    opacity: 0.8;
    font-size: 12px;
  }
  
  .list-office-view div:hover span,
  .list-office-view div:hover h6 {
    display: none;
  }
  
  .list-office-view div:hover .off-view-img {
    height: 100px;
    width: 100px;
    margin-bottom: 6px;
  }
  
  .list-office-view div ul {
    display: none;
  
  }
  
  .list-office-view div:hover ul {
    list-style: none;
    padding: 0;
    display: block;
    margin-top: 105px;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  .office-view-header-section ul li {
    cursor: pointer;
  }
  
  .list-office-view div:hover ul li {
    display: inline-block;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0px 2px 3px #7c7c7ca4;
  }
  
  .list-office-view div:hover ul li i {
      font-size: 18px;
      line-height: 2.3;
  }
  
  .bg-1 ul li i {
    color: rgb(241, 125, 129);
  }
  
  .bg-2 ul li i {
    color: rgb(251, 150, 126);
  }
  
  .bg-3 ul li i {
    color: rgb(244, 175, 100);
  }
  
  .bg-4 ul li i {
    color: rgb(240, 209, 50);
  }
  
  .bg-5 ul li i {
    color: rgb(88, 217, 121);
  }
  
  .bg-6 ul li i {
    color: rgb(50, 205, 222);
  }
  
  .bg-7 ul li i {
    color: rgb(62, 155, 254);
  }
  
  .bg-8 ul li i {
    color: rgb(94, 119, 195);
  }
  
  .bg-9 ul li i {
    color: rgb(94, 119, 195);
  }
  
  .bg-10 ul li i {
    color: rgb(142, 103, 190);
  }
  
  .bg-11 ul li i {
    color: rgb(186, 129, 222);
  }
  
  .bg-12 ul li i {
    color: rgb(235, 141, 206);
  }
  
  .bg-13 ul li i {
    color: rgb(144, 153, 163);
  }
  
  .team-heading h2{
    text-align: left;
    font: normal normal normal 100px/422px Cera Pro;
    color: #FFFFFF;
    opacity: 1;
    font-size: 100px;
    font-weight: lighter;
    line-height: 1;
    display: inline-block;
    margin-right: 36px;
    margin-bottom: 30px;

  }
  .team-heading .green-btn{
    background: #07D755 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    width: 50px;
    height: 50px;
    border: none;
    vertical-align: text-bottom
  }

  .team-heading .green-btn i{
      color: #fff;
      line-height: 1.4;
  }