<div id="lower-login-main">
            <div class="container">
                <div class="row">

                    <div class="login-col-12">

                        <div class="login-left-content">
                            <h4>Welcome to Creativeland Asia Virtual Office</h4>
                            <!--
                            <h1>How can we help you?</h1>
                            
                            <div class="login-left-search">
                              <form [formGroup]="SearchForm" novalidate="novalidate">
                                <input type="text" value="" placeholder="Looking for an IT Services"
                                formControlName="query">
                                <button type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17.49" height="17.49" viewBox="0 0 17.49 17.49">
                                        <path id="Path_6" data-name="Path 6" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z" transform="translate(-3 -3)" fill="#544ef6" />
                                    </svg>
                                </button>
                               </form>
                            </div>
                            -->
                            <div class="login-left-social">
                                <ul>
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Linkedin</a></li>
                                    <li><a href="#">Twitter</a></li>
                                </ul>
                            </div>

                        </div>


                    


                        <div class="login-right-form">
                            <h4 class="login-box-title">Please confirm your identity</h4>

                            <div class="login-form-inner">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#login-tab-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21.93" viewBox="0 0 16 21.93">
                                                <path id="Path_1246" data-name="Path 1246" d="M20,9A8,8,0,0,0,4,9v6a8,8,0,0,0,16,0ZM18,9H13V3.16A6.005,6.005,0,0,1,18,9ZM11,3.16V9H6A6.005,6.005,0,0,1,11,3.16ZM18,15A6,6,0,0,1,6,15V11H18Z" transform="translate(-4 -1.07)" fill="#544ef6" />
                                            </svg>
                                            <span>Employee</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#login-tab-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.36" height="20" viewBox="0 0 16.36 20">
                                                <g id="Group_5267" data-name="Group 5267" transform="translate(-4 -2)">
                                                    <g id="Group_5266" data-name="Group 5266">
                                                        <circle id="Ellipse_507" data-name="Ellipse 507" cx="2" cy="2" r="2" transform="translate(10 2)" fill="#544ef6" />
                                                        <path id="Path_2461" data-name="Path 2461" d="M15.89,8.11A3.1,3.1,0,0,0,13.53,7H10.99A5.013,5.013,0,0,1,6,2H4A7.024,7.024,0,0,0,9,8.71V22h2V16h2v6h2V10.05L18.95,14l1.41-1.41Z" fill="#544ef6" />
                                                    </g>
                                                </g>
                                            </svg>
                                            <span>Login Tab 2</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#login-tab-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21.001" height="18" viewBox="0 0 21.001 18">
                                                <path id="Path_2463" data-name="Path 2463" d="M4,12V3H2v9a5,5,0,0,0,5,5h6V15H7A3,3,0,0,1,4,12Zm18.83,5.24a1.555,1.555,0,0,0-2.03-.63l-1.09.5L16.3,10.13A2.019,2.019,0,0,0,14.51,9H11V3H5v8a3,3,0,0,0,3,3h7l3.41,7,3.72-1.7A1.508,1.508,0,0,0,22.83,17.24Z" transform="translate(-2 -3)" fill="#544ef6" />
                                            </svg>
                                            <span>Login Tab 3</span></a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="login-tab-1">
                                        <div class="login-form">
                                            <form [formGroup]="loginForm" novalidate="novalidate"  (ngSubmit)="signIn()">

                                                <div class="login-field-contain">
                                                    <input type="text" value="" placeholder="Employee ID"
                                                      formControlName="employee" required>
                                                </div>

                                                <div class="login-field-contain">
                                                    <input type="password" value=""
                                                           placeholder="Password" formControlName="password">
                                                </div>
                                                <span class="text-danger">
                                                  {{loginError.message}}
                                                </span>

                                                <div class="login-button-contain">
                                                  <button type="submit">Log in</button>


                                                    <p class="login-help-text">Login using <a href="#">OTP</a></p>

                                                </div>


                                            </form>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="login-tab-2">...</div>

                                    <div class="tab-pane fade" id="login-tab-3">...</div>

                                </div>

                            </div>
                        </div>
                    




                </div>
            </div>
        </div>


        <div id="login-footer">
        <div class="container">
            <a href="#">Privacy Policy</a>
            </div>
        </div>
