.grid-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 15vh;
  /*left: 5%;	*/
}

.off-view-img {
  top: 325px;
  left: 175px;
  width: 111px;
  height: 111px;
  border-radius: 20px;
  opacity: 1;
  display: block;
  margin: 0 auto;
}

.office-view-header-section p {
  text-align: left;
  font: normal normal medium 12px/35px Cera Pro;
  letter-spacing: 0.97px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 0.6;
  display: inline-block;
  margin-right: 12px;
}

#office-filter {
  background: #1A1A1A;
  color: #fff !important;
  border-radius: 5px;
  padding: 5px 10px;
}

.bg-1 {
  background: rgb(241, 125, 129);
  background: -moz-linear-gradient(5deg, rgba(241, 125, 129, 1) 0%, rgba(237, 93, 98, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(241, 125, 129, 1) 0%, rgba(237, 93, 98, 1) 100%);
  background: linear-gradient(5deg, rgba(241, 125, 129, 1) 0%, rgba(237, 93, 98, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f17d81", endColorstr="#ed5d62", GradientType=1);
  color: #fff !important;
}

.bg-2 {
  background: rgb(251, 150, 126);
  background: -moz-linear-gradient(5deg, rgba(251, 150, 126, 1) 0%, rgba(250, 125, 95, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(251, 150, 126, 1) 0%, rgba(250, 125, 95, 1) 100%);
  background: linear-gradient(5deg, rgba(251, 150, 126, 1) 0%, rgba(250, 125, 95, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb967e", endColorstr="#fa7d5f", GradientType=1);
  color: #fff !important;
}

.bg-3 {
  background: rgb(244, 175, 100);
  background: -moz-linear-gradient(5deg, rgba(244, 175, 100, 1) 0%, rgba(242, 157, 64, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(244, 175, 100, 1) 0%, rgba(242, 157, 64, 1) 100%);
  background: linear-gradient(5deg, rgba(244, 175, 100, 1) 0%, rgba(242, 157, 64, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4af64", endColorstr="#f29d40", GradientType=1);
  color: #fff !important;
}

.bg-4 {
  background: rgb(240, 209, 50);
  background: -moz-linear-gradient(5deg, rgba(240, 209, 50, 1) 0%, rgba(237, 198, 2, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(240, 209, 50, 1) 0%, rgba(237, 198, 2, 1) 100%);
  background: linear-gradient(5deg, rgba(240, 209, 50, 1) 0%, rgba(237, 198, 2, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0d132", endColorstr="#edc602", GradientType=1);
  color: #fff !important;
}

.bg-5 {
  background: rgb(88, 217, 121);
  background: -moz-linear-gradient(5deg, rgba(88, 217, 121, 1) 0%, rgba(47, 208, 88, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(88, 217, 121, 1) 0%, rgba(47, 208, 88, 1) 100%);
  background: linear-gradient(5deg, rgba(88, 217, 121, 1) 0%, rgba(47, 208, 88, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#58d979", endColorstr="#2fd058", GradientType=1);
  color: #fff !important;
}

.bg-6 {
  background: rgb(50, 205, 222);
  background: -moz-linear-gradient(5deg, rgba(50, 205, 222, 1) 0%, rgba(0, 193, 214, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(50, 205, 222, 1) 0%, rgba(0, 193, 214, 1) 100%);
  background: linear-gradient(5deg, rgba(50, 205, 222, 1) 0%, rgba(0, 193, 214, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#32cdde", endColorstr="#00c1d6", GradientType=1);
  color: #fff !important;
}

.bg-7 {
  background: rgb(62, 155, 254);
  background: -moz-linear-gradient(5deg, rgba(62, 155, 254, 1) 0%, rgba(16, 132, 254, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(62, 155, 254, 1) 0%, rgba(16, 132, 254, 1) 100%);
  background: linear-gradient(5deg, rgba(62, 155, 254, 1) 0%, rgba(16, 132, 254, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e9bfe", endColorstr="#1084fe", GradientType=1);
  color: #fff !important;
}

.bg-8 {
  background: rgb(94, 119, 195);
  background: -moz-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
  background: linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e77c3", endColorstr="#3857b5", GradientType=1);
  color: #fff !important;
}

.bg-9 {
  background: rgb(94, 119, 195);
  background: -moz-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
  background: linear-gradient(5deg, rgba(94, 119, 195, 1) 0%, rgba(56, 87, 181, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e77c3", endColorstr="#3857b5", GradientType=1);
  color: #fff !important;
}

.bg-10 {
  background: rgb(142, 103, 190);
  background: -moz-linear-gradient(5deg, rgba(142, 103, 190, 1) 0%, rgba(116, 67, 175, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(142, 103, 190, 1) 0%, rgba(116, 67, 175, 1) 100%);
  background: linear-gradient(5deg, rgba(142, 103, 190, 1) 0%, rgba(116, 67, 175, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8e67be", endColorstr="#7443af", GradientType=1);
  color: #fff !important;
}

.bg-11 {
  background: rgb(186, 129, 222);
  background: -moz-linear-gradient(5deg, rgba(186, 129, 222, 1) 0%, rgba(170, 100, 214, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(186, 129, 222, 1) 0%, rgba(170, 100, 214, 1) 100%);
  background: linear-gradient(5deg, rgba(186, 129, 222, 1) 0%, rgba(170, 100, 214, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ba81de", endColorstr="#aa64d6", GradientType=1);
  color: #fff !important;
}

.bg-12 {
  background: rgb(235, 141, 206);
  background: -moz-linear-gradient(5deg, rgba(235, 141, 206, 1) 0%, rgba(231, 115, 195, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(235, 141, 206, 1) 0%, rgba(231, 115, 195, 1) 100%);
  background: linear-gradient(5deg, rgba(235, 141, 206, 1) 0%, rgba(231, 115, 195, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eb8dce", endColorstr="#e773c3", GradientType=1);
  color: #fff !important;
}

.bg-13 {
  background: rgb(144, 153, 163);
  background: -moz-linear-gradient(5deg, rgba(144, 153, 163, 1) 0%, rgba(118, 129, 141, 1) 100%);
  background: -webkit-linear-gradient(5deg, rgba(144, 153, 163, 1) 0%, rgba(118, 129, 141, 1) 100%);
  background: linear-gradient(5deg, rgba(144, 153, 163, 1) 0%, rgba(118, 129, 141, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9099a3", endColorstr="#76818d", GradientType=1);
  color: #fff !important;
}

.office-view-header-section ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  margin-left: 14px;
}

.office-view-header-section ul li {
  display: inline-block;
  padding: 6px 20px;
  border-radius: 32px;
  margin-left: 6px;
  box-shadow: 0px 1px 3px #000;
}

.list-office-view {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.list-office-view div {
  width: 210px;
  height: 240px;
  text-align: center;
  border-radius: 25px;
  padding: 11px 0px;
  margin: 10px 0px;
  cursor: pointer;
  margin-right: 12px;
  box-shadow: 0px 1px 3px #000;
  overflow: hidden;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

.list-office-view div p {
  font-size: 14px;
  margin-bottom: 10px;
}

.list-office-view div span {
  text-align: center;
  letter-spacing: 1.21px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 0px;
  font-size: 10px;
}

.list-office-view div h3 {
  text-align: center;
  letter-spacing: -0.38px;
  color: #FFFFFF;
  opacity: 1;
  margin-bottom: 0px;
  font-size: 20px;
}

.list-office-view div h6 {
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  margin-bottom: 0px;
  opacity: 0.8;
  font-size: 12px;
}

.list-office-view div:hover span,
.list-office-view div:hover h6 {
  display: none;
}

.list-office-view div:hover .off-view-img {
  height: 100px;
  width: 100px;
  margin-bottom: 6px;
}

.list-office-view div ul {
  display: none;

}

.list-office-view div:hover ul {
  list-style: none;
  padding: 0;
  display: block;
  margin-top: 105px;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.office-view-header-section ul li {
  cursor: pointer;
}

.list-office-view div:hover ul li {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  box-shadow: 0px 2px 3px #7c7c7ca4;
}

.list-office-view div:hover ul li i {
    font-size: 18px;
    line-height: 2.3;
}

.bg-1 ul li i {
  color: rgb(241, 125, 129);
}

.bg-2 ul li i {
  color: rgb(251, 150, 126);
}

.bg-3 ul li i {
  color: rgb(244, 175, 100);
}

.bg-4 ul li i {
  color: rgb(240, 209, 50);
}

.bg-5 ul li i {
  color: rgb(88, 217, 121);
}

.bg-6 ul li i {
  color: rgb(50, 205, 222);
}

.bg-7 ul li i {
  color: rgb(62, 155, 254);
}

.bg-8 ul li i {
  color: rgb(94, 119, 195);
}

.bg-9 ul li i {
  color: rgb(94, 119, 195);
}

.bg-10 ul li i {
  color: rgb(142, 103, 190);
}

.bg-11 ul li i {
  color: rgb(186, 129, 222);
}

.bg-12 ul li i {
  color: rgb(235, 141, 206);
}

.bg-13 ul li i {
  color: rgb(144, 153, 163);
}
