<!-- Prolog
Owner:Baburao M
Created Date:11/02/2020
Content:Side Panel with menu item navigation all paes 
End-->

<!-- Navigation menu section start -->
<section id="lower-office-view-scroll" class="lower-office-view-admin">
        <div class="container-fluid">
            <div class="main-contain-with-sidebar">
                <div class="row">
                    <div class="left-side-nav-col-3">
                        <div id="left-side-navigation-scroll" class="left-side-navigation-main">
                            <ul>
                                <li>
                                    <a [routerLink]="[ 'admin']">
                                        <button type="button">Dashboard</button>
                                    </a>
                                </li>

                                <li class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Configurations
                                          </button>
                                    <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <!-- <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/sdepartments']">
                                                <button type="button">Saas Departments</button>
                                            </a>
                                        </li> -->
                                        <!-- <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/users']">
                                                <button type="button">User</button>
                                            </a>
                                        </li> -->
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/company']">
                                                <button type="button">Company</button>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/department']">
                                                <button type="button">Departments</button>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/subcompany']">
                                                <button type="button">Sub Companies</button>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/branch']">
                                                <button type="button">Branches</button>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/designation']">
                                                <button type="button">Designations</button>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/roles']">
                                                <button type="button">Roles</button>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a [routerLink]="[ 'admin/createemployee']">
                                                <button type="button">Employees</button>
                                            </a>
                                        </li>
                                    </ol>
                                </li>
                                <li class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Security
                                      </button>
                                <ol class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li class="dropdown-item">
                                        <a [routerLink]="[ 'admin/userpermissions']">
                                            <button type="button">User Permissions</button>
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a [routerLink]="[ 'admin/rolepermissions']">
                                            <button type="button">Role Permissions</button>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                                <!-- <li>
                                    <a [routerLink]="[ 'admin/company']">
                                        <button type="button">Add Company</button>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="[ 'admin/company']">
                                        <button type="button">Add Branch</button>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="[ 'admin/createemployee']">
                                        <button type="button">Add Employee</button>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="[ 'admin/permissions']">
                                        <button type="button">Role Permissions</button>
                                    </a>
                                </li> 
                                <li>
                                    <a [routerLink]="[ 'admin/user-permissions']">
                                        <button type="button">User Permissions</button>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="[ 'admin/add-designation']">
                                        <button type="button">Designation</button>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="[ 'admin/add-department']">
                                        <button type="button">Department</button>
                                    </a>
                                </li>

                                <li>
                                    <a [routerLink]="[ 'admin/add-subcompany']">
                                        <button type="button">Sub Company</button>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="[ 'admin/add-branch']">
                                        <button type="button">Branch</button>
                                    </a>
                                </li> -->
                            </ul>



                            

                         
                        </div>
                    </div>
                    <div class="rightside-content">
                        <div class="container p-3">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Navigation end -->
    <!-- left side bar -->
    <app-left-sidebar></app-left-sidebar>
    <!-- left side bar -->