@media (max-width: 990px) { #conference-page-header { display: none; } }

.rightside-content{
    width: 80%; max-height: 93vh;
                    overflow: auto;
}

::-webkit-scrollbar{
    width: 10px;
}

.lower-office-view-admin{
    height: inherit!important;
    padding: 20px 0!important;
    margin-top: inherit!important;
}


.left-side-navigation-main ul li button {
    width: 96%!important;
}


.lower-office-view-admin .dropdown-menu.show{
    position: relative!important;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: inherit!important;
    background: none;
    border: none;
    margin-left: 30px;
}

.lower-office-view-admin .dropdown-item:focus, .lower-office-view-admin .dropdown-item:hover{
    background: none!important;
}