<div id="chat-msgbox-main" class="chat-msgbox-popup slim-popup">
    <div class="chat-msgbox-inner" [ngClass]="{'chatbox-show': showDeclinedWindow()}">
        <div class="chat-msgbox-header" [ngClass]="{'chat-msg-header': chatUtil.isDirect(currentConversations)}">
            <div *ngIf="!chatUtil.isDirect(currentConversations)" id="group-chat-message-box-close"
                class="left-close-popupbutton" (click)="closechatWindow(hasConvoConversation)">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778" viewBox="0 0 6.656 10.778">
                    <path id="Path_35" data-name="Path 35"
                        d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                        transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
                </svg>
            </div>
            <div class="chat-persons-title-main">
                <div class="chat-person-avatar">
                    <span class="chat-img-label">
                        <img *ngIf="chatUtil.isDirect(currentConversations)"
                            [src]="smallProfileImage + users[conversationService.getOtherUser(currentConversations!)]?.id">
                        <h2 *ngIf="!chatUtil.isDirect(currentConversations)">
                            {{chatUtil.abbreviate(currentConversations!.topic)}}</h2>
                    </span>
                </div>

                <ng-container *ngIf="chatUtil.isDirect(currentConversations)">
                    <h4>{{users[conversationService.getOtherUser(currentConversations!)]?.firstname
                        + ' ' + users[conversationService.getOtherUser(currentConversations!)]?.lastname}}</h4>
                </ng-container>

                <ng-container *ngIf="!chatUtil.isDirect(currentConversations)">
                    <h4 *ngIf="!chatUtil.isDirect(currentConversations)">{{currentConversations!.topic}}</h4>
                    <button type="button" *ngFor="let user of currentConversionFilteredUsers()|slice:0:4">
                        <span class="activity-status"
                            [style.background-color]="userService.getUser(user)?.is_online ? '#07D755' : '#FC6F6F'"></span>
                        {{users[user]?.firstname}}
                    </button>
                </ng-container>
                <!-- <span *ngIf="!chatUtil.isDirect(currentConversations)" class="dots" (click)="onEditGroupClick()"></span> -->
                <div class="chat-persons-toggle dropdown" *ngIf="!chatUtil.isDirect(currentConversations)" >
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <circle cx="256" cy="256" r="64"></circle>
                                        <circle cx="256" cy="448" r="64"></circle>
                                        <circle cx="256" cy="64" r="64"></circle>
                                    </g>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </button>

                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-125px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" (click)="onEditGroupClick()">
                            <svg id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <path d="m424 64h-88v-16c0-26.467-21.533-48-48-48h-64c-26.467 0-48 21.533-48 48v16h-88c-22.056 0-40 17.944-40 40v56c0 8.836 7.164 16 16 16h8.744l13.823 290.283c1.221 25.636 22.281 45.717 47.945 45.717h242.976c25.665 0 46.725-20.081 47.945-45.717l13.823-290.283h8.744c8.836 0 16-7.164 16-16v-56c0-22.056-17.944-40-40-40zm-216-16c0-8.822 7.178-16 16-16h64c8.822 0 16 7.178 16 16v16h-96zm-128 56c0-4.411 3.589-8 8-8h336c4.411 0 8 3.589 8 8v40c-4.931 0-331.567 0-352 0zm313.469 360.761c-.407 8.545-7.427 15.239-15.981 15.239h-242.976c-8.555 0-15.575-6.694-15.981-15.239l-13.751-288.761h302.44z"></path>
                                    <path d="m256 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"></path>
                                    <path d="m336 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"></path>
                                    <path d="m176 448c8.836 0 16-7.164 16-16v-208c0-8.836-7.164-16-16-16s-16 7.164-16 16v208c0 8.836 7.163 16 16 16z"></path>
                                </g>
                            </svg> Edit
                        </a>
                    </div>
                </div>
            </div>

            

            <div class="chat-msg-right" *ngIf="chatUtil.isDirect(currentConversations)">
                <ul>
                    <li>
                        <button id="personal-chatbox-open" type="button" class="green-round-button" (click)="callUser()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.284" height="18.284"
                                viewBox="0 0 18.284 18.284">
                                <path id="Path_11" data-name="Path 11"
                                    d="M6.6,5.032a12.507,12.507,0,0,0,.457,2.631L5.834,8.881a15.059,15.059,0,0,1-.772-3.85H6.6m10.015,12.21a12.954,12.954,0,0,0,2.641.457v1.513a15.67,15.67,0,0,1-3.86-.762l1.219-1.209M7.571,3H4.016A1.019,1.019,0,0,0,3,4.016,17.267,17.267,0,0,0,20.268,21.284a1.019,1.019,0,0,0,1.016-1.016V16.723a1.019,1.019,0,0,0-1.016-1.016,11.587,11.587,0,0,1-3.626-.579.853.853,0,0,0-.315-.051,1.04,1.04,0,0,0-.721.295l-2.235,2.235a15.388,15.388,0,0,1-6.694-6.694L8.912,8.678a1.019,1.019,0,0,0,.254-1.036,11.539,11.539,0,0,1-.579-3.626A1.019,1.019,0,0,0,7.571,3Z"
                                    transform="translate(-3 -3)" fill="#fff" />
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button id="chat-message-box-close" type="button" class="white-round-button"
                            (click)="closechatWindow(hasConvoConversation)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6.656" height="10.778"
                                viewBox="0 0 6.656 10.778">
                                <path id="Path_35" data-name="Path 35"
                                    d="M7.266,8.59,11.389,12.7,15.512,8.59l1.266,1.266-5.389,5.389L6,9.856Z"
                                    transform="translate(-8.59 16.778) rotate(-90)" fill="#544ef6" />
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Chat Box Starts --> 
        <div id="chat-msgbox-surface-bg" class="scrollDownContainer">
            <ng-container *ngFor="let msg of currentConversations!.messages,let i = index;">
                <div class="calll-alert-chat missed-call" *ngIf="msg.type=='c' && !msg.call.established; else content">
                    <label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.01" height="17.98" viewBox="0 0 24.01 17.98">
                            <path id="Path_1168" data-name="Path 1168" d="M23.71,16.67a17.016,17.016,0,0,0-23.42,0,1.014,1.014,0,0,0,0,1.42l2.48,2.48a1,1,0,0,0,.71.29,1.026,1.026,0,0,0,.7-.28,11.419,11.419,0,0,1,2.66-1.85,1,1,0,0,0,.56-.9v-3.1A14.624,14.624,0,0,1,12,14a14.911,14.911,0,0,1,4.6.72v3.1a1.008,1.008,0,0,0,.56.9,11.788,11.788,0,0,1,2.67,1.85.982.982,0,0,0,.7.28,1,1,0,0,0,.71-.29l2.48-2.48a1,1,0,0,0,.29-.71.982.982,0,0,0-.3-.7ZM5.4,17.23A13.365,13.365,0,0,0,3.53,18.5L2.46,17.43a14.838,14.838,0,0,1,2.95-1.9v1.7Zm15.08,1.26a13.778,13.778,0,0,0-1.88-1.27v-1.7a15.131,15.131,0,0,1,2.95,1.9l-1.07,1.07ZM7,6.43l4.94,4.94L19.01,4.3,17.6,2.88,11.94,8.54,8.4,5H11V3H5V9H7Z" transform="translate(0 -2.88)" fill="#fff"></path>
                        </svg>
                        <span>
                            {{ isSelf(msg.sender) ? "Call declined" : "Missed call" }} {{localTime(msg) | date: 'h:mm a'}}
                        </span>
                    </label>
                </div>
                <ng-template #content>
                
                <div [ngClass]="chatUtil.chatClass(msg.sender)">
                    <div class="msg-label">
                        <div class="msg-label-title">
                            <div class="msg-label-name">
                                <span>
                                    {{ !chatUtil.isCurrentUser(msg.sender) ? chatUtil.fullname(users[msg.sender], false) : '' }}
                                </span>

                            </div>
                            <!--                        <div class="chat-time">{{msg.date | date: 'h:MM:ss a'}}</div>-->
                            <div class="chat-time">{{localTime(msg) | date: 'h:mm a'}}</div>
                        </div>

                        <span class="message-text" *ngIf="msg.type=='t'" [innerHtml]="urlify(msg.text)">
                            <!-- {{ urlify(msg.text) }} -->
                        </span>
                        <span *ngIf="msg.type=='c'">
                            <span *ngIf="msg.call.established">
                                Call {{ callDuration(msg)  | date:'H:mm:ss':'UTC' }}
                            </span>
                            
                        </span>
                        <span *ngIf="msg.type=='f'">
                            <a [href]="fileRoot +  msg.data_id" target="_blank">{{ msg.text }}</a>
                        </span>
                        <app-audio-player *ngIf="msg.type=='a'" [audioSrc]="audioUrl + msg.data_id"></app-audio-player>
                    </div>
                </div>
            </ng-template>

                <div class="date-label" *ngIf="dateSection(i)">
                    <span>
                        {{chatUtil.smartDate(msg.date) }}
                    </span>
                </div>

            </ng-container>
        </div>
        <!-- Chat Box Ends -->
        <div class="chat-msgbox-input-main">
            <div class="chat-msgbox-input-inner">
                <input type="text" #messageText placeholder="Type your message here...."
                    (keyup.enter)="sendMessage(messageText.value);messageText.value=''">
                <div class="chat-msgbox-send">

                    <!--  Audio Message-->
                    <button class="voice-msg-button" [ngClass]="isRecording ? 'red-button' : 'onfocus-button'"
                        (click)="toggleRecording()">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0c-49.456,0-89.693,40.237-89.693,89.693v176.279c0,49.45,40.237,89.687,89.693,89.687
                    			c49.456,0,89.693-39.957,89.693-89.071V89.693C345.693,40.237,305.456,0,256,0z M308.315,266.583
                    			c0,28.503-23.47,51.698-52.315,51.698s-52.321-23.464-52.321-52.315V89.693c0-28.851,23.47-52.321,52.321-52.321
                    			s52.321,23.47,52.315,52.321V266.583z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="237.314" y="409.226" width="37.372" height="84.088" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M305.207,474.628h-98.414c-10.321,0-18.686,8.365-18.686,18.686c0,10.321,8.365,18.686,18.686,18.686h98.414
                    			c10.321,0,18.686-8.365,18.686-18.686C323.893,482.993,315.528,474.628,305.207,474.628z" />
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M397.392,234.822c-10.321,0-18.686,8.365-18.686,18.686v14.949c0,67.656-55.049,122.706-122.706,122.706
                    			c-67.662,0-122.706-55.049-122.706-122.706v-14.949c0-10.321-8.365-18.686-18.686-18.686s-18.686,8.365-18.686,18.686v14.949
                    			c0,88.267,71.811,160.078,160.078,160.078s160.078-71.811,160.078-160.078v-14.949
                    			C416.078,243.188,407.713,234.822,397.392,234.822z" />
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </button>

                    <!--  Attachment -->
                    <input type="file" id="file" #file (change)="uploadFile($event)" hidden>
                    <button class="attach-doc-button" type="button" (click)="file.click()">
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512"
                            width="512" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m226 512c-49.626 0-90-40.374-90-90v-302c0-66.168 53.832-120 120-120s120 53.832 120 120v302h-30v-302c0-49.626-40.374-90-90-90s-90 40.374-90 90v302c0 33.084 26.916 60 60 60s60-26.916 60-60v-242c0-16.542-13.458-30-30-30s-30 13.458-30 30v242h-30v-242c0-33.084 26.916-60 60-60s60 26.916 60 60v242c0 49.626-40.374 90-90 90z" />
                        </svg>
                    </button>
                    <!--Send-->
                    <button class="send-msg-button" (click)="sendMessage(messageText.value);messageText.value='';">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.892" height="20.892"
                            viewBox="0 0 20.892 20.892">
                            <path id="Path_29" data-name="Path 29"
                                d="M1.523,2.3,7.212,4.735l-5.7-.758L1.523,2.3M7.2,8.9,1.515,11.341V9.659L7.2,8.9M.008,0,0,5.3,11.364,6.818,0,8.333l.008,5.3,15.9-6.818Z"
                                transform="translate(0 11.25) rotate(-45)" fill="#fff" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="personal-call-msgbox-inner"[ngClass]="{'p-call-show': showDeclinedWindow() }">
        <app-call-not-picked-window
            [users]="users" 
            [currentConversations]="currentConversations"
            (onCallUserClick)="callUser()"
            (toggleRecording)="toggleRecording()"
            >
        </app-call-not-picked-window>
    </div>
    
</div>