.msg-label .message-text {
    word-break: break-all;
}

.dots:after {
    content: '\2807';
    font-size: 30px;
    position: relative;
    margin: 0px 0 0 60px;
}
/* .chat-msgbox-popup .chat-msgbox-header .chat-persons-title-main {
    padding: 0 30px 0 110px;
} */