  <div class="" style="margin-top: 10px" [hidden] = "tablehide">
    <div class="col-6">
      <h5 class="main-heading">Designations</h5>
    </div>
      <div class="row px-3">
        <div class="col-sm-6 col-xs-12">
            <div class="position mb-3">
                <input (keyup)="filter($event)" placeholder="Search" #input class="form-control">
                <div class="search-icon">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 pr-4">
            <button mat-raised-button color="primary" style="float:right;"
            (click)="funaddDesignation()">Add Designation</button>
        </div>
    </div>
  <div class="col-md-12">
    <div class="table-width">
      <table mat-table  matSort [dataSource]="dataSource"
        class="mat-elevation-z8 filter-header remove-header-color tblwidth">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"><div class="table-nameconcat" matTooltip="{{ element.description }}"> {{element.description}} </div></td>
              </ng-container>
              <ng-container matColumnDef="active">
                <th style="padding-right: 25px;" mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.active == true ? 'Active' : 'InActive'}} </td>
              </ng-container>
                 <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <button
                    mat-icon-button
                    id="schemeToggle"
                    [style.overflow]="'visible'"
                    matTooltip="Edit"
                    class=""
                    (click)="funEdit(element.id)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      </div>
  </div>
</div>


  <!-- POPUP  -->
  <div class="custom-popup" [hidden]="showSearchPopup">
    <div class="popup-grid">
      <!-- <div class = "header"></div> -->
      <div class="col-md-12 bdrb-1">
        <h5 class="popup-header">Designation Details
           <span class="close-btn close-btn-popup" (click)="closeSearchPopup()">
          <mat-icon>highlight_off</mat-icon>
        </span></h5>
      </div>
      <div class="col-md-12" style="margin-top: 34px">
          <mat-form-field class="example-full-width">
            <input matInput id="designame" (keydown.space)="funpreventSpace($event)" #focusitem matInput [(ngModel)]="newDesignationName" maxlength="100" autocomplete="off"
              placeholder="Name" />
          </mat-form-field>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
          <mat-form-field class="example-full-width">
            <textarea matInput id="desc" matInput [(ngModel)]="newDesignationDesc" rows="2" maxlength="500"
              autocomplete="off" placeholder="Description"></textarea>
          </mat-form-field>
      </div>
      <div class="check-box">
        <mat-checkbox color="primary" [(ngModel)]="ip_active" (change)="selectcheck($event)" >Active</mat-checkbox>
      </div>
      <div class="text-center mb-3">
        <button [hidden] = "savebtn" mat-raised-button color="primary" class="px-3 mr-2 mb-3 btnstyle"
        (click)="funsaveDesignation()">Save</button>
        <button [hidden] = "updbtn" mat-raised-button color="primary" class="px-3 mb-3 btnstyle"
        (click)="funupdateDesignation()">Update</button>
      </div>
    </div>
  </div>
  <!-- END -->