<p class="font">Registration Done Successfully</p>

<div class="text-center mb-3 ">
    <a [routerLink]="[ 'login']">
        <button mat-raised-button color="primary" class="px-3 mr-2 mb-3 btn" (click)="login()">Login</button>
    </a>
</div>