<!-- callNotPicked && personalCallMessageBox -->
        <div class="chat-msgbox-header chat-msg-header">

            <div class="chat-persons-title-main">
                <div class="chat-person-avatar">
                    <span class="chat-img-label green-l">
                        <h2 style="display: none;">S</h2>
                        <img [src]="smallProfileImage +userService.currentUser?.id">
                    </span>

                </div>
                <h4>{{userService.currentUser?.firstname
                    + ' ' + userService.currentUser?.lastname}}</h4>
                <!-- <h5>COO</h5> -->

            </div>

            <div class="chat-msg-right">
                <ul>
                    <!-- <li>
                        <button type="button" class="dark-green-round-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18.284" height="18.284" viewBox="0 0 18.284 18.284">
                                <path id="Path_11" data-name="Path 11" d="M6.6,5.032a12.507,12.507,0,0,0,.457,2.631L5.834,8.881a15.059,15.059,0,0,1-.772-3.85H6.6m10.015,12.21a12.954,12.954,0,0,0,2.641.457v1.513a15.67,15.67,0,0,1-3.86-.762l1.219-1.209M7.571,3H4.016A1.019,1.019,0,0,0,3,4.016,17.267,17.267,0,0,0,20.268,21.284a1.019,1.019,0,0,0,1.016-1.016V16.723a1.019,1.019,0,0,0-1.016-1.016,11.587,11.587,0,0,1-3.626-.579.853.853,0,0,0-.315-.051,1.04,1.04,0,0,0-.721.295l-2.235,2.235a15.388,15.388,0,0,1-6.694-6.694L8.912,8.678a1.019,1.019,0,0,0,.254-1.036,11.539,11.539,0,0,1-.579-3.626A1.019,1.019,0,0,0,7.571,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                            </svg>

                            10:20
                        </button>
                    </li> -->

                    <li>
                        <button id="p-chat-message-box-close" type="button" class="red-round-button" (click)="closeWindow()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.552" height="11.552" viewBox="0 0 11.552 11.552">
                                <path id="Path_179" data-name="Path 179" d="M7.55,11.08l.9.9,3.209-3.209L8.455,5.567l-.9.9L9.206,8.134H3V9.418H9.206ZM13.269,3H4.284A1.283,1.283,0,0,0,3,4.284V6.851H4.284V4.284h8.985v8.985H4.284V10.7H3v2.567a1.283,1.283,0,0,0,1.284,1.284h8.985a1.287,1.287,0,0,0,1.284-1.284V4.284A1.287,1.287,0,0,0,13.269,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <div id="chat-msgbox-surface-bg">

            <div class="p-chat-calling-grid">
                <div class="row">

                    <div class="p-chat-calling-col">
                        <div class="p-chat-calling-img calling-user">
                            <div class="call-avatar-caption hide">SS</div>
                            <img [src]="smallProfileImage + users[conversationService.getOtherUser(currentConversations!)]?.id">
                        </div>
                        <h4>{{users[conversationService.getOtherUser(currentConversations!)]?.firstname
                            + ' ' + users[conversationService.getOtherUser(currentConversations!)]?.lastname}}</h4>
                        <p class="p-chat-calling-text red-text">Is not lifting your call.</p>
                    </div>

                    <div class="p-chat-calling-col">
                        <div class="p-chat-calling-loading">
                            <div class="dot-flashing"></div>
                        </div>
                    </div>


                    <div class="p-chat-calling-col">
                        <div class="p-chat-calling-img">
                            <div class="call-avatar-caption hide">SS</div>
                            <img [src]="smallProfileImage + userService.currentUser?.id">
                        </div>
                        <h4>{{userService.currentUser?.firstname
                            + ' ' + userService.currentUser?.lastname}}</h4>
                        <p class="p-chat-calling-text">Calling</p>
                    </div>


                </div>
            </div>

            <div class="p-chat-bottom-text">            
                
                <!-- <button (click)="callAgain()"> -->
               <h3 (click)="callAgain()"><svg xmlns="http://www.w3.org/2000/svg" width="18.284" height="18.284" viewBox="0 0 18.284 18.284">
                        <path id="Path_11" data-name="Path 11" d="M6.6,5.032a12.507,12.507,0,0,0,.457,2.631L5.834,8.881a15.059,15.059,0,0,1-.772-3.85H6.6m10.015,12.21a12.954,12.954,0,0,0,2.641.457v1.513a15.67,15.67,0,0,1-3.86-.762l1.219-1.209M7.571,3H4.016A1.019,1.019,0,0,0,3,4.016,17.267,17.267,0,0,0,20.268,21.284a1.019,1.019,0,0,0,1.016-1.016V16.723a1.019,1.019,0,0,0-1.016-1.016,11.587,11.587,0,0,1-3.626-.579.853.853,0,0,0-.315-.051,1.04,1.04,0,0,0-.721.295l-2.235,2.235a15.388,15.388,0,0,1-6.694-6.694L8.912,8.678a1.019,1.019,0,0,0,.254-1.036,11.539,11.539,0,0,1-.579-3.626A1.019,1.019,0,0,0,7.571,3Z" transform="translate(-3 -3)" fill="#fff"></path>
                    </svg> Try again?</h3>
                <!-- </button> -->
                 
                <!-- <p>OR</p>
               
                <h3>Would you like to record and send message?</h3>

                <div class="p-chat-bottom-button" (click)="callAgain()">
                    <button type="button" class="dark-button" (click)="closeWindow(true)">No</button>
                    <button type="button" id="recording-open-box" (click)="recordMessage()">Yes</button>
                </div>-->


            </div>




        </div>

        <div class="chat-msgbox-input-main">

            <!-- <div class="p-chat-button-control-main">
                <ul>
                    <li>
                        <button type="button">
                            <svg id="mic_off-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_58" data-name="Path 58" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_59" data-name="Path 59" d="M10.8,4.9a1.2,1.2,0,1,1,2.4,0l-.01,3.91L15,10.6V5a2.99,2.99,0,0,0-5.96-.35L10.8,6.41ZM19,11H17.3a5.173,5.173,0,0,1-.27,1.64l1.27,1.27A6.5,6.5,0,0,0,19,11ZM4.41,2.86,3,4.27l6,6V11a3,3,0,0,0,3,3,2.755,2.755,0,0,0,.65-.08l1.66,1.66A5.5,5.5,0,0,1,12,16.1,5.189,5.189,0,0,1,6.7,11H5a6.984,6.984,0,0,0,6,6.72V21h2V17.72a7.129,7.129,0,0,0,2.55-.9l4.2,4.2,1.41-1.41Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button">
                            <svg id="videocam-24px-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_56" data-name="Path 56" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_57" data-name="Path 57" d="M15,8v8H5V8H15m1-2H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V13.5l4,4V6.5l-4,4V7A1,1,0,0,0,16,6Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="dark-blue-button">
                            <svg id="save-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_66" data-name="Path 66" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_67" data-name="Path 67" d="M17,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V7Zm2,16H5V5H16.17L19,7.83Zm-7-7a3,3,0,1,0,3,3A3,3,0,0,0,12,12ZM6,6h9v4H6Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="dark-blue-button">
                            <svg id="person_add-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_64" data-name="Path 64" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_65" data-name="Path 65" d="M15,12a4,4,0,1,0-4-4A4,4,0,0,0,15,12Zm0-6a2,2,0,1,1-2,2A2.006,2.006,0,0,1,15,6Zm0,8c-2.67,0-8,1.34-8,4v2H23V18C23,15.34,17.67,14,15,14ZM9,18c.22-.72,3.31-2,6-2s5.8,1.29,6,2ZM6,15V12H9V10H6V7H4v3H1v2H4v3Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                    <li>
                        <button type="button" class="dark-blue-button">
                            <svg id="screen_share-24px" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path id="Path_62" data-name="Path 62" d="M0,0H24V24H0Z" fill="none"></path>
                                <path id="Path_63" data-name="Path 63" d="M20,18a2,2,0,0,0,1.99-2L22,6a2,2,0,0,0-2-2H4A1.993,1.993,0,0,0,2,6V16a2,2,0,0,0,2,2H0v2H24V18ZM4,16V6H20V16.01Zm9-6.87c-3.89.54-5.44,3.2-6,5.87,1.39-1.87,3.22-2.72,6-2.72v2.19l4-3.74L13,7Z" fill="#fff"></path>
                            </svg>
                        </button>
                    </li>

                </ul>
            </div> -->

            <div class="chat-msgbox-input-inner">
                <input type="text" #messageStr placeholder="Type your message here..."
                (keyup.enter)="sendMessage(messageStr.value);messageStr.value=''">
                <div class="chat-msgbox-send">
                    <!-- Voice message -->
                    <button class="voice-msg-button onfocus-button" (click)="onToggleRecording()">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0c-49.456,0-89.693,40.237-89.693,89.693v176.279c0,49.45,40.237,89.687,89.693,89.687
        c49.456,0,89.693-39.957,89.693-89.071V89.693C345.693,40.237,305.456,0,256,0z M308.315,266.583
        c0,28.503-23.47,51.698-52.315,51.698s-52.321-23.464-52.321-52.315V89.693c0-28.851,23.47-52.321,52.321-52.321
        s52.321,23.47,52.315,52.321V266.583z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <rect x="237.314" y="409.226" width="37.372" height="84.088"></rect>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M305.207,474.628h-98.414c-10.321,0-18.686,8.365-18.686,18.686c0,10.321,8.365,18.686,18.686,18.686h98.414
        c10.321,0,18.686-8.365,18.686-18.686C323.893,482.993,315.528,474.628,305.207,474.628z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M397.392,234.822c-10.321,0-18.686,8.365-18.686,18.686v14.949c0,67.656-55.049,122.706-122.706,122.706
        c-67.662,0-122.706-55.049-122.706-122.706v-14.949c0-10.321-8.365-18.686-18.686-18.686s-18.686,8.365-18.686,18.686v14.949
        c0,88.267,71.811,160.078,160.078,160.078s160.078-71.811,160.078-160.078v-14.949
        C416.078,243.188,407.713,234.822,397.392,234.822z"></path>
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg></button>

                    <!-- Attach file to send -->
                    <input type="file" id="file_new" #file_new (change)="onUploadFile($event)" hidden>
                    <button class="attach-doc-button" type="button" (click)="file_new.click()">
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                            <path d="m226 512c-49.626 0-90-40.374-90-90v-302c0-66.168 53.832-120 120-120s120 53.832 120 120v302h-30v-302c0-49.626-40.374-90-90-90s-90 40.374-90 90v302c0 33.084 26.916 60 60 60s60-26.916 60-60v-242c0-16.542-13.458-30-30-30s-30 13.458-30 30v242h-30v-242c0-33.084 26.916-60 60-60s60 26.916 60 60v242c0 49.626-40.374 90-90 90z"></path></svg></button>

                    <button class="send-msg-button" (click)="sendMessage(messageStr.value);messageStr.value='';">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.892" height="20.892" viewBox="0 0 20.892 20.892">
                            <path id="Path_29" data-name="Path 29" d="M1.523,2.3,7.212,4.735l-5.7-.758L1.523,2.3M7.2,8.9,1.515,11.341V9.659L7.2,8.9M.008,0,0,5.3,11.364,6.818,0,8.333l.008,5.3,15.9-6.818Z" transform="translate(0 11.25) rotate(-45)" fill="#fff"></path>
                        </svg>
                    </button>

                </div>
            </div>
        </div>