<section id="lower-conference-main">
    <div class="container">
        <div id="create-conference-main">
            <form [formGroup]="teamCreateForm" (submit)="saveTeam()">
                <div class="row">
                    <div class="create-conference-left">
                        <app-users-contact-list [users]="users" (toggleUserClick)="toggleUser($event)">
                        </app-users-contact-list>
                    </div>

                    <div class="create-conference-right">
                        <div class="create-conference-inner">
                            <div class="create-conference-form">
                                <div class="c-conference-field">
                                    <div class="c-conference-field-title">Title</div>
                                    <input type="text" formControlName="title" (keyup)="isValid()"/>
                                    <span class="errornote" *ngIf="errors">{{errors.title}}</span>
                                </div>

                                <div class="c-conference-field custom-height">
                                    <div class="c-conference-field-title">People Added</div>
                                    <span class="errornote" *ngIf="errors">{{errors.assigned_users}}<br></span>
                                    <ng-container *ngIf="selectedUsers.length > 0">
                                        <label class="people-add-label" *ngFor="let userID of selectedUsers">
                                            <span class="blue-l">
                                                <h4>{{abbreviate(users[userID].firstname+' '+ users[userID].lastname)}}
                                                </h4>
                                            </span>{{ users[userID].firstname }} {{users[userID].lastname}}</label>
                                    </ng-container>
                                </div>

                                <div class="c-conference-field-submit">
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 20 20">
                                            <g id="Group_2409" data-name="Group 2409" transform="translate(-2 -2)">
                                                <g id="Group_2408" data-name="Group 2408">
                                                    <path id="Path_1171" data-name="Path 1171" d="M12,2A10,10,0,1,0,22,
                                                    12,10,10,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                                                        fill="#fff" />
                                                    <path id="Path_1172" data-name="Path 1172" d="M7.1,10.18a4.385,4.385,0,0,
                                                          1,0,3.66l1.37.62a5.826,5.826,0,0,0,0-4.9Z" fill="#fff" />
                                                    <path id="Path_1173" data-name="Path 1173" d="M13.33,7.33a10.465,10.465,0,0,1,1.18,4.64,
                                                          10.733,10.733,0,0,1-1.18,4.69l1.35.66a12.241,
                                                          12.241,0,0,0,1.33-5.35,11.98,11.98,0,0,0-1.33-5.31Z"
                                                        fill="#fff" />
                                                    <path id="Path_1174" data-name="Path 1174" d="M10.2,8.72a7.586,
                                                    7.586,0,0,1,.8,3.4,6.316,6.316,0,0,1-.78,3.15l1.3.74a7.778,
                                                    7.778,0,0,0,.98-3.89,9.021,9.021,0,0,0-.96-4.07Z" fill="#fff" />
                                                </g>
                                            </g>
                                        </svg> Save Team
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>