/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #292929;}

.example-full-width {
    width: 100%;
}

.mat-radio-button {
    vertical-align: sub;
    margin-left: 30px;
}


button.mat-raised-button {
    border-radius: 45px !important;
}

.full-table-width{
    width: 100%;
}
thead{
    background: #424242!important;
}

thead .mat-header-cell{
    color: #fff!important;
}

.mat-radio-button{
    margin-left: 0px!important;
    margin-right: 20px!important;
}

mat-radio-group mat-radio-button:last-child{
    margin-right: 0px;
}
.custom-label{
    font-size: 13px;
    color: #908e8e;
    /* display: block; */
    margin-right: 25px;
}

.full-table-width{
    border: none!important;
    box-shadow: none!important;
}

 tbody tr:nth-child(even){
    background: #e7e7e7!important;
}

th.mat-header-cell {
    font-size: 15px!important;
}

/*Rajesh*/
.position{
    position: relative;
}
.width50{
    width:50%; 
}
.search-icon{
    position: absolute;
    top: 7px;
    right:12px;
}

.position input.mat-input-element{
    width:92%;
}

.mat-sort-header-stem, .mat-sort-header-pointer-left, .mat-sort-header-pointer-right {
    background: #fff!important;
}


#permissionTable .table-ckbox{
    width: 208px;
    display: inline-block;
}

#permissionTable .mat-cell{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.main-heading {
    font-size: 25px!important;
    color: #3b3b3b!important;
    font-weight: 300!important;
    margin: 5px 0px 13px!important;
}


.custom-textarea{
    height: 89px;
    resize: none;
}
.fieldset {
    border: 1px solid #bebebe;
}

.fieldset legend {
    display: inline!important;
    width: fit-content;
    padding: 0 14px!important;
    margin-bottom: .5rem;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
    margin-top: -12px;
    background: #fff;
}

.fieldset span{
    font-size: 15px!important;
}


  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #2c2c2c05!important;
}

app-list-myteam .slimScrollBar{
    display: none!important;
}

app-list-myteam .mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label-active{
    color: #fff!important;
    opacity: 1!important;
}

app-list-myteam .mat-ripple.mat-tab-label{
  color: #fff!important;
  opacity: 0.5!important;
}

app-list-myteam .mat-ripple.mat-tab-label .mat-icon{
    margin-right: 10px;
}

app-wrapper-with-sidebar {
    display: inline-flex!important;
}

#left-sidebar-toggle{
    position: relative!important;
    min-width: 430px!important;
}

.custom-inline-btn{
    width: 54px;
    height: 54px;
    float: left;
    position: relative;
    color: #000;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #544EF6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 12px 5px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}

.custom-inline-btn:hover {
    color: #fff;
    background: #544EF6;
    border-color: #544EF6;
}

#left-sidebar-menuicon{
    position: absolute;
    top: 30px;
    left: 30px;
}

.mat-typography.left-slide-toggle-open #left-sidebar-menuicon{
    position: fixed;
}

.mat-typography app-left-sidebar{
    width: 120px!important;
}

.mat-typography.left-slide-toggle-open app-left-sidebar{
    width: inherit!important;
}

.mat-typography.left-slide-toggle-open .main-layout-content{
    width: calc(100% - 422px)!important;
    margin-left: 421px!important;
}

.mat-typography .main-layout-content{
    width: inherit!important;
    margin-left: inherit!important;
}

.left-side-nav-col-3{
    height: inherit!important;
}

#left-sidebar-toggle{
    position: fixed!important;
}

body.no-vscroll{
    overflow: inherit!important;
}