{{ user!.firstname }} {{ user!.lastname }}
<select [(ngModel)]="selectedDesignation" (ngModelChange)="changeDesignation()">
	<option *ngFor="let designation of userService.getDesignationArray()" [(ngValue)]="designation.id">
	  {{ designation.name }}
  </option>
</select>
