<div id="calling-dial-screen" class="calling-screen-main" *ngIf="directCall != null && callStatus()"
    [ngClass]="{'calling-dial-open': directCall != null && callStatus()}">
    
    <!--  Call Dial Screen  -->
    <div class="calling-screen-inner">

        <div class="calling-timer-main" *ngIf="true">
            <span>{{ directCall.duration | date:'H:mm:ss':'UTC'}}</span>
        </div>

        <!-- Single Call Thumb Grid  -->
        <div class="calling-thumb-grid">
            <div class="row">
                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <span>
                                <app-conference-user *ngIf="isConnected()" [connection]="getConnection()">
                                </app-conference-user>

                            </span>
                            <!-- span *ngIf="!outGoingCall">
                                <img [src]="smallProfileImage + incomingCall.user">
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Dobule Call Thumb Grid  -->
        <div class="calling-thumb-grid hide">
            <div class="row">
                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <img src="./images/call-ing-thumb-1.png">
                        </div>
                    </div>
                </div>

                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <img src="images/call-blue-bg.png">
                            <h2>RJ</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 4 + Call Thumb Grid  -->
        <div class="calling-thumb-grid fouth-call-members hide">
            <div class="row">
                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <img src="./images/call-ing-thumb-1.png">
                        </div>
                    </div>
                </div>

                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <img src="images/call-blue-bg.png">
                            <h2>RJ</h2>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <img src="./images/call-ing-thumb-1.png">
                        </div>
                    </div>
                </div>

                <div class="calling-thumb-col">
                    <div class="calling-thumb-avatar">
                        <div class="calling-img-avatar">
                            <img src="images/call-blue-bg.png">
                            <h2>RJ</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="calling-persons-name">
            <div class="calling-type">Meeting Call</div>
            <h3>
                {{userService.getUser(directCall.targetUser)?.firstname}}
                {{userService.getUser(directCall.targetUser)?.lastname}}
            </h3>
        </div>


        <div class="calling-button" *ngIf="directCall.state == 'called'">
            <!--CallState.CALLED  -->

            <button id="" type="button" class="green-button" (click)="onAcceptCall()" *ngIf="!isConnected()">
                <svg id="local_phone-24px" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                    viewBox="0 0 40 40">
                    <path id="Path_10" data-name="Path 10" d="M0,0H40V40H0Z" fill="none" />
                    <path id="Path_11" data-name="Path 11"
                        d="M8.9,6.333a20.521,20.521,0,0,0,.75,4.317l-2,2A24.709,24.709,0,0,1,6.383,6.333H8.9M25.333,26.367a21.254,21.254,0,0,0,4.333.75V29.6a25.711,25.711,0,0,1-6.333-1.25l2-1.983M10.5,3H4.667A1.672,1.672,0,0,0,3,4.667,28.331,28.331,0,0,0,31.333,33,1.672,1.672,0,0,0,33,31.333V25.517a1.672,1.672,0,0,0-1.667-1.667,19.012,19.012,0,0,1-5.95-.95,1.4,1.4,0,0,0-.517-.083,1.707,1.707,0,0,0-1.183.483l-3.667,3.667A25.248,25.248,0,0,1,9.033,15.983L12.7,12.317a1.673,1.673,0,0,0,.417-1.7,18.934,18.934,0,0,1-.95-5.95A1.672,1.672,0,0,0,10.5,3Z"
                        transform="translate(2 2)" fill="#fff" />
                </svg>

            </button>

            <button id="calling-end-button" type="button" class="red-button" (click)="onDeclineCall()">
                <svg xmlns="http://www.w3.org/2000/svg" width="56.568" height="56.568" viewBox="0 0 56.568 56.568">
                    <g id="local_phone-24px" transform="translate(56.568 28.284) rotate(135)">
                        <path id="Path_10" data-name="Path 10" d="M0,0H40V40H0Z" fill="none" />
                        <path id="Path_11" data-name="Path 11"
                            d="M5.9,3.333A20.521,20.521,0,0,0,6.65,7.65l-2,2A24.709,24.709,0,0,1,3.383,3.333H5.9M22.333,23.367a21.254,21.254,0,0,0,4.333.75V26.6a25.711,25.711,0,0,1-6.333-1.25l2-1.983M7.5,0H1.667A1.672,1.672,0,0,0,0,1.667,28.331,28.331,0,0,0,28.333,30,1.672,1.672,0,0,0,30,28.333V22.517a1.672,1.672,0,0,0-1.667-1.667,19.012,19.012,0,0,1-5.95-.95,1.4,1.4,0,0,0-.517-.083,1.707,1.707,0,0,0-1.183.483l-3.667,3.667A25.248,25.248,0,0,1,6.033,12.983L9.7,9.317a1.673,1.673,0,0,0,.417-1.7,18.934,18.934,0,0,1-.95-5.95A1.672,1.672,0,0,0,7.5,0Z"
                            transform="translate(5 5)" fill="#fff" />
                    </g>
                </svg>
            </button>
        </div>

        <div class="calling-button" *ngIf="directCall.state == 'calling' || directCall.state == 'active'">
            <button id="calling-end-button" type="button" class="red-button" (click)="onHangUpCall()">
                <svg xmlns="http://www.w3.org/2000/svg" width="56.568" height="56.568" viewBox="0 0 56.568 56.568">
                    <g id="local_phone-24px" transform="translate(56.568 28.284) rotate(135)">
                        <path id="Path_10" data-name="Path 10" d="M0,0H40V40H0Z" fill="none" />
                        <path id="Path_11" data-name="Path 11"
                            d="M5.9,3.333A20.521,20.521,0,0,0,6.65,7.65l-2,2A24.709,24.709,0,0,1,3.383,3.333H5.9M22.333,23.367a21.254,21.254,0,0,0,4.333.75V26.6a25.711,25.711,0,0,1-6.333-1.25l2-1.983M7.5,0H1.667A1.672,1.672,0,0,0,0,1.667,28.331,28.331,0,0,0,28.333,30,1.672,1.672,0,0,0,30,28.333V22.517a1.672,1.672,0,0,0-1.667-1.667,19.012,19.012,0,0,1-5.95-.95,1.4,1.4,0,0,0-.517-.083,1.707,1.707,0,0,0-1.183.483l-3.667,3.667A25.248,25.248,0,0,1,6.033,12.983L9.7,9.317a1.673,1.673,0,0,0,.417-1.7,18.934,18.934,0,0,1-.95-5.95A1.672,1.672,0,0,0,7.5,0Z"
                            transform="translate(5 5)" fill="#fff" />
                    </g>
                </svg>
            </button>
        </div>

        <div class="calling-op-buttons-main">
            <ul>

                <li>
                    <button type="button" (click)="toggleAudio()">
                        <span>
                            <svg *ngIf="!isMuted()" xmlns="http://www.w3.org/2000/svg" width="14" height="19"
                                viewBox="0 0 14 19">
                                <path id="Path_61" data-name="Path 61"
                                    d="M12,14a3,3,0,0,0,3-3V5A3,3,0,0,0,9,5v6A3,3,0,0,0,12,14ZM11,5a1,1,0,0,1,2,0v6a1,1,0,0,1-2,0Zm6,6A5,5,0,0,1,7,11H5a7,7,0,0,0,6,6.92V21h2V17.92A7,7,0,0,0,19,11Z"
                                    transform="translate(-5 -2)" fill="#ffff" />
                            </svg>

                            <svg *ngIf="isMuted()" xmlns="http://www.w3.org/2000/svg" width="18.16" height="19.02"
                                viewBox="0 0 18.16 19.02">
                                <path id="Path_59" data-name="Path 59"
                                    d="M10.8,4.9a1.2,1.2,0,1,1,2.4,0l-.01,3.91L15,10.6V5a2.99,2.99,0,0,0-5.96-.35L10.8,6.41ZM19,11H17.3a5.173,5.173,0,0,1-.27,1.64l1.27,1.27A6.5,6.5,0,0,0,19,11ZM4.41,2.86,3,4.27l6,6V11a3,3,0,0,0,3,3,2.755,2.755,0,0,0,.65-.08l1.66,1.66A5.5,5.5,0,0,1,12,16.1,5.189,5.189,0,0,1,6.7,11H5a6.984,6.984,0,0,0,6,6.72V21h2V17.72a7.129,7.129,0,0,0,2.55-.9l4.2,4.2,1.41-1.41Z"
                                    transform="translate(-3 -2)" fill="#fff" />
                            </svg>

                        </span>
                        Audio
                    </button>
                </li>
                <li>
                    <button type="button" (click)="toggleVideo()">
                        <span>
                            <svg *ngIf="isCam()" xmlns="http://www.w3.org/2000/svg" width="18" height="12"
                                viewBox="0 0 18 12">
                                <path id="Path_57" data-name="Path 57"
                                    d="M15,8v8H5V8H15m1-2H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1,1,0,0,0,1-1V13.5l4,4V6.5l-4,4V7A1,1,0,0,0,16,6Z"
                                    transform="translate(-3 -6)" fill="#fff" />
                            </svg>

                            <svg *ngIf="!isCam()" xmlns="http://www.w3.org/2000/svg" width="19.14" height="19.14"
                                viewBox="0 0 19.14 19.14">
                                <path id="Path_55" data-name="Path 55"
                                    d="M9.56,8l-2-2L3.41,1.86,2,3.27,4.73,6H4A1,1,0,0,0,3,7V17a1,1,0,0,0,1,1H16a1.03,1.03,0,0,0,.55-.18L19.73,21l1.41-1.41-8.86-8.86ZM5,16V8H6.73l8,8ZM15,8v2.61l6,6V6.5l-4,4V7a1,1,0,0,0-1-1H10.39l2,2Z"
                                    transform="translate(-2 -1.86)" fill="#fff" />
                            </svg>
                        </span>
                        Video
                    </button>
                </li>

                <li>
                    <button type="button" (click)="toggleRecord()">
                        <span *ngIf="!isRecording()">
                            <svg id="save-24px" xmlns="http://www.w3.org/2000/svg" width="32.058" height="32.058"
                                viewBox="0 0 32.058 32.058">
                                <path id="Path_66" data-name="Path 66" d="M0,0H32.058V32.058H0Z" fill="none" />
                                <path id="Path_67" data-name="Path 67"
                                    d="M21.7,3H5.672A2.671,2.671,0,0,0,3,5.672v18.7a2.671,2.671,0,0,0,2.672,2.672h18.7a2.679,2.679,0,0,0,2.672-2.672V8.343Zm2.672,21.372H5.672V5.672H20.592l3.78,3.78Zm-9.35-9.35a4.007,4.007,0,1,0,4.007,4.007A4,4,0,0,0,15.022,15.022ZM7.007,7.007H19.029V12.35H7.007Z"
                                    transform="translate(1.007 1.007)" fill="#fff" />
                            </svg>
                        </span>

                        <span *ngIf="isRecording()">
                            <svg id="save-24px" xmlns="http://www.w3.org/2000/svg" width="32.058" height="32.058"
                                viewBox="0 0 32.058 32.058">
                                <path id="Path_66" data-name="Path 66" d="M0,0H32.058V32.058H0Z" fill="none" />
                                <path id="Path_67" data-name="Path 67"
                                    d="M21.7,3H5.672A2.671,2.671,0,0,0,3,5.672v18.7a2.671,2.671,0,0,0,2.672,2.672h18.7a2.679,2.679,0,0,0,2.672-2.672V8.343Zm2.672,21.372H5.672V5.672H20.592l3.78,3.78Zm-9.35-9.35a4.007,4.007,0,1,0,4.007,4.007A4,4,0,0,0,15.022,15.022ZM7.007,7.007H19.029V12.35H7.007Z"
                                    transform="translate(1.007 1.007)" fill="#FC6F6F"/>
                            </svg>
                        </span>
                        Record
                    </button>
                </li>
                <!--
                <li>
                    <button id="add-contact-users" type="button" (click)="addUserToCallToggle()">
                        <span><svg id="person_add-24px" xmlns="http://www.w3.org/2000/svg" width="32.058"
                                height="32.058" viewBox="0 0 32.058 32.058">
                                <path id="Path_64" data-name="Path 64" d="M0,0H32.058V32.058H0Z" fill="none" />
                                <path id="Path_65" data-name="Path 65"
                                    d="M19.7,14.686a5.343,5.343,0,1,0-5.343-5.343A5.342,5.342,0,0,0,19.7,14.686Zm0-8.015a2.672,2.672,0,1,1-2.672,2.672A2.679,2.679,0,0,1,19.7,6.672Zm0,10.686c-3.566,0-10.686,1.79-10.686,5.343v2.672H30.387V22.7C30.387,19.148,23.267,17.358,19.7,17.358ZM11.686,22.7c.294-.962,4.421-2.672,8.015-2.672s7.747,1.723,8.015,2.672ZM7.679,18.693V14.686h4.007V12.015H7.679V8.007H5.007v4.007H1v2.672H5.007v4.007Z"
                                    transform="translate(0.336 1.343)" fill="#fff" />
                            </svg>

                        </span>
                        + Add
                    </button>
                </li>
                -->
            </ul>
        </div>
    </div>
    <app-user-search-list *ngIf="addUserToCallDrawer" [users]="users" [addUserToCallDrawer]="addUserToCallDrawer">
    </app-user-search-list>
</div>