
 .calling-thumb-avatar .calling-img-avatar {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    overflow: hidden !important;
    border-radius: 10px !important;
}



/** image width increase when direct call**/
@media screen and (min-width: 1910px){ .calling-thumb-avatar .calling-img-avatar {  max-width: 500px; max-height: 500px;} }
@media screen and (max-width: 1900px){ .calling-thumb-avatar .calling-img-avatar {  max-width: 185px; max-height: 185px;} }
@media screen and (max-width: 1439px){ .calling-thumb-avatar .calling-img-avatar {  max-width: 240px; max-height: 240px;} }
@media screen and (max-width: 1280px){ .calling-thumb-avatar .calling-img-avatar {  max-width: 135px; max-height: 135px;} }