<section id="lower-conference-main" #gridContainer>
    <div class="col-md-10 d-block m-auto">
        <div class="row">
            <!-- LAYOUT COMPONENT -->
            <div class="office-view-header-section">
                <p>Filter by Department</p>
                <select name="filterby" id="office-filter" (change)="filterbyroomname($event)">
                    <option value="All">ALL</option>
                    <option *ngFor="let room of rooms | keyvalue" [value]="room.value.id">{{room.value.name}}</option>
                </select>
                <!-- <ul>
                    <li class="bg-1">Digital Product</li>
                    <li class="bg-2">Design</li>
                    <li class="bg-3">Products</li>
                    <li class="bg-4">Account Management</li>
                    <li class="bg-5">Planning & Strategy</li>
                </ul> -->
            </div>
            <!-- LAYOUT COMPONENT -->
        </div>
        <div class="list-office-view">
            <div *ngIf="!isAllselected">
                <div [ngClass]="bgClor(roomname.color)" *ngFor="let room of roomname.workspaces">
                    <!-- LAYOUT COMPONENT -->
                    <p>{{roomname.name}}</p>
                    <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                    <!-- <div class="right-click-button" *ngIf="room.value.type !='de' || isOwnRoom(room.value)">
                        <button type="button" (click)="enterRoom($event, room.value)" (mouseup)="$event.stopPropagation();">
                            <img src="assets/images/click-icon.png">
                        </button>
                    </div> -->
                    <div class="room-header" *ngIf="roomname.type =='of'">
                        <app-myroom-slot class="grid-room-item grid-room-main-thumb" [userId]="roomname.owner"
                            [isSeated]="true">
                        </app-myroom-slot>
                    </div>
                    <div class="room-content" *ngIf="roomname.type =='de'"
                        [style.height]="'calc(' + (cellSizeY * (roomname.height - 1)) + 'vw '">
                        <app-myroom-slot *ngFor="let slot of slotList(roomname) ; index as i"
                            class=" grid-room-item grid-room-person-thumb" [userId]="room" [isSeated]="true"
                            [room]="roomname">
                        </app-myroom-slot>
                    </div>
                    <!-- <app-myroom-slot></app-myroom-slot> -->
                    <!-- /ROOM SLOT -->
                </div>
            </div>
            
            <div *ngIf="isAllselected">
                <app-office-element [ngClass]="bgClor(room.value.color)" *ngFor="let room of rooms | keyvalue" [room]="room.value">
                    <div class="grid-room-inner">
                        <div class="grid-room-title-main">
                            <p>{{room.value.name}}</p>
    
                            <div class="right-click-button" *ngIf="room.value.type !='de' || isOwnRoom(room.value)">
                                <button type="button" (click)="enterRoom($event, room.value)"
                                    (mouseup)="$event.stopPropagation();">
                                    <img src="assets/images/click-icon.png">
                                </button>
                            </div>
                        </div>
                        <div class="room-header" *ngIf="room.value.type =='of'">
                            <app-myroom-slot class="grid-room-item grid-room-main-thumb" [userId]="room.value.owner"
                                [isSeated]="true">
                            </app-myroom-slot>
                        </div>
                        <div class="room-content" *ngIf="room.value.type =='de'"
                            [style.height]="'calc(' + (cellSizeY * (room.value.height - 1)) + 'vw '">
                            <app-myroom-slot *ngFor="let slot of slotList(room.value) ; index as i"
                                class=" grid-room-item grid-room-person-thumb" [userId]="room.value.id" [isSeated]="true"
                                [room]="room.value">
                            </app-myroom-slot>
                        </div>
                        <div class="room-content" *ngIf="room.value.type !='de'"
                            [style.height]="100.0 - (100.0 / room.value.height) + '%'">
                            <app-myroom-slot *ngFor="let slot of slotList(room.value)"
                                class=" grid-room-item grid-room-person-thumb team-members-box" [userId]="slot"
                                [isSeated]="true" [room]="room.value">
                            </app-myroom-slot>
                        </div>
                    </div>
    
                </app-office-element>
            </div>
           
            <!-- <div class="bg-2">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <app-myroom-slot></app-myroom-slot>
            </div>
            <div class="bg-3">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <app-myroom-slot></app-myroom-slot>
            </div> -->
        </div>
        <!-- <div class="list-office-view">
            <div class="bg-5 widget-lg">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <app-myroom-slot></app-myroom-slot>
            </div>
            <div class="bg-6 widget-lg">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <app-myroom-slot></app-myroom-slot>
            </div>
        </div> -->
        <!-- <div class="list-office-view">
            <div class="bg-10 widget-double-lg">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <app-myroom-slot></app-myroom-slot>
            </div>
            <div class="bg-9 widget-double-lg">
                <p>Planning & Strategy</p>
                <img src="../../../../assets/officelist-img.jpg" alt="" class="off-view-img">
                <span>Online</span>
                <h3>Bhumik Parmar</h3>
                <h6>Sr UI UX Designer</h6>
                <app-myroom-slot></app-myroom-slot>
            </div>
        </div> -->
    </div>
</section>