.call-border {
	
	border-color: black;
	border-width: 2px;
	border-radius: 6px;
	border-style: solid;
	
	
	width: 100%;
}
.call-content {
	width: 100%;
    height: 100%;
    object-fit: cover;
}
.call-profile {
	object-fit: cover;
	width: 100%;
	height:100%
}
.audio-meter {
	
	height: 20px;
	width: 0px;
	background-color: green;
	
	position: relative;
	
	top: 0;
	left:20px;
}
.mirror_video {
	transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}