
	<!-- Only show avater picture when there is only audio from the user -->
	<img [src]="imageAddress + connection!.targetId" class="call-profile"
		[hidden]="hasVideo()">
 	<!-- Its important that the video element is hidden, not removed when there is no video, because it is used to play the audio -->
	<video id="video" #confVideo autoplay playsinline="true" #streamPlayer [hidden]="!hasVideo()" [ngClass]="{'call-content': true, 'mirror_video': mirrorVideo }" [volume]=volume></video>

	<!-- <button id="pipBtn" (click)="togglePicInPicMode()" #pipBtn class="btn btn-lg btn-primary">Enter Picture-in-Picture mode</button> -->
