<app-left-sidebar></app-left-sidebar>
<span class="main-layout-content">
    <app-header-two></app-header-two>
    <router-outlet></router-outlet>
    <!-- <app-chatbar></app-chatbar> -->
    <app-chat></app-chat>
</span>



