<div class="clear"></div>
<div class="col-sm-6 col-xs-12 pr-4">
</div>
<div [hidden]="tablehide">
    <div class="col-6">
        <h5 class="main-heading">Companies</h5>
    </div>
    <div class="row px-3">
        <div class="col-sm-6 col-xs-12">
            <div class="position mb-3">
                <input (keyup)="filter($event)" placeholder="Search" #input class="form-control">
                <div class="search-icon">
                    <mat-icon>search</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 pr-4">
            <button mat-raised-button color="primary" style="float:right;" (click)="funviewCompany()">view
                Company</button>
            <button mat-raised-button color="primary" style="float:right;" (click)="funeditCompany()">Edit
                Company</button>
            <button mat-raised-button color="primary" style="float:right;" (click)="funaddCompany()">Add
                Company</button>


        </div>
    </div>
    <div class="col-md-12">
        <div class="table-width">

            <table mat-table [dataSource]="dataSource" matSort
                class="full-table-width mat-elevation-z8 filter-header remove-header-color tblwidth"
                id="contentToConvert">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="telnumber">
                    <th style="padding-right: 10px;" mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-nameconcat" matTooltip="{{ element.phone_number }}">
                            {{element.phone_number}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <button mat-icon-button id="schemeToggle" [style.overflow]="'visible'" matTooltip="Edit"
                            class="" (click)="funEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>


<div [hidden]="addSubCompanies">
    <div class="other-fields">
        <h4 class="main-heading">Company Details</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" [disabled]="isdisabledname" #focusitem matInput
                            [(ngModel)]="companyname" (keydown.space)="funpreventSpace($event)" maxlength="100" autocomplete="off" placeholder="Name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="number" matInput [disabled]="isdisabled" [(ngModel)]="companyphoneno"
                            maxlength="100" autocomplete="off" (keypress)="funAllowOnlyNumber($event)"
                            placeholder="Phone Number" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="domain" matInput [disabled]="isdisabled" [(ngModel)]="domain"
                            maxlength="100" autocomplete="off" placeholder="Domain" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [disabled]="isdisabled" [(ngModel)]="companyfacebook"
                            maxlength="100" autocomplete="off" placeholder="Facebook" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [disabled]="isdisabled" [(ngModel)]="companylinkedin"
                            maxlength="100" autocomplete="off" placeholder="Linkedin" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [disabled]="isdisabled" [(ngModel)]="companytwitter"
                            maxlength="100" autocomplete="off" placeholder="Twitter" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input matInput id="number" matInput [disabled]="isdisabled" [(ngModel)]="companyyoutube"
                        maxlength="100" autocomplete="off" (keypress)="funAllowOnlyNumber($event)"
                        placeholder="Youtube" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="">
                    <mat-form-field class="example-full-width">
                        <input matInput id="fname" matInput [disabled]="isdisabled" [(ngModel)]="companyinsta"
                            maxlength="100" autocomplete="off" placeholder="Instagram" />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-9">
                <mat-form-field class="example-full-width">
                    <textarea matInput id="add" matInput [disabled]="isdisabled" [(ngModel)]="companyaddress" rows="1"
                        maxlength="500" autocomplete="off" placeholder="Address"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <span class="col-md-3 chk-bx">View Company Branch Departments :</span>
            <div class="col-md-3" style="margin-top: 11px;">
                <mat-checkbox [(ngModel)]="groupcompanybranchdep" [disabled]="isdisabled" color="primary"
                    (change)="companybranchCheck($event)">
                </mat-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top: 11px;">
                <mat-checkbox [(ngModel)]="database" color="primary" [disabled]="isdisabled"
                    (change)="selectservercheck($event)">DataBase
                    Connection
                </mat-checkbox>
            </div>
            <div class="col-md-3" [hidden]=dbconncheck>
                <mat-form-field class="example-full-width">
                    <input matInput id="db" matInput [(ngModel)]="dbconnection" [disabled]="isdisabled" maxlength="100"
                        autocomplete="off" placeholder="DataBase Connection" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top: 11px;">
                <mat-checkbox [(ngModel)]="companycheck" color="primary" [disabled]="isdisabled"
                    (change)="selectcheck($event)">Sub-Companies
                </mat-checkbox>
            </div>
            <div class="col-md-3" [hidden]=countcheck>
                <mat-form-field class="example-full-width">
                    <input matInput id="txtbx" matInput [(ngModel)]="companycount" [disabled]="isdisabled"
                        maxlength="100" (keypress)="funAllowOnlyNumber($event)" autocomplete="off"
                        placeholder="Sub-Company Count" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top: 11px;">
                <mat-checkbox [(ngModel)]="branchcheck" color="primary" [disabled]="isdisabled"
                    (change)="selectbranchcheck($event)">Branches
                </mat-checkbox>
            </div>
            <div class="col-md-3" [hidden]=countbranchcheck>
                <mat-form-field class="example-full-width">
                    <input matInput id="branchtxtbx" matInput [(ngModel)]="branchcount" [disabled]="isdisabled"
                        maxlength="100" (keypress)="funAllowOnlyNumber($event)" autocomplete="off"
                        placeholder="Branch Count" />
                </mat-form-field>
            </div>
        </div>
        <div class="fieldset col-md-12 mt-3">
            <legend> Company Contacts:</legend>
            <div class="p-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Business Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="bdname" matInput [disabled]="isdisabled" [(ngModel)]="businessname"
                                    maxlength="100" autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="bdemail" matInput [disabled]="isdisabled"
                                    [(ngModel)]="businessmail" maxlength="100" autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="bpno" matInput [disabled]="isdisabled" [(ngModel)]="businessphnno"
                                    maxlength="100" autocomplete="off" (keypress)="funAllowOnlyNumber($event)"
                                    placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Legal Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="ldname" matInput [disabled]="isdisabled" [(ngModel)]="legalname"
                                    maxlength="100" autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="ldemail" matInput [disabled]="isdisabled" [(ngModel)]="legalemail"
                                    maxlength="100" autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="ldpno" matInput [disabled]="isdisabled" [(ngModel)]="legalphnno"
                                    maxlength="100" autocomplete="off" (keypress)="funAllowOnlyNumber($event)"
                                    placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Corporate Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="cdname" matInput [disabled]="isdisabled"
                                    [(ngModel)]="corporatename" maxlength="100" autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="cdemail" matInput [disabled]="isdisabled"
                                    [(ngModel)]="corporateemail" maxlength="100" autocomplete="off"
                                    placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="cdpno" matInput [disabled]="isdisabled"
                                    [(ngModel)]="corporarephnno" maxlength="100" autocomplete="off"
                                    (keypress)="funAllowOnlyNumber($event)" placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="bdetails">
                            Career Details :
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="crname" matInput [disabled]="isdisabled" [(ngModel)]="careername"
                                    maxlength="100" autocomplete="off" placeholder="Name" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="customeremail" matInput [disabled]="isdisabled"
                                    [(ngModel)]="careeremail" maxlength="100" autocomplete="off" placeholder="Email" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="">
                            <mat-form-field class="example-full-width">
                                <input matInput id="crpno" matInput [disabled]="isdisabled" [(ngModel)]="careerphnno"
                                    maxlength="100" autocomplete="off" (keypress)="funAllowOnlyNumber($event)"
                                    placeholder="Phone Number" />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 px-3">
            <div class="col-sm-6 col-xs-12">
            </div>
            <div class="col-sm-6 col-xs-12 text-right">
                <button mat-raised-button style="margin-right: 16px;" (click)="fungetCompanies()">Cancel</button>
                <button [hidden]="savebtn" mat-raised-button color="primary" class="mgrt-15"
                    (click)="funSaveCompany()">Save</button>
                <button [hidden]="updbtn" mat-raised-button color="primary" class="mgrt-15"
                    (click)="funUpdcompany()">Update</button>
                <button [hidden]="updbtns" mat-raised-button color="primary" class="mgrt-15"
                    (click)="funUpdatecompany()">Update</button>
            </div>
        </div>
    </div>
</div>