.btn-right {
    text-align: right;
  }
  
  .other-fields {
    border: 1px solid #bebaba;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 26px;
  }
  
  .tblwidth {
    width: -webkit-fill-available;
  }
  
  .table-width {
    border: 1px solid #bebaba;
  }
  
  .top-sub-bar {
    margin-top: 20px !important;
  }
  
  .btnsty {
    position: absolute;
    margin-left: 870px;
  }
  
  .table-nameconcat {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }
  
  .bdetails{
    margin-right: 63px;
    margin-top: 22px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .bheader {
    color: black;
    font-weight: bold;
    font-size: large;
  }
  
  .check-box {
    margin-top: 29px;
  }
  
  .filter{
    position: absolute;
    margin-left: 40px;
  }
  
  .center-align {
    text-align: center;
    padding-top: 50px;
    min-height: 200px;
  }
  
  .example-form-field {
    width: 200px;
  }

  .chk-bx{
    margin-top: 9px;
    font-size: 16.5px;
  }