/*
Encapsulating container
*/
.grid-container {
	
	/*width: 95%;
	height: 100%;*/
  position: relative;
	margin: auto;
}
/*
Class of the outer of each room, this element gets positioned by the office layout
*/
.grid-room{
	position: absolute;
	/*z-index: 4;*/
	padding: 0.5vw;
	
	/*overflow: hidden;	*/
}

.grid-room-title-main {
	/*padding: 20px 25px 5px 25px;*/
	/*padding: 1vh 1vh 0.1vh 1vh;*/
	/*height: 100px;*/
	height: 4em;
}
.grid-room-title-main h3 {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 15px 0;
    padding: 0;
}
.grid-room-item {
	position: relative;
	flex: 0 0;
	/*overflow: hidden;*/
	/*flex-basis: 25%;*/
	
    display: flex;
    align-items: center;
    /*flex: 0 0;
    flex-basis: 8vw;    
    
    height: 8vw;*/
   /* margin: 0 auto 30px auto;
    padding: 0 0.5vw;*/
}
/*.grid-room-main-thumb {
    flex-basis: 140px;    
    max-width: 140px;
}*/
.grid-room-person-thumb {
    /*flex-basis: 5.2vw;    
    max-width: 5.2vw;*/
}
/*
Inner part of a room
*/
.grid-room-inner {
	
	width: 100%;
	height: 100%;
	
    float: left;
    position: relative;
    background: #fff;
    border: 2px solid #544EF6;/* old color BAB8FB */ 
    border-radius: 8px;
    padding: 2%;
    /*padding: 20px 25px 5px 25px;*/
    
    /*display: flex;
    flex-direction: column;
    justify-content: space-around*/;
    /*margin: 0 0 30px 0;*/
}

.room-content {
	
	width: 100%;
	/*height: calc(100% - 4em);*/
    display: flex;
    /*align-items: flex-end;*/
    flex-wrap: wrap;
	justify-content: center;
	/*padding: 1%;
	padding: 0 25px;
	position: absolute;
	bottom: 0;*/
}
.room-header {
	
	width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	justify-content: center;
}

.grid-room-title-main .right-click-button {
    position: relative;
    float: right;
    z-index: 100;
}
.grid-room-title-main .right-click-button button {
    width: 100%;
    float: left;
    position: relative;
    background: #fff;
    border: 2px solid #DDDBFD;
    border-radius: 6px;
    /*padding: 10px 15px;*/
    line-height: 1;
    outline: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
/*
.office-avater {
    
	justify-content: center;
    float: left;
    display: flex;
    align-items: center;
}
.office-avater-img {
	width: 80%;
    height: 80%;
    border-radius: 40%;
    object-fit: contain;  
}

*/

.grid-preview{
	position: absolute;
	border: solid;
	z-index: 10;
	border-radius: 4px;
	background-color: yellow;
}
.grid-preview-can-place{
	color: black;
}
.grid-preview-cannot-place{
	color: red;
}
.grid-cell{
	position: absolute;
	border-radius: 4px;
}

.grid-overlay{
	
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -3;
	pointer-events: none;
}
.grid-inner-cell{
	
	width: 90%;
	height: 90%;
	margin: 5%;
	border: solid;
	border-radius: 4px;
	border-color: black;
	position: absolute;
	opacity: 30%;
	color: black;
}