
 
<div class="grid-container" #gridContainer>
	
	<app-office-element *ngFor="let room of rooms | keyvalue" class="grid-room"  [room]="room.value">
		
		<div *ngIf="editMode" style="position: absolute; top: 0; right: 0; background-color: white; z-index: 10000">
		  <button (click)="changeRoomSize(room.value.id , -1 , 0)" (mouseup)="emptyMouseUp($event)">x -</button>
		  {{ room.value.width }}
		  <button (click)="changeRoomSize(room.value.id , 1 , 0)" (mouseup)="emptyMouseUp($event)">x +</button>
		  <button (click)="changeRoomSize(room.value.id , 0 , -1)" (mouseup)="emptyMouseUp($event)">y -</button>
		   {{ room.value.height }}
		  <button (click)="changeRoomSize(room.value.id , 0 , 1)" (mouseup)="emptyMouseUp($event)">y +</button> 
		  {{ room.value.size }}
		</div>
		<div class="grid-room-inner">
		
			<div class="grid-room-title-main" >
            	<h3>{{ room.value.name }}</h3>
            	
            	<div class="right-click-button" *ngIf="room.value.type !='de' || isOwnRoom(room.value)">
                	<button type="button" (click)="enterRoom($event, room.value)" (mouseup)="$event.stopPropagation();">
                		<img src="assets/images/click-icon.png" >
                	</button>
				</div>
            </div>
        	
			<div class="room-header" *ngIf="room.value.type =='of'">
				<app-room-slot class="grid-room-item grid-room-main-thumb" 
					[userId]="room.value.owner"  [isSeated]="true"><!-- room.value.slots[0] != -1 -->
				</app-room-slot>
			</div>
				<div class="room-content" *ngIf="room.value.type =='de'" [style.height]="'calc(' + (cellSizeY * (room.value.height - 1)) + 'vw '">				
		        	<app-room-slot  *ngFor="let slot of slotList(room.value) ; index as i" class=" grid-room-item grid-room-person-thumb" 
		        		[userId]="room.value.workspaces[i]" [isSeated]="true" [room]="room.value"><!-- slot != -1 -->
		        	</app-room-slot>                    
	      </div>
	      <!-- Not used at the moment -->
	     	<div class="room-content" *ngIf="room.value.type !='de'" [style.height]="100.0 - (100.0 / room.value.height) + '%'">				
	        <app-room-slot  *ngFor="let slot of slotList(room.value)" class=" grid-room-item grid-room-person-thumb team-members-box" 
		       [userId]="slot" [isSeated]="true" [room]="room.value"><!-- slot != -1 -->
	        </app-room-slot>                    
	      </div>
    	</div>
    	
	</app-office-element>
	
</div>
<div class="grid-overlay" #gridOverlay [style.display]="showGrid ? 'block' : 'none'">

</div>