<div style="position: relative;top:10%" >
	First Name: <input type="text" [(ngModel)]="firstName">
	Last Name: <input type="text" [(ngModel)]="lastName">
	<select [(ngModel)]="selectedDesignation">
		<option *ngFor="let designation of userService.getDesignationArray()" [(ngValue)]="designation.id">
	    {{ designation.name }}
	  </option>
  </select>
  {{  getMail() }}
  
  <button (click)="createUser()">Create</button>
</div>