<!-- Prolog
Owner:Baburao M
Created Date:11/02/2020
Content:Side Panel with menu item navigation all paes 
End-->

<!-- Navigation menu section start -->
<section id="lower-office-view-scroll" class="lower-office-view-admin">
    <div class="container">
        <div class="main-contain-with-sidebar">
            <div class="row">
                <div class="left-side-nav-col-3">
                    <div id="left-side-navigation-scroll" class="left-side-navigation-main">
                        <ul>
                            <li>
                                <a [routerLink]="[ 'admin']">
                                    <button type="button">Dashboard</button>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <button type="button">Roles</button>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <button type="button">Add Company</button>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="[ 'admin/company']">
                                    <button type="button">Add Branch</button>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="[ 'admin/createemployee']">
                                    <button type="button">Add Employee</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="p-3">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Navigation end -->
<!-- left side bar -->
<app-left-sidebar></app-left-sidebar>
<!-- left side bar -->